<%= form_with(model: empire_state_list, local: true) do |form| %>
  <% if empire_state_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empire_state_list.errors.count, "error") %> prohibited this empire_state_list from being saved:</h2>

      <ul>
      <% empire_state_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :st %>
      <%= form.text_field :st, id: :empire_state_list_st %>
    </div>
    <div class="field">
      <%= form.label :list %>
      <%= form.file_field :list, id: :empire_state_list_list %>
    </div>
    <div class="field">
      <%= form.label :list_upload %>
      <%= form.file_field :list_upload, id: :empire_state_list_list_upload %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>

  <% end %>
