

<%= simple_form_for(@empire_state_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :st, label: 'State', as: :select, collection: @states %>
    <%#= f.input :tilte %>
    <%= f.input :cost %>
    <%= f.input :notes %>
    <%= f.input :list_upload, label: 'List', as: :file %>
    <%= f.input :receipt_upload, label: 'Receipt', as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit List', class: 'btn btn-primary' %>
  </div>
<% end %>
