<p id="notice"><%= notice %></p>

<div class="well text-center">
  <h1>Empire State Lists</h1>
  <div class="text-center down20">
    <%= link_to 'Add New List', new_empire_state_list_path, class: 'btn btn-primary' %>
  </div>
</div>


<div class="down20">

<table class="table table-outline table-stripped">
  <thead>
    <tr>
      <th>St</th>
      <!-- <th>Tilte</th> -->
      <!-- <th>Cost</th> -->
      <th>Notes</th>
      <!-- <th>Extra s</th> -->
      <th>List file name</th>
      <th>List updated at</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @empire_state_lists.each do |empire_state_list| %>
      <tr>
        <td><%= empire_state_list.st %></td>
        <!-- <td><%#= empire_state_list.tilte %></td> -->
        <!-- <td><%#= empire_state_list.cost %></td> -->
        <td><%= empire_state_list.notes %></td>
        <td><%= empire_state_list.list_upload_file_name %></td>
        <td><%= empire_state_list.list_upload_updated_at.present? ? empire_state_list.list_upload_updated_at.strftime('%-m/%-d/%y') : '' %></td>
        <td><a class="btn btn-default" target="_blank" href="<%= empire_state_list.list_upload %>"><i class="glyphicon glyphicon-download-alt" ></i> List</a></td>
        <td><a class="btn btn-default" target="_blank" href="<%= empire_state_list.receipt_upload %>"><i class="glyphicon glyphicon-download-alt" ></i> Receipt</a></td>
        <td><%= link_to 'Show', empire_state_list %></td>
        <td><%= link_to 'Edit', edit_empire_state_list_path(empire_state_list) %></td>
        <td><%= link_to 'Delete', empire_state_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
