<p id="notice"><%= notice %></p>

<!-- <div class="well jumbotron text-center">
  <h1>Course Details</h1>
  <p><%= @datasheet.seq_number %><%= @datasheet.seq_version %> - <%= @datasheet.seq_title %></p>
</div> -->
</br>
<div class="col-lg-offset-2 col-lg-8">
  <h3 class="text-center"><strong><%= @datasheet.seq_number %><%= @datasheet.seq_version %> - <%= @datasheet.seq_title %></strong></h3>
<%= link_to 'Back to Index', datasheets_path, class: 'btn btn-primary' %> <%= link_to 'Edit Course', edit_datasheet_path(@datasheet), class: 'btn btn-primary' %>
</br>
</br>
<div class="well well-white">
  <!-- <h2><strong>Course</strong></h2> -->
<!-- </br> -->

<% if @datasheet.active == true %>
  <h4 class="green"><strong>Active Course</strong></h4>
  <% elsif %>
  <h4 class="red"><strong>Inactive Course</strong></h4>
<% end %>
</br>
<div class="row">
<div class="col-lg-4">
<p>
  <strong>Number:</strong>
  <%= @datasheet.seq_number %>
</p>
<p>
  <strong>Current Version:</strong>
  <%= @datasheet.seq_version %>
</p>
<p>
  <strong>Title:</strong>
  <%= @datasheet.seq_title %>
</p>
<p>
  <strong>Category:</strong>
  <%= @datasheet.category %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @datasheet.hours %>
</p>
</div>
<div class="col-lg-4">

<p>
  <strong>PES Number:</strong>
  <%= @datasheet.pes_number != 0 ? @datasheet.pes_number : 'Not PES Course'%>
</p>

<p>
  <strong>PES Current Version:</strong>
  <%= @datasheet.pes_number != 0 ? @datasheet.pes_version : 'N/A'%>
</div>

<div class="col-lg-4">

<p>
  <strong>Publication Date:</strong>
  <%= @datasheet.pub_date.blank? == false ? @datasheet.pub_date.strftime('%-m/%-d/%y') : 'n/a' %>
</p>

<p>
  <strong>Sequoia Last Update:</strong>
  <%= @datasheet.seq_update.blank? == false && @datasheet.seq_update.strftime('%-m/%-d/%y') != '1/1/13' && @datasheet.seq_update.strftime('%-m/%-d/%y') != @datasheet.seq_original_list.strftime('%-m/%-d/%y') ? @datasheet.seq_update.strftime('%-m/%-d/%y') : 'N/A' %>
</p>

<p>
  <strong>Original listing Date:</strong>
  <%= @datasheet.seq_original_list.blank? == false && @datasheet.seq_original_list.strftime('%-m/%-d/%y') != '1/1/13' ? @datasheet.seq_original_list.strftime('%-m/%-d/%y') : 'N/A' %>
</p>

</div>
</div>
</br>
</br>
<p>
  <strong>Addtional Course Note:</strong>
  <%= @datasheet.course_note.blank? == false ? @datasheet.course_note : 'N/A'%>
</p>
</br>

<% if @datasheet.active == false %>
  <div class="well ">
</br>
    <p>
      <strong>Date Dropped:</strong>
      <%= @datasheet.drop_date.blank? == false ? @datasheet.drop_date.strftime('%-m/%-d/%y') : 'n/a' %>
    </p>

    <p>
      <strong>Reason Course Was Dropped:</strong>
      <%= @datasheet.drop_reason.blank? == false ? @datasheet.drop_reason : 'N/A' %>
    </p>
  </div>
<% end %>

<% if @datasheet.needs_approval == true %>
  <div class="well well-white ">
  <h4><strong>Course Needs Specific aproval</strong></h4>
    <p>
      <!-- <strong>Has Approval:</strong> -->
      <%= @datasheet.has_approval == true ? 'Has Approval' : 'Does not have approval' %>
    </p>
    <p>
      <!-- <strong>Reason Course Was Dropped:</strong> -->
      <%= @datasheet.approval_info %>
    </p>
  </div>
  </br>
<% end %>
</br>

<div class="row">
  <div class="well well-white col-lg-10 col-lg-offset-1">
  <h3 class="text-center">Older Version Publication Dates</h3>
  <h4 class="text-center">Average Time Between Publications: <strong><%= @time_between.blank? == false ? "#{@time_between} Days" : 'n/a' %> </strong></h4>
  <div class="col-lg-4">
    <p><%= @datasheet.version_a.blank? == false && @datasheet.seq_version > 'A' ? "Version A: #{@datasheet.version_a.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_b.blank? == false && @datasheet.seq_version > 'B' ? "Version B: #{@datasheet.version_b.strftime('%-m/%-d/%y')}" : ''  %></p>
    <p><%= @datasheet.version_c.blank? == false && @datasheet.seq_version > 'C' ? "Version C: #{@datasheet.version_c.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_d.blank? == false && @datasheet.seq_version > 'D' ? "Version D: #{@datasheet.version_d.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_e.blank? == false && @datasheet.seq_version > 'E' ? "Version E: #{@datasheet.version_e.strftime('%-m/%-d/%y')}" : '' %></p>
  </div>
  <div class="col-lg-4">
    <p><%= @datasheet.version_f.blank? == false && @datasheet.seq_version > 'F' ? "Version F: #{@datasheet.version_f.strftime('%-m/%-d/%y')}" : ''  %></p>
    <p><%= @datasheet.version_g.blank? == false && @datasheet.seq_version > 'G' ? "Version G: #{@datasheet.version_g.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_h.blank? == false && @datasheet.seq_version > 'H' ? "Version H: #{@datasheet.version_H.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_i.blank? == false && @datasheet.seq_version > 'I' ? "Version I: #{@datasheet.version_i.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_j.blank? == false && @datasheet.seq_version > 'J' ? "Version J: #{@datasheet.version_j.strftime('%-m/%-d/%y')}" : ''  %></p>
  </div>
  <div class="col-lg-4">
    <p><%= @datasheet.version_k.blank? == false && @datasheet.seq_version > 'K' ? "Version K: #{@datasheet.version_k.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_l.blank? == false && @datasheet.seq_version > 'L' ? "Version L: #{@datasheet.version_l.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_m.blank? == false && @datasheet.seq_version > 'M' ? "Version M: #{@datasheet.version_m.strftime('%-m/%-d/%y')}" : '' %></p>
    <p><%= @datasheet.version_n.blank? == false && @datasheet.seq_version > 'N' ? "Version N: #{@datasheet.version_n.strftime('%-m/%-d/%y')}" : '' %></p>
  </div>
</div>
</div>

</div> <!--Well end -->
