<p id="notice"><%= notice %></p>

<div class="display-none">
<div class="page-header ">
</br>
  <h1 class="text-center"><strong><%= @mailing.name %> - <%= @mailing.who %></strong>
  </br>
  <small>
    <% if @mailing.complete == true %>
      Landed: <%= (@mailing.drop + 10).strftime('%-m/%-d/%Y') %>
    <% elsif @mailing.complete == false && @mailing.boolean_1 == true %>
      Landing: <%= (@mailing.drop + 10).strftime('%-m/%-d/%Y') %>
    <% elsif %>
      Planned Drop Date: <%= (@mailing.drop).strftime('%-m/%-d/%Y') %>
    <% end %>
  </small>

</h1>
  <div class="btn-group">
    <%= link_to 'Edit Mailing', edit_mailing_path(@mailing), class: 'btn btn-default' %>
    <%= link_to 'Mailing Index', mailings_path, class: 'btn btn-default' %>
  </div>
</div>


<% if @mailing.complete == true %>
  <h4 class="text-center green_text">This mailing is complete</h4>
<% elsif @mailing.complete == false && @mailing.boolean_1 == true %>
  <h4 class="text-center green_text">Materials have been sent (waiting for invoice)</h4>
<% elsif %>
  <h4 class="text-center red_text">This mailing is in-progress</h4>
<% end %>

<div class="col-sm-4">


  <div class="btn-group display-none">
    <a class="btn btn-primary" target="_blank" href="<%= @mailing.msi_art %>"><i class="glyphicon glyphicon-download-alt" ></i> Art</a>
    <a class="btn btn-primary" target="_blank" href="<%= @mailing.msi_data %>"><i class="glyphicon glyphicon-download-alt" ></i> Data</a>
    <%= link_to raw('<i class="glyphicon glyphicon-download-alt" ></i> Schedule'), mailing_path(@mailing, :format => 'pdf'), class: 'btn btn-primary', target: '_blank'%>
    <a class="btn btn-primary" target="_blank" href="<%= @mailing.msi_invoice %>"><i class="glyphicon glyphicon-download-alt" ></i> Invoice</a>
  </div>
<br>
<br>
<p>
  <% if @mailing.msi_art.url =~/missing/ %>
    <span class="red">No Art,</span>
  <% elsif %>
    <span class="green">Has Art,</span>
  <% end %>
  <% if @mailing.msi_data.url =~/missing/ %>
    <span class="red">No Data,</span>
  <% elsif %>
    <span class="green">Has Data,</span>
  <% end %>
  <% if @mailing.msi_invoice.url =~/missing/ %>
    <span class="red">No Invoice</span>
  <% elsif %>
    <span class="green">Has Invoice</span>
  <% end %>
</p>


<br>
<iframe src= <%= @mailing.msi_art.url %> width="100%" height="500px" style="border: none;"> </iframe>
<br>
</div>



<!-- <p>
  <strong>Name:</strong>
  <%= @mailing.name %>
</p> -->
<div class="col-sm-4">
  <div class="well">
    <h2 class="text-center">Mailing</h2>
<p>
  <strong>Drop Date:</strong>
  <%= @mailing.drop.strftime('%-m/%-d/%y') %>
</p>
<p>
  <strong>Mail House:</strong>
  MSI
</p>

<% if @mailing.quantity_sent.nil?  == false %>
  <p>
    <strong>Final Quantity:</strong>
    <%= number_with_delimiter(@mailing.quantity_sent, :delimiter => ',') %>
  </p>
<% end %>
<p>
  <strong>Sent To:</strong>
  <%= @mailing.who %>
</p>

<p>
  <strong>Type:</strong>
  <%= @mailing.what %>
</p>

<% if @mailing.data_name.empty?  == false %>
  <p>
    <strong>Data:</strong>
    <%= @mailing.data_name %>
  </p>
<% end %>

<% if @mailing.art_name.empty? == false %>
  <p>
    <strong>Art:</strong>
    <%= @mailing.art_name %>
  </p>
<% end %>


<%= render 'form_mailing_info', mailing: @mailing %>
<!-- <%= link_to 'Edit Mailing', edit_mailing_path(@mailing), class: 'btn btn-default' %> -->

</div>

<div class="well">
  <h2 class="text-center">Cost</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#total">Total Cost</a></li>
    <li><a data-toggle="tab" href="#unit">Unit Cost</a></li>
    <li><a data-toggle="tab" href="#data">Enter Final Costs</a></li>
  </ul>
  <div class="tab-content">
    <div id="total" class="tab-pane fade in active">
    </br>
    <% if @mailing.complete == true %>
    <!-- Completed == true -->
      <p>
        <strong>Total Cost:</strong>
        <% if @mailing.cost_print.nil? || @mailing.cost_postage.nil? || @mailing.cost_service.nil? %>
          n/a
        <% elsif %>
          <%= number_to_currency((@mailing.cost_service + @mailing.cost_print + @mailing.cost_postage), precision: 0) %>
        <% end %>
      </p>

      <p>
        <strong>Service:</strong>
        <% if @mailing.cost_service.nil? %>
          n/a
        <% elsif %>
          <%= number_to_currency(@mailing.cost_service, precision: 0) %>
        <% end %>
      </p>

      <p>
        <strong>Print:</strong>
        <% if @mailing.cost_print.nil? %>
          n/a
        <% elsif %>
          <%= number_to_currency(@mailing.cost_print, precision: 0) %>
        <% end %>
      </p>

      <p>
        <strong>Postage:</strong>
        <%= number_to_currency(@mailing.cost_postage, precision: 0) %>
          </p>
    <% elsif @mailing.complete == false %>
          <!-- Completed == true -->
        <p class="text-center green"> Mailing is not complete</br>These are estimated costs</p>

      <% if @mailing.estimate_quanity.nil? || @mailing.estimate_cost.nil? %>
          <%= render 'form_estimates', mailing: @mailing %>
          <% elsif %>
        <p>
          <strong>Esitmated Quanity:</strong>
            <%= number_with_delimiter(@mailing.estimate_quanity, delimiter: ',') %>
        </p>
        <p>
          <strong>Esitmated Cost:</strong>
            <%= number_to_currency((@mailing.estimate_quanity * @mailing.estimate_cost), precision: 0) %>
          <% end %>
        </p>
    <% end %>
    </div>

      <div id="unit" class="tab-pane fade">
      </br>
        <p>
          <strong>Total Cost:</strong>
          <% if @mailing.cost_print.nil? || @mailing.cost_postage.nil? || @mailing.cost_service.nil? || @mailing.quantity_sent.nil? %>
            n/a
          <% elsif %>
            <%= number_to_currency(((@mailing.cost_service + @mailing.cost_print + @mailing.cost_postage) / @mailing.quantity_sent), precision: 3) %>
          <% end %>
        </p>

        <p>
          <strong>Service Cost:</strong>
          <% if @mailing.cost_service.nil? || @mailing.quantity_sent.nil? %>
            n/a
          <% elsif %>
            <%= number_to_currency((@mailing.cost_service/@mailing.quantity_sent), precision: 3) %>
          <% end %>
        </p>

        <p>
          <strong>Print Cost:</strong>
          <% if @mailing.cost_print.nil? || @mailing.quantity_sent.nil? %>
            n/a
          <% elsif %>
            <%= number_to_currency((@mailing.cost_print/@mailing.quantity_sent), precision: 3) %>
          <% end %>
        </p>

        <p>
          <strong>Postage Cost:</strong>
          <% if @mailing.cost_print.nil? || @mailing.quantity_sent.nil? %>
            n/a
          <% elsif %>
            <%= number_to_currency((@mailing.cost_postage/@mailing.quantity_sent), precision: 3) %>
          <% end %>
        </p>
      </div>

      <div id="data" class="tab-pane fade">
      <br>
        <%= render 'form_cost_data', mailing: @mailing %>
    </div>

    </div>

</div>

  <!-- <div class="well well-white">
    <h2 class="text-center">People</h2>
  </div> -->
</div>

<div class="col-sm-4">
  <div class="well well-white">
    <h2 class="text-center">Document Uploading</h2>
      <%= render 'form_upload_docs', mailing: @mailing %>
  </div>

  <div class="well well-white">
    <h2 class="text-center">Notes</h2>
      <% if @mailing.note_2.empty? %>
        <%= render 'form_notes', mailing: @mailing %>
      <% elsif @mailing.note_2.empty? == false && @mailing.note_3.empty? %>
      <p>
        <strong>Mailing Note:</strong>
        <%= @mailing.note_2 %>
      </p>
        <%= render 'form_notes', mailing: @mailing %>
      <% elsif @mailing.note_2.empty? == false && @mailing.note_3.empty? == false %>
      <p>
        <strong>Mailing Note:</strong>
        <%= @mailing.note_2 %>
      </p>

      <p>
        <strong>Mailing Note:</strong>
        <%= @mailing.note_3 %>
      </p>

      <% end %>
  </div>

  <!-- <div class="well well-white">
    <h2 class="text-center">Results</h2>
  </div> -->
</div>
</div>

<div class="print-only">
  <h4 class="text-right"><%= Date.today.strftime('%-m/%-d/%y') %></h4>
  <h1 class="text-center">Sequoia CPE Mailing Schedule</h1>
  <h2 class="text-center"><%= @mailing.name %> - <%= @mailing.who %></h2></br>
  <h4 class="text-center">Drop Date: <%= @mailing.drop.strftime('%-m/%-d/%y') %> </h4>

  <table class="table table-hover">
    <thead>
      <tr>
      <!-- <th><strong >Mail:</strong></th> -->
        <th><strong>Title:</strong></th>
        <th><strong>Drop Date:</strong></th>
        <th><strong>Quantity:</strong></th>
        <th><strong>Art File:</strong></th>
        <th><strong>Data File:</strong></th>
    </thead>

    </tbody>
        <td><%= @mailing.name %></td>
        <td><%= @mailing.drop.strftime('%m/%d/%y') %></td>
        <td><%= number_with_delimiter(@mailing.integer_1) %></td>
        <!-- Art File Name -->
        <% if @mailing.art_name.empty? == false %>
        <td> <%= @mailing.art_name %></td>
        <% end %>
        <% if @mailing.data_name.empty? == false %>
        <td> <%= @mailing.data_name %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </br>
  <p><%= @mailing.msi_note.html_safe %></p>
</div>
