<%= simple_form_for(@seq_no_mail) do |f| %>

  <%= f.error_notification %>
</br>
<div class="well well-white col-lg-offset-3 col-lg-6">
</br>
<div class="">
  <div class="col-lg-offset-2">
    <%= f.input :date_added, label: false %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-4">
    <%= f.input :first_name, label: false, placeholder: 'First Name' %>
    <%= f.input :mi, label: false, placeholder: 'Middle Initial' %>
    <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
    <%= f.input :suf, label: false, placeholder: 'Suf' %>
    <%= f.input :co, label: false, placeholder: 'Company' %>

  </div>
  <div class="col-lg-4">
    <%= f.input :address, label: false, placeholder: 'Address' %>
    <%= f.input :address_2, label: false, placeholder: 'Address 2' %>
    <%= f.input :city, label: false, placeholder: 'City' %>
    <%= f.input :state, label: false, placeholder: 'State' %>
    <%= f.input :zip, label: false, placeholder: 'Zip' %>
  </div>
</div>
</br>
</br>

<div class="row">
  <div class=" col-lg-offset-2 col-lg-2">
    <%= f.input :extra_b, label: 'Customer?', as: :radio_buttons, :checked => ['No', false] %>
  </div>
    <div class="col-lg-2">
    <%= f.input :extra_i, label: 'UID', placeholder: '' %>
  </div>
</div>
</br>
<div class="row">
  <div class=" col-lg-offset-2 col-lg-3">
    <%= f.input :remove, label: 'Remove from list?', as: :radio_buttons, :checked => ['Yes', true] %>
  </div>
</div>
<!-- </br> -->
</br>
<div class="row">
<div class="col-lg-offset-2 col-lg-8">
    <%= f.input :extra_s, label: false, placeholder: 'Reason for wanting off the mailing list - write "Change" for Address Change only', as: :text %>
</br>
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  </br>
  </br>
  </div>
  </div>
  </div>

    <% end %>
