<p id="notice"><%= notice %></p>

<h1 class="text-center">Sequoia No Mails - Can't Find</h1>
<h2 class="text-center"><u>CPA and EA</u></h2>

<!-- <h3>Upload CSV File</h3>
  <%= form_tag import_seq_no_mails_path, multipart: true do %>
  <%= file_field_tag :file %>
</br>
  <%= submit_tag 'Upload', class: 'btn btn-primary' %>
<% end %> -->
</br>
<div class="row">
<div class="col-md-3">
  <%= link_to "Add New Can't Find", new_seq_no_mail_path, class: 'btn btn-primary' %>
  <%#= link_to "Add Change", master_lists_path, class: '' %>
  <br><br>
  <input class="form-control" id="myInput" type="text" placeholder="Filter Table ...">

</div>
</div>
<br>

<table class="table table-hover">  <thead>
    <tr>
      <!-- <th>Action</th> -->
      <th>CPA/EA</th>
      <th>First</th>
      <th>Mi</th>
      <th>Last</th>
      <th>Suf</th>
      <th>Co</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Date added</th>
      <th>Reason</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @seq_no_mails.each do |seq_no_mail| %>
      <tr>
        <!-- <td><strong><%= seq_no_mail.change == true ? 'Change' : "Can't Find" %></strong></td> -->
        <td><%= seq_no_mail.who %></td>
        <td><%= seq_no_mail.first_name %></td>
        <td><%= seq_no_mail.mi %></td>
        <td><%= seq_no_mail.last_name %></td>
        <td><%= seq_no_mail.suf %></td>
        <td><%= seq_no_mail.co %></td>
        <td><%= seq_no_mail.address %></td>
        <td><%= seq_no_mail.address_2 %></td>
        <td><%= seq_no_mail.city %></td>
        <td><%= seq_no_mail.state %></td>
        <td><%= seq_no_mail.zip %></td>
        <td><%= seq_no_mail.date_added %></td>
        <td><%= seq_no_mail.extra_s %></td>
        <!-- <td><%= link_to 'Show', seq_no_mail %></td> -->
        <td><%= link_to 'Edit', edit_seq_no_mail_path(seq_no_mail) %></td>
        <td><%= link_to 'Delete', seq_no_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.email == 'austin@sequoiacpe.com' %>
  <%= link_to "Remove All", remove_all_seq_no_mails_path, :method => :get %> |
  <%= link_to 'Export(csv)', seq_no_mails_path('csv'), class: '' %>
<% end %>
