<div class="page-header ">
</br>
  <h1 class="text-center"><strong>No Mail</strong> </br><small><%= @seq_no_mail.date_added.strftime("%A %b %-d, %Y")%></small></h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Add Another Entry', new_seq_no_mail_path, class: 'btn btn-default' %> <%= link_to 'Back to Index', seq_no_mails_path, class: 'btn btn-default' %> <%= link_to 'Edit Entry', edit_seq_no_mail_path(@seq_no_mail), class: 'btn btn-default' %>
  </div>
</div>
</br>
<div class="col-lg-offset-2 col-lg-8">
<div class="well well-white" >
  <h3 class=""><strong>Details</strong></h3>
</br>
<p>
  <strong>Date:</strong>
  <%= @seq_no_mail.date_added.strftime('%-m/%-d/%y') %>
</p>
</br>

<p>
  <strong>First:</strong>
  <%= @seq_no_mail.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @seq_no_mail.mi %>
</p>

<p>
  <strong>Last:</strong>
  <%= @seq_no_mail.last_name %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @seq_no_mail.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @seq_no_mail.co %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seq_no_mail.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @seq_no_mail.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @seq_no_mail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @seq_no_mail.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @seq_no_mail.zip %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @seq_no_mail.extra_b == true ? 'Yes' : 'No'%>
</p>

<p>
  <strong>UID:</strong>
  <%= @seq_no_mail.extra_i.blank? == true ? 'N/A' : @seq_no_mail.extra_i %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @seq_no_mail.extra_s %>
</p>

</div>
