<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @seq_no_mail.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @seq_no_mail.mi %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @seq_no_mail.last_name %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @seq_no_mail.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @seq_no_mail.co %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seq_no_mail.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @seq_no_mail.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @seq_no_mail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @seq_no_mail.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @seq_no_mail.zip %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @seq_no_mail.date_added %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @seq_no_mail.extra_i %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @seq_no_mail.extra_b %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @seq_no_mail.extra_s %>
</p>

<%= link_to 'Edit', edit_seq_no_mail_path(@seq_no_mail) %> |
<%= link_to 'Back', seq_no_mails_path %>
