<p id="notice"><%= notice %></p>
<div class="page-header ">
</br>
  <h1 class="text-center">Empire Email Campaign Stats</h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Back to Index', email_campaigns_path, class: 'btn btn-default' %> <%= link_to 'Add New Campaign', new_email_campaign_path, class: 'btn btn-default'%>
  </div>
</div>

<%= render(:partial => 'empire_email_stats') %>
</br>
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#home_austin">See Full Campaign Data</a></li>
  </ul>
  <div class="tab-content">
    <div id="home_austin" class="tab-pane fade in">
        <%= render(:partial => 'full_data') %>
    </div>
  </div>
