<p id="notice"><%= notice %></p>
<div class="well jumbotron text-center">
  <h1>Inventories</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Version</th>
      <th>Number</th>
      <th>Date Ordered</th>
      <th>Cost</th>
      <th>Note</th>
      <!-- <th>Extra s</th>
      <th>Extra i</th>
      <th>Extra b</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.company %></td>
        <td><%= inventory.version %></td>
        <td><%= number_with_delimiter(inventory.number, delimiter: ',') %></td>
        <td><%= inventory.order.strftime('%-m/%-d/%y') %></td>
        <td><%= number_to_currency(inventory.cost) %></td>
        <td><%= inventory.note %></td>
        <!-- <td><%= inventory.extra_s %></td>
        <td><%= inventory.extra_i %></td>
        <td><%= inventory.extra_b %></td> -->
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
