<p id="notice"><%= notice %></p>

<div class="page-header ">
</br>
  <h1 class="text-center"><strong>New Order - <%= @inventory.version %></strong> </br><small>Ordered: <%= @inventory.order.strftime("%b %-d, %Y")%></small></h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Back to Index', inventories_path, class: 'btn btn-default' %> <%= link_to 'Edit Entry', edit_inventory_path(@inventory), class: 'btn btn-default' %>
  </div>
</div>
</br>
<div class="col-lg-offset-2 col-lg-8">
<div class="well well-white" >
  <h3 class=""><strong>Details</strong></h3>
</br>

  <h4>
    <strong>Company:</strong>
    <%= @inventory.company %>
  </h4>

  <h4>
    <strong>Postcard:</strong>
    <%= @inventory.version %>
  </h4>

  <h4>
    <strong>Order Date:</strong>
    <%= @inventory.order.strftime("%-m/%-d/%Y") %>
  </h4>

</br>
  <h4>
      <strong>Number:</strong>
      <%= number_with_delimiter(@inventory.number, delimiter: ',') %>
  </h4>

  <h4>
    <strong>Cost:</strong>
    <%= number_to_currency(@inventory.cost) %>
  </h4>

  <h4>
    <strong>Unit Cost:</strong>
    <%= number_to_currency(@inventory.cost/@inventory.number) %>
  </h4>
</div>
