
<%= simple_form_for(@course_creation_templete) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-2">
        <%= f.input :extra_i, label: 'Task#' %>
      </div>
      <div class="col-lg-3">
        <%= f.input :extra_s, label: 'What', as: :select, collection: ['ARELLO', 'CA', 'Dearborn'] %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <%= f.input :templete_type, label: "Task Name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <%= f.input :instruction_1, label: "Task Details" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <%= f.input :time_multiple %>
      </div>
    </div>
    <%#= f.input :instruction_2, label: "California Course" %>
    <!-- <%= f.input :extra_t %> -->
    <!-- <%= f.input :extra_d %> -->
    <!-- <%= f.input :extra_b %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit' %>
  </div>
<% end %>
