<p id="notice"><%= notice %></p>

</br>
<div class="col-lg-offset-1 col-lg-10">

    <h1 class=""><%=@course_creation_templete.extra_s%></h1>
    <h2 class=""><%=@course_creation_templete.extra_i%>. <%= @course_creation_templete.templete_type %></h2>
  </br>
    <h4><%= @course_creation_templete.instruction_1 %></h4>
  </br>
  <h4><strong>Time Multiple: </strong><%= @course_creation_templete.time_multiple %></h4>
  
    <%= link_to 'Edit', edit_course_creation_templete_path(@course_creation_templete) %> |
    <%= link_to 'Back', course_creation_templetes_path %>
</div>



<!-- <p>
  <strong>Extra s:</strong>
  <%= @course_creation_templete.extra_s %>
</p>

<p>
  <strong>Extra t:</strong>
  <%= @course_creation_templete.extra_t %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @course_creation_templete.extra_i %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @course_creation_templete.extra_d %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @course_creation_templete.extra_b %>
</p> -->
