<p id="notice"><%= notice %></p>


<div class="col-lg-offset-1 col-lg-10">

  <div class="page-header ">
    <h1 class="text-center">Task #<%=@course_creation_templete.extra_i%></br><small><%= @course_creation_templete.templete_type %></small></h1>
  </div>

  <p><%= @course_creation_templete.instruction_1 %></p>
</div>



<!-- <p>
  <strong>Extra s:</strong>
  <%= @course_creation_templete.extra_s %>
</p>

<p>
  <strong>Extra t:</strong>
  <%= @course_creation_templete.extra_t %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @course_creation_templete.extra_i %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @course_creation_templete.extra_d %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @course_creation_templete.extra_b %>
</p> -->

<%= link_to 'Edit', edit_course_creation_templete_path(@course_creation_templete) %> |
<%= link_to 'Back', course_creation_templetes_path %>
