<div class="row">
  <div class="col-md-3">
    <p>Total Customers: <%= @total_users.count %></p>
    <p>Not Renewed: <%= (@not_renewed_this_cycle.uniq - @renewed_this_cycle.uniq).count %></p>
    <p>Renewed: <%= @renewed_this_cycle.uniq.count %></p>
    <p>New Purchases: <%= @new_this_cycle.uniq.count %></p>
    <!-- <p>Postcards</p> -->
    <!-- <p>Emails</p> -->
  </div>
  <div class="col-md-6 text-center">
    <h1 class="text-center">NY Marketing Week</h1>
    <p class="text-center"><strong>Expirations Between <%= @week_s.strftime('%-m/%-d/%Y') %> and <%= @week_e.strftime('%-m/%-d/%Y') %></strong><br>Cycle is 20 Months</p>
  </div>
</div>

<br>
<!-- NOT RENEWED TABLE -->
<table class="table table-outline table-hover">
  <thead>
    <tr class="grey-b-200">
      <th colspan="9" class="text-center"><big>Not Renewed For This cycle</big></th>
    </tr>
    <tr class="grey-b-200">
      <th>UID</th>
      <th>Master LID</th>
      <th>EXP Date</th>
      <th>Purchases</th>
      <!-- <th>Days from EXP</th> -->
      <th>email</th>
      <th>phone</th>
      <th>Postcards</th>
      <th>Emails</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
    <% dup_not_renewed_this_cycle = [] %> <!-- PREVENT DUPS IN THE TABLE -->
    <% EmpireCustomer.where.not(uid: @renewed_this_cycle).where(uid: @not_renewed_this_cycle).order(uid: :desc).each do |empire_customer| %>
      <% unless dup_not_renewed_this_cycle.include? empire_customer.uid %>
        <% dup_not_renewed_this_cycle.push(empire_customer.uid) %>
        <% match_list = EmpireMasterMatch.find_by(uid: empire_customer.uid) %>
        <% master_list = EmpireMasterList.find_by(lid: match_list.lid) %>
        <% purchases = EmpireCustomer.where(uid: empire_customer.uid).order(p_date: :desc).pluck(:p_date) %>
        <tr class="grey-b-100">
          <td><%= link_to empire_customer.uid, "https://www.empirelearning.com/admin/user-profile?u=#{empire_customer.uid}", target: 'blank' %></td>
          <td><%= master_list.lid %>-<%= master_list.list %></td>
          <td><%= master_list.exp_date %></td>
          <!-- <td><strong><%= purchases.count %></strong></td> -->
          <td><%= purchases.join(', ') %></td>
          <!-- <td><%= master_list.exp_date - purchases.first %></td> -->
          <td><%= empire_customer.email %></td>
          <td><%= empire_customer.phone %></td>
          <td class="grey-b-300"></td>
          <td class="grey-b-300"></td>
          <td class="grey-b-300"></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<!-- RENEWED TABLE -->
<table class="table table-outline table-hover">
  <thead>
    <tr class="grey-b-200">
      <th colspan="9" class="text-center"><big>Renewed For This cycle</big></th>
    </tr>
    <tr class="grey-b-200">
      <th>UID</th>
      <th>Master LID</th>
      <th>EXP Date</th>
      <th>Purchases</th>
      <th>Days From EXP</th>
      <th>email</th>
      <th>phone</th>
      <th>Postcards</th>
      <th>Emails</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
    <% dup_renewed_this_cycle = [] %> <!-- PREVENT DUPS IN THE TABLE -->
    <% EmpireCustomer.where(uid: @renewed_this_cycle).where.not(uid: @dup_renewed_this_cycle).order(p_date: :desc).each do |empire_customer| %>
      <% unless dup_renewed_this_cycle.include? empire_customer.uid %>
      <% dup_renewed_this_cycle.push(empire_customer.uid) %>
      <% match_list = EmpireMasterMatch.find_by(uid: empire_customer.uid) %>
      <% master_list = EmpireMasterList.find_by(lid: match_list.lid) %>
      <% purchases = EmpireCustomer.where(uid: empire_customer.uid).order(p_date: :desc).pluck(:p_date) %>
      <tr class="grey-b-100">
        <td><%= link_to empire_customer.uid, "https://www.empirelearning.com/admin/user-profile?u=#{empire_customer.uid}", target: 'blank' %></td>
        <td><%= master_list.lid %>-<%= master_list.list %></td>
        <td><%= master_list.exp_date %></td>
        <!-- <td><strong><%= purchases.count %></strong></td> -->
        <td><%= purchases.join(', ') %></td>
        <td><%= (master_list.exp_date - purchases.first).to_i %></td>
        <td><%= empire_customer.email %></td>
        <td><%= empire_customer.phone %></td>
        <td class="grey-b-300"></td>
        <td class="grey-b-300"></td>
        <td class="grey-b-300"></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>

<!-- NEW PURCHASES TABLE -->
<table class="table table-outline table-hover">
  <thead>
    <tr class="grey-b-200">
      <th colspan="9" class="text-center"><big>New For This cycle</big></th>
    </tr>
    <tr class="grey-b-200">
      <th>UID</th>
      <th>Master LID</th>
      <th>EXP Date</th>
      <th>Purchases</th>
      <th>Days From EXP</th>
      <th>email</th>
      <th>phone</th>
      <th>Postcards</th>
      <th>Emails</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
    <% dup_new_this_cycle = [] %> <!-- PREVENT DUPS IN THE TABLE -->
    <% EmpireCustomer.where(uid: @new_this_cycle).where.not(uid: @dup_new_this_cycle).order(p_date: :desc).each do |empire_customer| %>
      <% unless dup_new_this_cycle.include? empire_customer.uid %>
      <% dup_new_this_cycle.push(empire_customer.uid) %>
      <% match_list = EmpireMasterMatch.find_by(uid: empire_customer.uid) %>
      <% master_list = EmpireMasterList.find_by(lid: match_list.lid) %>
      <% purchases = EmpireCustomer.where(uid: empire_customer.uid).order(p_date: :desc).pluck(:p_date) %>
      <tr class="grey-b-100">
        <td><%= link_to empire_customer.uid, "https://www.empirelearning.com/admin/user-profile?u=#{empire_customer.uid}", target: 'blank' %></td>
        <td><%= master_list.lid %>-<%= master_list.list %></td>
        <td><%= master_list.exp_date %></td>
        <!-- <td><strong><%= purchases.count %></strong></td> -->
        <td><%= purchases.join(', ') %></td>
        <td><%= (master_list.exp_date - purchases.first).to_i %></td>
        <td><%= empire_customer.email %></td>
        <td><%= empire_customer.phone %></td>
        <td class="grey-b-300"></td>
        <td class="grey-b-300"></td>
        <td class="grey-b-300"></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
