<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @empire_master_list.lid %>
</p>

<p>
  <strong>Source:</strong>
  <%= @empire_master_list.source %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_list.list %>
</p>

<p>
  <strong>License number:</strong>
  <%= @empire_master_list.license_number %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @empire_master_list.record_type %>
</p>

<p>
  <strong>Lic status:</strong>
  <%= @empire_master_list.lic_status %>
</p>

<p>
  <strong>Iss date s:</strong>
  <%= @empire_master_list.iss_date_s %>
</p>

<p>
  <strong>Iss date:</strong>
  <%= @empire_master_list.iss_date %>
</p>

<p>
  <strong>Exp date s:</strong>
  <%= @empire_master_list.exp_date_s %>
</p>

<p>
  <strong>Expe date:</strong>
  <%= @empire_master_list.expe_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @empire_master_list.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @empire_master_list.mi %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @empire_master_list.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @empire_master_list.company %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @empire_master_list.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @empire_master_list.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @empire_master_list.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @empire_master_list.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @empire_master_list.zip %>
</p>

<p>
  <strong>County:</strong>
  <%= @empire_master_list.county %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @empire_master_list.extra_d %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @empire_master_list.extra_s %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @empire_master_list.extra_b %>
</p>

<%= link_to 'Edit', edit_empire_master_list_path(@empire_master_list) %> |
<%= link_to 'Back', empire_master_lists_path %>
