<p id="notice"><%= notice %></p>

<div class="jumbotron well text-center">
  <h1>Exam Results - New</h1>
</div>

<div class="row">
<div class="col-md-3">
  <input class="form-control" id="myInput" type="text" placeholder="Search Datasheet">
</div>
</div>
</br>

<h3>Upload File</h3>
  <%= form_tag import_exam_results_path, multipart: true do %>
  <%= file_field_tag :file %>
</br>
  <%= submit_tag 'Upload', class: 'btn btn-primary' %>
<% end %>
</br>
<div>
  <%= link_to "Remove All", remove_all_exam_results_path, :method => :get %>
</div>
</br>

<div>
  <h4>
    Total Weeks: <%= @exam_results_weeks %>
  </br></br>
    Total Exams: <%= @exams_results_exams %>
  </h4>
</div>
</br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Week Start</th>
      <th>Week End</th>
      <th>Course number</th>
      <th>Course version</th>
      <th>Course title</th>
      <th>Who</th>
      <th>Score avg</th>
      <th>Rating</th>
      <th>Taken</th>
      <th>Exta i</th>
      <th>Extra s</th>
      <th>Extra b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @exam_results.each do |exam_result| %>
      <tr>
        <td><%= exam_result.week_s %></td>
        <td><%= exam_result.week_e %></td>
        <td><%= exam_result.course_number %></td>
        <td><%= exam_result.course_version %></td>
        <td><%= exam_result.course_title %></td>
        <td><%= exam_result.who %></td>
        <td><%= exam_result.score_avg %></td>
        <td><%= exam_result.rating %></td>
        <td><%= exam_result.taken %></td>
        <td><%= exam_result.exta_i %></td>
        <td><%= exam_result.extra_s %></td>
        <td><%= exam_result.extra_b %></td>
        <td><%= link_to 'Show', exam_result %></td>
        <td><%= link_to 'Edit', edit_exam_result_path(exam_result) %></td>
        <td><%= link_to 'Destroy', exam_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam Result', new_exam_result_path %>
