<p id="notice"><%= notice %></p>

<p>
  <strong>Week s:</strong>
  <%= @exam_result.week_s %>
</p>

<p>
  <strong>Week e:</strong>
  <%= @exam_result.week_e %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @exam_result.course_number %>
</p>

<p>
  <strong>Course version:</strong>
  <%= @exam_result.course_version %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @exam_result.course_title %>
</p>

<p>
  <strong>Who:</strong>
  <%= @exam_result.who %>
</p>

<p>
  <strong>Score avg:</strong>
  <%= @exam_result.score_avg %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @exam_result.rating %>
</p>

<p>
  <strong>Taken:</strong>
  <%= @exam_result.taken %>
</p>

<p>
  <strong>Exta i:</strong>
  <%= @exam_result.exta_i %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @exam_result.extra_s %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @exam_result.extra_b %>
</p>

<%= link_to 'Edit', edit_exam_result_path(@exam_result) %> |
<%= link_to 'Back', exam_results_path %>
