<%= simple_form_for(@task) do |f| %>

  <%= f.error_notification %>
  <p id="notice"><%= notice %></p>


    <div class="row">
      <div class="col-lg-4">
        <%= f.input :extra_string, label: false, as: :radio_buttons, collection: @task_status %>
      </div>
      <div class="col-lg-4">
        <%= f.input :due, label: false, as: :radio_buttons, collection: @due_date %>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-lg-12">
        <%= f.input :due_date, label: 'Due Date (if applicable)' %>
</br>
        <%= f.button :submit, 'Change Status', class: 'btn btn-primary' %>
      </div>
    </div>


    <% end %>
