<%= simple_form_for(@task) do |f| %>

  <%= f.error_notification %>
  <p id="notice"><%= notice %></p>

  <%= f.input :task_doc_1, label: 'Task Doc 1: (will overwrite exisiting)' %>
  <%= f.input :task_doc_2, label: 'Task Doc 2: (will overwrite exisiting)' %>
</br>
  <%= f.button :submit, 'Update Docs', class: 'btn btn-primary' %>
<% end %>
