<%= simple_form_for(@task) do |f| %>

  <%= f.error_notification %>
</br>
<div class="well well-white col-lg-offset-3 col-lg-6">
</br>
<div class="row">
  <div class="col-lg-offset-4">
    <%= f.input :date_sent, label: 'Mailing Date' %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :sent, label: 'Mailing Complete?', as: :radio_buttons, :checked => ['Yes', true] %>
  </br>
    <%= f.input :company, label: 'Company', collection: @companies, as: :radio_buttons %>
  </div>
  <div class="col-lg-3">
    <%= f.input :version, label: 'Postcard Type', collection: @postcard_type, as: :radio_buttons %>
  </div>
</div>
</br>
<!-- </br> -->
<div class="row">
  <div class="col-lg-3">
    <%= f.input :number_sent, label: 'Number sent' %>
  </div>
</div>
</br>
<%= f.input :note, label: false, placeholder: 'Add any notes about this mailing' %>
</br>
<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>

<% end %>


      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>
      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>
      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>
      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>
      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>
      <div class="field col-lg-2">
        <%= form.label :extra_string, 'Task For:' %>
        <%= form.select :extra_string, ['N/A', 'Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
      </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-primary' %>
        </div>

    <% end %>
