<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


</br>
    <div class="custom-file">
      <%= form.label :task_doc_1, class: 'custom-file-input' %>
      <%= form.file_field :task_doc_1, id: :task_task_doc_1, class: 'custom-file-control' %>
    </div>
  </br>

    <div class="field">
      <%= form.label :task_doc_2 %>
      <%= form.file_field :task_doc_2, id: :task_task_doc_2 %>
    </div>

  </br>
    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>





  </div>
    <% end %>
