<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <%= form.text_area :additional_note_3, id: :task_additional_note_3, class: 'form-control', placeholder: 'Add additional task/note' %>
      </div>

        <div class="actions">
          <%= form.submit 'Add to task', class: 'btn btn-primary' %>
        </div>

    <% end %>
