<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :task_note, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.check_box :due, id: :task_due %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :task_due_date %>
  </div>

  <div class="field">
    <%= form.label :done, 'Complete' %>
    <%= form.check_box :done, id: :task_done %>
  </div>

  <!-- <div class="field">
    <%= form.label :important %>
    <%= form.check_box :important, id: :task_important %>
  </div> -->

  <div class="field">
    <%= form.label :type_one, 'Current Task' %>
    <%= form.check_box :type_one, id: :task_type_one %>
  </div>

  <div class="field">
    <%= form.label :type_two, 'Future Task' %>
    <%= form.check_box :type_two, id: :task_type_two %>
  </div>

  <!-- <div class="field">
    <%= form.label :type_three %>
    <%= form.check_box :type_three, id: :task_type_three %>
  </div> -->

  <!-- <div class="form-group">
  <%= form.label :extra_string, 'Task For:' %>
  <select multiple class="form-control" id="task_extra_string">
    <option>'Austin'</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div> -->

  <div class="field">
    <%= form.label :extra_boolean %>
    <%= form.check_box :extra_boolean, id: :task_extra_boolean %>
  </div>

  <div class="field">
    <%= form.label :extra_string, 'Task For:' %>
    <%= form.select :extra_string, ['Austin - 1', 'Michael - 2', 'Ashley - 3', 'Kyle - 4', 'hamdo - 5' ], id: :task_extra_string %>
  </div>

  <!-- <div class="field">
    <%= form.label :extra_integer %>
    <%= form.number_field :extra_integer, id: :task_extra_integer %>
  </div> -->

  <div class="field">
    <%= form.label :user_id, 'Enter User ID:' %>
    <%= form.number_field :user_id, id: :task_user_id %>
  </div>

  <!-- <div class="field">
    <%#= form.label :doc %>
    <%#= form.text_field :doc, id: :task_doc %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
