<!-- <p id="notice"><%= notice %></p> -->

<div class="page-header ">
</br>
  <h1 class="text-center"><strong>Task - <%= @task.title %>
  </br>
  <% if @task.due == true %><small>Due: <%= @task.due_date.strftime("%A - %b %-d, %Y")%></small><% end %></h1>

  <div class="text-center col-lg-offset-0">
    <%#= link_to 'Back to Index', tasks_path, class: 'btn btn-default' %> <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-default' %>
  </div>
</div>

<!-- <div class="container"> -->
  <!-- <div class="row"> -->

  <div class="col-lg-offset-0 col-lg-3">
        <div class="well well-white">
          <h3 class="text-center"><strong>Task Status</strong></h3>
          </br>
          <%= render 'form_status', task: @task %>
        </div>

      <div class="well well-white">
        <h3 class="text-center"><strong>Task Documents</strong></h3>
        </br>
         <%= render 'form_docs', task: @task %>
      </div>
  </div>


    <div class="col-lg-9">
      <div class="well well-white">
      <div class="">
        <% if @task.extra_string == 'Complete' %>
          <h4 class="green"> Task has been completed</h4>
        <% elsif (Date.today - @task.due_date).to_i > 0 %>
          <h4 class="red"> Task is past due</h4>
        <% end %>
        <h3> <strong>Name:</strong> <%= @task.title %></h3>
        <% if @task.extra_string == 'Complete'%>
        <% elsif %>
        <h4> <strong>Due:</strong>
          <%= @task.due == false ? 'No Due Date' : (@task.due_date - Date.today).to_i > 0 ? "#{(@task.due_date - Date.today).to_i} Days" : "#{(Date.today - @task.due_date).to_i} Days Past Due" %>
        </h4>
        <% end %>

        <% if @task.extra_string == 'Complete'%>
        <% elsif %>
        <h4> <strong>Task Type:</strong> <%= @task.extra_string %></h4>
        <% end %>

        <h4>
          <strong>Task For:</strong>
          <%= @task.user_1.blank? == false ? @task.user_1 : '' %>
          <%= @task.user_2.blank? == false ? ", #{@task.user_2}" : '' %>
          <%= @task.user_3.blank? == false ? ", #{@task.user_3}" : '' %>
          <%= @task.user_4.blank? == false ? ", #{@task.user_4}" : '' %>
          <%= @task.user_5.blank? == false ? ", #{@task.user_5}" : '' %>
          <%= @task.user_6.blank? == false ? ", #{@task.user_6}" : '' %>
        </h4>

        <h4>
          <strong>Files:</strong>
          <% if @task.task_doc_1.url =~/missing/ && @task.task_doc_2.url =~/missing/ %>
            No Documents
          <% elsif @task.task_doc_1.url !=~/missing/ && @task.task_doc_2.url =~/missing/ %>
            1 Supporting Document
          <% elsif @task.task_doc_1.url !=~/missing/ && @task.task_doc_2.url !=~/missing/ %>
            2 Supporting Documents
          <% end %>
        </h4>


        <!-- </br>
          <%= link_to 'Edit Task', edit_task_path(@task), class: ' btn btn-default' %> -->
      </div>
</br>
    <!-- </div> -->
        <div class="">
          <h2><strong>Task Details:</strong></h2>
           <h4><%= @task.note %></h4>
         </br>
         <% if @task.update_note.empty? %>
           <%= render 'form_additional_note', task: @task %>
          <% elsif %>
           <h4><strong>Update Note:</strong></h4>
           <h4><%= @task.update_note %></h4>
          <% end %>
        </br>
         <!-- </br> -->
         <% if @task.update_note.empty? == false && @task.additional_note_2.empty? %>
           <%= render 'form_additional_note_2', task: @task %>
           <!-- <h4><%= @task.additional_note_2 %></h4> -->
          <% elsif @task.update_note.empty? == false %>
           <h4><strong>Update Note:</strong></h4>
           <h4><%= @task.additional_note_2 %></h4>
          <% end %>
        </br>

         <% if @task.update_note.empty? == false && @task.additional_note_2.empty? == false && @task.additional_note_3.empty? %>
           <%= render 'form_additional_note_3', task: @task %>
          <% elsif @task.additional_note_2.empty? == false %>
           <h4><strong>Update Note:</strong></h4>
           <h4><%= @task.additional_note_3 %></h4>
          <% end %>
        </br>
        <%#= link_to 'Edit Full Task', edit_task_path(@task), class: ' btn btn-default' %>

        <!-- <div class="btn-group">
          <a class="btn btn-primary" target="_blank" href="#"><i class="glyphicon glyphicon-download-alt" ></i> Document 1</a>
          <a class="btn btn-primary" target="_blank" href="#"><i class="glyphicon glyphicon-download-alt" ></i> Document 2</a> -->
          <%#= link_to raw('<i class="glyphicon glyphicon-download-alt" ></i> Schedule'), mailing_path(@mailing, :format => 'pdf'), class: 'btn btn-primary', target: '_blank'%>
          <!-- <a class="btn btn-primary" target="_blank" href="#"><i class="glyphicon glyphicon-download-alt" ></i> Invoice</a> -->
        <!-- </div> -->
        </div>
      </div>
</div>

<div class="col-lg-offset-3 col-lg-9">
  <% if @task.task_doc_1.url =~/missing/ %>
    <h4>
      No documents have been added to this task
    </h4>
  <% elsif %>
  <div class="btn-group">
    <a class="btn btn-primary" target="_blank" href="<%= @task.task_doc_1 %>"><i class="glyphicon glyphicon-download-alt" ></i> Document 1</a>
  </div></br>
    <% if @task.task_doc_1.url =~/xlsx/ %>
    <% elsif %>
      <iframe src= <%= @task.task_doc_1.url %> width="100%" height="300px" style="border: none;"> </iframe>
    <% end %>
  <% end %>
</div>

<div class="col-lg-offset-3 col-lg-9">
  <% if @task.task_doc_2.url =~/missing/ %>
  <% elsif %>
  <div class="btn-group">
    <a class="btn btn-primary" target="_blank" href="<%= @task.task_doc_2 %>"><i class="glyphicon glyphicon-download-alt" ></i> Document 2</a>
  </div></br>
    <% if @task.task_doc_2.url =~/xlsx/ %>
    <% elsif %>
      <iframe src= <%= @task.task_doc_2.url %> width="100%" height="300px" style="border: none;"> </iframe>
    <% end %>
  <% end %>
  </div>
