<p id="notice"><%= notice %></p>

<p>
  <strong>Aid:</strong>
  <%= @sequoia_exam.aid %>
</p>

<p>
  <strong>Lid:</strong>
  <%= @sequoia_exam.lid %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @sequoia_exam.uid %>
</p>

<p>
  <strong>Who:</strong>
  <%= @sequoia_exam.who %>
</p>

<p>
  <strong>Date s:</strong>
  <%= @sequoia_exam.date_s %>
</p>

<p>
  <strong>Date c:</strong>
  <%= @sequoia_exam.date_c %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @sequoia_exam.course_number %>
</p>

<p>
  <strong>Course version:</strong>
  <%= @sequoia_exam.course_version %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @sequoia_exam.course_title %>
</p>

<p>
  <strong>Score:</strong>
  <%= @sequoia_exam.score %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @sequoia_exam.rate %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @sequoia_exam.extra_i %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @sequoia_exam.extra_s %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @sequoia_exam.extra_b %>
</p>

<%= link_to 'Edit', edit_sequoia_exam_path(@sequoia_exam) %> |
<%= link_to 'Back', sequoia_exams_path %>
