<%= simple_form_for(@date_field) do |f| %>
</br>
  <%= f.error_notification %>
  <div class="col-lg-offset-4 col-lg-4 well well-white">
  </br>
  <div class="col-lg-offset-4">
  <%= f.input :date1, label: 'Most Recent Update'%>
</br>
  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %> <%= link_to 'Back', pes_courses_path, class: 'btn btn-default' %>
</br>
</div>
</div>

<% end %>
