<p id="notice"><%= notice %></p>

<p>
  <strong>Date1:</strong>
  <%= @date_field.date1 %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @date_field.date2 %>
</p>

<p>
  <strong>Date3:</strong>
  <%= @date_field.date3 %>
</p>

<p>
  <strong>Date4:</strong>
  <%= @date_field.date4 %>
</p>

<%= link_to 'Edit', edit_date_field_path(@date_field) %> |
<%= link_to 'Back', date_fields_path %>
