<%= simple_form_for(@updatesheet) do |f| %>

  <%= f.error_notification %>

</br>
  <h3 class="text-center"><strong><%= @updatesheet.seq_number %><%= @updatesheet.seq_version %> - <%= @updatesheet.seq_title %></strong></h3>
</br>


<div class="well well-white col-lg-offset-2 col-lg-8">
</br>

  <div class="row">
    <div class="col-lg-2">
      <%= f.input :seq_number, label: 'Sequoia Number' %>
    </div>
    <div class="col-lg-1">
      <%= f.input :seq_version, label:  'V.' %>
    </div>
    <div class="col-lg-offset-1 col-lg-3">
      <%= f.input :date_received, label: 'Course was recieved on:' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <%= f.input :pes_number, label: 'PES Number' %>
    </div>
    <div class="col-lg-1">
      <%= f.input :pes_version, label: 'V.' %>
    </div>
    <div class="col-lg-offset-1 col-lg-3">
      <%= f.input :pub_date, label: 'Publication Date:' %>
    </div>

  </div>
<!-- </br> -->
<% if @updatesheet.extra_boolean == true %>
  <span class="red"><strong><%= f.input :extra_boolean, label: 'Course is on hold' %></strong></span>
<% elsif %>
  <%= f.input :extra_boolean, label: 'Put course on hold' %>
<% end %>

</br>
  <%= f.input :note_approval, label: false, placeholder: 'Addtional Notes' %>

</br>
<div class="well ">
  <div class="row">
    <div class="col-lg-2">
      <%= f.input :text_complete, label: 'Text Done?', as: :radio_buttons %>
    </div>
    <div class="col-lg-2">
      <%= f.input :exam_complete, label: 'Exam Done?', as: :radio_buttons %>
    </div>
    <div class="col-lg-2">
      <%= f.input :course_listed, label: 'Course Listed?', as: :radio_buttons %>
    </div>
    <div class="col-lg-3">
      <%= f.input :date_listed, label: 'Date Listed' %>
    </div>

  </div>
<!-- </div> -->
</br>
</br>

<!-- <div class="well"> -->
  <div class="row">
    <div class="col-lg-2">
      <%= f.input :role, label: 'Role' %>
    </div>
    <div class="col-lg-2">
      <%= f.input :rolep, label: 'Rolep' %>
    </div>
    <div class="col-lg-2">
      <%= f.input :irs_number, label: 'IRS#' %>
    </div>
  </div>
<!-- </div> -->
</br>
</br>
<!-- <div class="well"> -->
  <div class="row">
    <div class="col-lg-2">
      <%= f.input :proofed, label: 'Proofed?', as: :radio_buttons %>
    </div>
    <div class="col-lg-10">
      <%= f.input :proofed_note, label: false, placeholder: 'Proofing Notes' %>
    </div>
  </div>
</div>

<% if @updatesheet.seq_version == @updatesheet.datasheet.seq_version %>
  <%= f.input :update_datasheet, label: false, as: :hidden, input_html: { checked: false } %>
<% elsif %>
  <%= f.input :update_datasheet, label: 'Update Datasheet (Course Listed)', input_html: { checked: false } %>
<% end %>


</br>
  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</div> <!--End Well -->

<% end %>
