<p id="notice"><%= notice %></p>

<div class="well jumbotron text-center">
<h1>Course Updates</h1>
</div>

<!-- could push all into an array and check if they are all the sam -->

<% @status_check = [] %>
<% @hold_check = [] %>
<% @updatesheets.each do |updatesheet| %>
  <% if updatesheet.extra_boolean == true %>
   <!-- For courses on hold, dont show in progess -->
    <% @status_check.push(1) %>
    <% @hold_check.push(1) %>
  <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
    <% @status_check.push(1) %>
  <% elsif %>
    <% @status_check.push(0) %>
  <% end %>
<% end %>

<!-- Status is pushed into an array done =1 not_done =2 ex: [1,2,1] => work needs to be done-->
<!-- <%# if @status_check.itself.uniq.length == 1 %> -->

<% if (@status_check.inject(0, :+)) == (@status_check.length) %>
<h3 class="green_text">Up To Date </h3>
<%elsif %>
<h3 class="red_text"> <%= (@status_check.length) - (@status_check.inject(0, :+)) %> In-Progress</h3>
<%end%>

<% if @hold_check.inject(0, :+) == 0 %>
<% elsif %>
  <h4><%= @hold_check.inject(0, :+) %> On Hold </h4>
<% end %>


<!-- Seach bar -->
</br>
<div class="row col-md-3">
<input class="form-control" id="myInput" type="text" placeholder="Search Datasheet">
</div>

<table class="table table-hover">
  <thead>
    <tr>

      <th>Stsatus</th>
      <!-- <th>Status</th> -->
      <th class="text-center"><%= sortable 'seq_number', 'Course' %></th> <!--can sort now -->
      <th>v</th>
      <th style="width: 18%">Title</th>
      <th class="text-center"><%= sortable 'pes_number', 'PES' %></th>
      <th>v</th>
      <!-- <th class="text-center">Status Bar</th> -->
      <!-- <th><%= sortable 'date_received', 'Recieved' %></th> sortable column header -->
      <!-- <th>Update course</th> -->
      <!--<th>Hold</th> This is used as = <th>Extra boolean</th> -->
      <!-- <th>Note approval</th> -->
      <!-- <th>Text</th> -->
      <!-- <th>Exam</th> -->
      <!-- <th>Course listed</th> -->
      <th>Listed</th>
      <th>Role</th>
      <th>Rolep</th>
      <th>IRS</th>
      <!-- <th>Proofed</th> -->
      <th colspan="1" class="">Notes</th>
      <!-- <th>Datasheet</th> -->
      <!-- <th>Extra string</th> -->
      <!-- <th>Extra integer</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @updatesheets.each do |updatesheet| %>

    <% if updatesheet.extra_boolean == true %>
      <tr>
    <% elsif updatesheet.course_listed == false || updatesheet.text_complete == false || updatesheet.exam_complete == false %>
      <tr class="bg-danger">
    <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == false %>
      <tr class="bg-warning">
    <% elsif %>
      <tr>
    <% end %>

    <td>
      <div class="progress">
        <% if updatesheet.extra_boolean == true %>
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">On Hold</div>
          <% end %>
        <% if updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">Done</div>
          <% end %>
        <% if updatesheet.text_complete == true %>
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:25%"></div>
            <% end %>
        <% if updatesheet.exam_complete == true %>
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:25%"></div>
            <% end %>
        <% if updatesheet.proofed == true %>
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:25%"></div>
            <% end %>
        <% if updatesheet.course_listed == true %>
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:25%"></div>
        <% end %>
      </div>
    </td>
        <!-- Exrtra boolean = Hold -->
         <!-- <% if updatesheet.extra_boolean == true %>
            <td>
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width:100%">Hold</div>
            </td>
        <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true%>
            <td class="green_text">Done</td>
        <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true %>
            <td><span class="green_text">Listed</span> - <span class="red_text">Not Proofed</span></td>
        <% elsif %>
            <td class="red_text">In-Progess</td>
        <% end %> -->

        <td class="text-center"><%= updatesheet.seq_number %></td>
        <td><%= updatesheet.seq_version %></td>
        <td><%= updatesheet.datasheet.seq_title %></td>
        <!-- .truncate_words(3) -->
        <td class="text-center"><%= updatesheet.pes_number %></td>
        <td><%= updatesheet.pes_version %></td>

        <% if updatesheet.course_listed == true && updatesheet.proofed == true%>
          <td><%= updatesheet.date_listed.strftime('%m/%d/%y') %></td>
        <% elsif updatesheet.course_listed == true && updatesheet.proofed == false %>
          <td><%= updatesheet.date_listed.strftime('%m/%d/%y') %> <br> <span class="bold_text">Not Proofed</span></td>
        <% elsif updatesheet.text_complete == false && updatesheet.exam_complete == false %>
          <td class="">Needs Text <br> Needs Exam</td>
        <% elsif updatesheet.text_complete == true && updatesheet.exam_complete == false %>
          <td class="">Needs Exam</td>
        <% elsif updatesheet.text_complete == false && updatesheet.exam_complete == true %>
          <td class="">Needs Text Conversion</td>
        <% elsif updatesheet.text_complete == true && updatesheet.exam_complete == true %>
          <td class="">Not Listed</td>
        <% elsif updatesheet.text_complete == true && updatesheet.exam_complete == true %>
          <td class="">Not Listed</td>
        <% end %>


        <td><%= updatesheet.role %></td>
        <td><%= updatesheet.rolep %></td>
        <td><%= updatesheet.irs_number %></td>
        <% if updatesheet.note_approval.blank? == false || updatesheet.proofed_note.blank? == false %>
        <td><strong><%= link_to 'View Course Note', updatesheet, class: 'bold_text' %></strong></td>
        <% elsif %>
        <td></td>
        <% end %>

        <!-- <td><%= updatesheet.proofed_note %></td> -->

        <!-- <td><%= updatesheet.datasheet_id %></td> -->
        <!-- <td><%= updatesheet.extra_string %></td> -->
        <!-- <td><%= updatesheet.extra_integer %></td> -->
        <td><%= link_to 'Update', edit_updatesheet_path(updatesheet), class: 'bold_text' %></td>
        <!-- <td><%= link_to 'Details', updatesheet %></td> -->
        <td><%= link_to 'Remove', updatesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p> To add course update -> <%= link_to 'Course Data Sheet -> Select Add Update', datasheets_path %> </p>
<!-- <%= link_to 'New Updatesheet', new_updatesheet_path %> -->
