<p id="notice"><%= notice %></p>

<h1 class="text-center">Empire Master No Matches</h1>

<h3>Upload CSV File</h3>
  <%= form_tag import_empire_master_no_matches_path(), multipart: true do %>
  <%= file_field_tag :file %>
<br>
  <%= submit_tag 'Upload', class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to 'Export', empire_master_no_matches_path('csv', path: 'ny_export_empire_master_no_matches') %>
<br>
<% if params['remove_all'] == 'yes' %>
  <p><%= link_to "Confirm Delete", empire_master_no_matches_path(remove_all: 'yes', confirm: 'yes') %></p>
<% else %>
  <p><%= link_to "Remove All Records", empire_master_no_matches_path(remove_all: 'yes') %></p>
<% end %>

<% if params['path'] == 'no_matches' %>
  <% display = @empire_master_no_matches.where(double: false).all %>
<% elsif params['path'] == 'doubles' %>
  <% display = @empire_master_no_matches.where(double: true).all %>
<% else %>
  <% display = @empire_master_no_matches.all %>
<% end %>




<table class="table table-outline">
  <caption>Displaying <%= number_with_delimiter(@empire_master_no_matches.limit(250).count) %> of <%= number_with_delimiter(@empire_master_no_matches.count) %></caption>

  <thead>
    <tr>
      <th>Uid</th>
      <th>Last name</th>
      <th>List</th>
      <th>Source</th>
      <th>Search date</th>
      <th>Double</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% display.order(created_at: :DESC).each do |empire_master_no_match| %>
      <tr>
        <td><%= empire_master_no_match.uid %></td>
        <td><%= empire_master_no_match.last_name %></td>
        <td><%= empire_master_no_match.list %></td>
        <td><%= empire_master_no_match.source %></td>
        <td><%= empire_master_no_match.search_date %></td>
        <td><%= empire_master_no_match.double %></td>
        <td><%= link_to 'Destroy', empire_master_no_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empire Master No Match', new_empire_master_no_match_path %>
