<%= simple_form_for(@postcard_return) do |f| %>

  <%= f.error_notification %>
</br>
<div class="well well-white col-lg-offset-3 col-lg-6">
</br>
<div class="">
  <div class="">
    <%= f.input :postmark, label: 'Postmark Date' %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :company, label: 'Company', collection: @companies, as: :radio_buttons %>

  </div>
  <div class="col-lg-3">
    <%= f.input :postcard, label: 'Postcard Type', collection: @postcard_type, as: :radio_buttons %>
  </div>
</div>
</br>
<!-- </br> -->
<div class="row">
  <div class="col-lg-3">
    <%= f.input :uid, label: false, placeholder: 'UID' %>

  </div>
</div>
</br>
<%= f.input :reason, label: false, placeholder: 'Reason for return', as: :text %>
</br>
<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>

<% end %>
