<%= form_with(model: postcard_return, local: true) do |form| %>
  <% if postcard_return.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postcard_return.errors.count, "error") %> prohibited this postcard_return from being saved:</h2>

      <ul>
      <% postcard_return.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.select :company, ['Sequoia CPE', 'Empire Learning'], id: :postcard_return_company %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.number_field :uid, id: :postcard_return_uid %>
  </div>

  <div class="field">
    <%= form.label :postcard %>
    <%= form.select :postcard, ['New Member','Return Customer', 'NM Pros'], id: :postcard_return_postcard %>
  </div>

  <div class="field">
    <%= form.label :postmark %>
    <%= form.date_select :postmark, id: :postcard_return_postmark %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.select :reason, ['International', 'Unable to Forward', 'Not Deliverable','bad print','blank Address', 'Other'], id: :postcard_return_reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
