<p id="notice"><%= notice %></p>

<p>
  <strong>Who:</strong>
  <%= @master_list.who %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_list.list %>
</p>

<p>
  <strong>Lid:</strong>
  <%= @master_list.lid %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @master_list.lic %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @master_list.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @master_list.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_list.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @master_list.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @master_list.co %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @master_list.add2 %>
</p>

<p>
  <strong>Add:</strong>
  <%= @master_list.add %>
</p>

<p>
  <strong>City:</strong>
  <%= @master_list.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @master_list.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @master_list.zip %>
</p>

<p>
  <strong>No mail:</strong>
  <%= @master_list.no_mail %>
</p>

<%= link_to 'Edit', edit_master_list_path(@master_list) %> |
<%= link_to 'Back', master_lists_path %>
