<p id="notice"><%= notice %></p>

<div class="display-none">

<div class="text-center">
  <div class="well">
    <h1 class=""><big>Postcard Exports</big></h1>
  </div>

  <% if params['record'] == 'yes' %>
    <br>
    <div class="container">
      <p class="alert alert-success text-center">Export has been recorded. <%= link_to 'View records', postcard_records_path %></p>
    </div>
  <% end %>

  <h3>Mail Date: <strong><%= params['day'].to_date.strftime('%-m/%-d/%Y') %></strong></h3>
  <h3>Mail ID: <strong><%= params['mail_id'] %></strong></h3>
  <h3>Records: <strong> <%= number_with_delimiter(@postcard_exports.count) %></strong></h3>
  <br>
  <% if params['what'] == 'postcard' %>
    <%= link_to raw('<i class="glyphicon glyphicon-download-alt" ></i> Postcards'), postcard_exports_path(@postcard_export, co: params['co'], day: params['day'], group: params['group'], mail_id: params['mail_id'], sent: params['sent'], :format => 'pdf'), class: 'btn btn-lg btn-primary', target: '_blank'%>
  <% elsif params['what'] == 'email' %>
    <%= link_to raw('<i class="glyphicon glyphicon-download-alt" ></i> Email List'), postcard_exports_path(mail_id: params['mail_id'], format: 'csv'), class: 'btn btn-primary btn-lg' %>
  <% end %>
  <%= link_to 'Record', postcard_exports_path(record: 'yes', co: params['co'], group: params['group'], mail_id: params['mail_id'], day: params['day'], card: params['card'], sent: params['sent']), class: 'btn btn-success btn-lg' %>
</div>

<br>
<br>
<% if params['co'] == 'sequoia' %>
  <p>Back to <%= link_to "Mailing for #{params['day'].to_date.strftime('%a, %-m/%-d')}", rc_marketing_s_customers_path(co: params['co'], add: params['add'], day: params['day'], what: params['what']) %></p>
  <p>Back to <%= link_to 'Sequoia Postcard Marketing', rc_marketing_s_customers_path %></p>
<% else %>
  <p>Back to <%= link_to 'Empire RC Marketing', rc_marketing_empire_customers_path %></p>
<% end %>
<table class="table table-outline">
  <caption>Displaying 100 max</caption>
  <thead>
    <tr class="grey-b-200">
      <th>Company</th>
      <th>Group</th>
      <th>Mail</th>
      <th>Mail date</th>
      <th>State</th>
      <th>List</th>
      <th>License number</th>
      <th>Uid</th>
      <th>Merge 1</th>
      <th>Merge 2</th>
      <th>Merge 3</th>
      <th>F name</th>
      <th>L name</th>
      <th>Add 1</th>
      <th>Add 2</th>
      <th>City</th>
      <th>St</th>
      <th>Zip</th>
      <th>Email</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @postcard_exports.first(100).each do |postcard_export| %>
      <tr class="">
        <td><%= postcard_export.company %></td>
        <td><%= postcard_export.group %></td>
        <td><%= postcard_export.mail_id %></td>
        <td><%= postcard_export.mail_date %></td>
        <td><%= postcard_export.state %></td>
        <td><%= postcard_export.list %></td>
        <td><%= postcard_export.license_number %></td>
        <td><%= postcard_export.uid %></td>
        <td><%= postcard_export.merge_1 %></td>
        <td><%= postcard_export.merge_2 %></td>
        <td><%= postcard_export.merge_3 %></td>
        <td><%= postcard_export.f_name %></td>
        <td><%= postcard_export.l_name %></td>
        <td><%= postcard_export.add_1 %></td>
        <td><%= postcard_export.add_2 %></td>
        <td><%= postcard_export.city %></td>
        <td><%= postcard_export.st %></td>
        <td><%= postcard_export.zip %></td>
        <td><%= postcard_export.email %></td>
        <!-- <td><%= link_to 'Show', postcard_export %></td> -->
        <!-- <td><%= link_to 'Edit', edit_postcard_export_path(postcard_export) %></td> -->
        <!-- <td><%= link_to 'Destroy', postcard_export, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Postcard Export', new_postcard_export_path %>

</div>

<!-- <div class=""> -->
<div class="print-only">

  <% @postcard_exports.each do |postcard_export| %>
  <% unless postcard_export.zip.blank? %>

<!-- ## SEQUOIA CARDS -->
  <% if params['co'] == 'sequoia' %>
    <div class="pdf-down-1">
    </div>
    <div class="text-center">
      <% if params['group'] == 'CPA-NM' || params['group'] == 'EA-NM' %>
        <p>Membership Valid Through:</p>
      <% else %>
        <p>Membership Expires:</p>
      <% end %>
        <p><strong><%= (postcard_export.merge_1.to_date + 1.year).strftime('%B %d, %Y') %></strong></p>
    </div>
    <div class="text-right">
      <p>
        <%= postcard_export.f_name.present? ? postcard_export.f_name.upcase : '' %> <%= postcard_export.l_name.present? ? postcard_export.l_name.upcase : '' %>
          <br>
        <%= postcard_export.add_1.present? ? postcard_export.add_1.upcase : '' %> <%= postcard_export.add_2.present? ? postcard_export.add_2.upcase : '' %>
          <br>
        <%= postcard_export.city.present? ? postcard_export.city.upcase : '' %> <%= postcard_export.st.present? ? postcard_export.st.upcase : '' %> <%= postcard_export.zip.present? ? postcard_export.zip.upcase : '' %>
      </p>
    </div>
    <div class="pdf-down-2">
    </div>
  <% end %>

  <!-- ## Empire CARDS -->
  <% if params['co'] == 'empire' %>

  <div class="empire-pdf-down-1">
  </div>

  <div class="text-center">
      <h3><%= postcard_export.merge_1 %></h3>
      <h3><strong><%= postcard_export.merge_2 %></strong></h3>
  </div>
  <div class="text-right">
    <p>
      <%= postcard_export.f_name.present? ? postcard_export.f_name.upcase : '' %> <%= postcard_export.l_name.present? ? postcard_export.l_name.upcase : '' %>
        <br>
      <%= postcard_export.add_1.present? ? postcard_export.add_1.upcase : '' %> <%= postcard_export.add_2.present? ? postcard_export.add_2.upcase : '' %>
        <br>
      <%= postcard_export.city.present? ? postcard_export.city.upcase : '' %> <%= postcard_export.st.present? ? postcard_export.st.upcase : '' %> <%= postcard_export.zip.present? ? postcard_export.zip.upcase : '' %>
    </p>
  </div>
  <div class="text-center">
      <p>Take an additional <strong>10% off</strong> - Use Code: <strong><%= postcard_export.merge_3 %></strong></p>
  </div>
  <div class="empire-pdf-down-2">
  </div>

  <% end %>


  <% end %>
  <% end %>

</div>
