<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @postcard_export.company %>
</p>

<p>
  <strong>Group:</strong>
  <%= @postcard_export.group %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @postcard_export.mail_id %>
</p>

<p>
  <strong>Mail date:</strong>
  <%= @postcard_export.mail_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @postcard_export.state %>
</p>

<p>
  <strong>List:</strong>
  <%= @postcard_export.list %>
</p>

<p>
  <strong>License number:</strong>
  <%= @postcard_export.license_number %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @postcard_export.uid %>
</p>

<p>
  <strong>Merge 1:</strong>
  <%= @postcard_export.merge_1 %>
</p>

<p>
  <strong>Merge 2:</strong>
  <%= @postcard_export.merge_2 %>
</p>

<p>
  <strong>Merge 3:</strong>
  <%= @postcard_export.merge_3 %>
</p>

<p>
  <strong>F name:</strong>
  <%= @postcard_export.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @postcard_export.l_name %>
</p>

<p>
  <strong>Add 1:</strong>
  <%= @postcard_export.add_1 %>
</p>

<p>
  <strong>Add 2:</strong>
  <%= @postcard_export.add_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @postcard_export.city %>
</p>

<p>
  <strong>St:</strong>
  <%= @postcard_export.st %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @postcard_export.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @postcard_export.email %>
</p>

<%= link_to 'Edit', edit_postcard_export_path(@postcard_export) %> |
<%= link_to 'Back', postcard_exports_path %>
