<div class="page-header ">
</br>
  <h1 class="text-center">2019 Mailing States</h1>
  </div>
</div>


  <div class="row">

    <div class="col-lg-offset-0 col-lg-3 well well-white">
      <h4 class="text-center"><strong> Monthly Mailing States</strong></h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>State</th>
            <th>Quantity</th>
            <th>2019</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
      <% @cpe_due_dates.each do |cpe_due_date| %>
        <% if cpe_due_date.cpe_due == '0' && cpe_due_date.exclude == false%>
          <tr>
            <td><%= cpe_due_date.state %> </td>
            <% if cpe_due_date.extra_b == true %>
              <td><%= number_with_delimiter((cpe_due_date.quanity * 0.9).round(-2)) %> </td>
            <% elsif %>
              <td><%= number_with_delimiter((cpe_due_date.quanity * cpe_due_date.partial_number * 0.9).round(-2) ) %> </td>
            <% end %>


            <td><%= cpe_due_date.extra_b == true ? 'All' : cpe_due_date.partial_mail %> </td>
            <td><%= cpe_due_date.extra_s %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <h5><strong>Total:</strong> <%= number_with_delimiter((@cpe_due_dates.where('cpe_due' => '0', 'exclude' => false).sum(:quanity) * 0.9).round(-2) ) %></h5>
    <h5><strong>Per Month:</strong>  <%=number_with_delimiter(((@cpe_due_dates.where('cpe_due' => '0', 'exclude' => false).sum(:quanity) / 12) * 0.9).round(-2)) %></h5>
  </div>

    <div class="col-lg-3 well well-white">
      <h4 class="text-center"><strong> June 30 Mailing States</strong></h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>State</th>
            <th>Quantity</th>
            <th>2019</th>
            <th>Note</th>
          </tr>
        </thead>
      <% @cpe_due_dates.each do |cpe_due_date| %>
        <% if cpe_due_date.cpe_due == '6' && cpe_due_date.exclude == false%>
        <tr>
          <td><%= cpe_due_date.state %> </td>
          <% if cpe_due_date.extra_b == true %>
            <td><%= number_with_delimiter((cpe_due_date.quanity * 0.9).round(-2)) %> </td>
          <% elsif %>
            <td><%= cpe_due_date.partial_number.blank? == false ? number_with_delimiter((cpe_due_date.quanity * cpe_due_date.partial_number * 0.9).round(-2)) : 'nil' %> </td>
          <% end %>
          <td><%= cpe_due_date.extra_b == true ? 'All' : cpe_due_date.partial_mail %> </td>
          <td><%= cpe_due_date.extra_s %>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <h5><strong>Total:</strong> <%= number_with_delimiter(@cpe_due_dates.where('cpe_due' => '6', 'exclude' => false).sum(:quanity)) %></h5>
  </div>

  <div class="col-lg-3 well well-white">
    <h4 class="text-center"><strong> Dec 31 Mailing States</strong></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>State</th>
          <th>Quantity</th>
          <th>2019</th>
          <th>Note</th>
        </tr>
      </thead>
    <% @cpe_due_dates.each do |cpe_due_date| %>
      <% if cpe_due_date.cpe_due == '12' && cpe_due_date.exclude == false %>
      <tr>
        <td><%= cpe_due_date.state %> </td>
        <% if cpe_due_date.extra_b == true %>
          <td><%= number_with_delimiter((cpe_due_date.quanity * 0.9).round(-2)) %> </td>
        <% elsif %>
          <td><%= cpe_due_date.partial_number.blank? == false ? number_with_delimiter((cpe_due_date.quanity * cpe_due_date.partial_number * 0.9).round(-2)) : 'nil' %> </td>
        <% end %>
        <td><%= cpe_due_date.extra_b == true ? 'All' : cpe_due_date.partial_mail %> </td>
        <td><%= cpe_due_date.extra_s %>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <h5><strong>Total:</strong> <%= number_with_delimiter(@cpe_due_dates.where('cpe_due' => '12', 'exclude' => false ).sum(:quanity)) %></h5>
</div>

<div class="col-lg-2 well well-white">
  <h4 class="text-center"><strong> Others Mailing States</strong></h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>State</th>
        <th>Quantity</th>
        <th>Due</th>
      </tr>
    </thead>
  <% @cpe_due_dates.each do |cpe_due_date| %>
    <% if cpe_due_date.cpe_due == '7' || cpe_due_date.cpe_due == '9'  && cpe_due_date.exclude == false %>
      <tr>
        <td><%= cpe_due_date.state %> </td>
        <td><%= number_with_delimiter(cpe_due_date.quanity) %> </td>
        <td><%= cpe_due_date.cpe_due %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% month_7 = (@cpe_due_dates.where('cpe_due' => '7', 'exclude' => false).sum(:quanity)) %>
<% month_9 = (@cpe_due_dates.where('cpe_due' => '9', 'exclude' => false).sum(:quanity)) %>
<h5><strong>Total:</strong> <%= number_with_delimiter(month_9 + month_7) %></h5>
</div>

</div>
