<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @cpe_due_date.state %>
</p>
<p>
  <strong>St:</strong>
  <%= @cpe_due_date.st %>
</p>

<p>
  <strong>Quanity:</strong>
  <%= @cpe_due_date.quanity %>
</p>

<p>
  <strong>Cpe group:</strong>
  <%= @cpe_due_date.cpe_group %>
</p>

<p>
  <strong>Renew type:</strong>
  <%= @cpe_due_date.renew_type %>
</p>

<p>
  <strong>Cpe due:</strong>
  <%= @cpe_due_date.cpe_due %>
</p>

<p>
  <strong>Ss allowed:</strong>
  <%= @cpe_due_date.ss_allowed %>
</p>

<p>
  <strong>Year minimum:</strong>
  <%= @cpe_due_date.year_minimum %>
</p>

<p>
  <strong>Exclude:</strong>
  <%= @cpe_due_date.exclude %>
</p>

<p>
  <strong>State Note:</strong>
  <%= @cpe_due_date.state_note %>
</p>
<p>
  <strong>partial_mail:</strong>
  <%= @cpe_due_date.partial_mail %>
</p>
<p>
  <strong>partial_number:</strong>
  <%= @cpe_due_date.partial_number %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @cpe_due_date.extra_s %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @cpe_due_date.extra_b %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @cpe_due_date.extra_i %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @cpe_due_date.extra_d %>
</p>

<%= link_to 'Edit', edit_cpe_due_date_path(@cpe_due_date) %> |
<%= link_to 'Back', cpe_due_dates_path %>
