<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @empire_mailing.name %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @empire_mailing.drop %>
</p>

<p>
  <strong>Date extra:</strong>
  <%= @empire_mailing.date_extra %>
</p>

<p>
  <strong>State:</strong>
  <%= @empire_mailing.state %>
</p>

<p>
  <strong>What:</strong>
  <%= @empire_mailing.what %>
</p>

<p>
  <strong>Quanity est:</strong>
  <%= @empire_mailing.quanity_est %>
</p>

<p>
  <strong>Quanity sent:</strong>
  <%= @empire_mailing.quanity_sent %>
</p>

<p>
  <strong>Group 1:</strong>
  <%= @empire_mailing.group_1 %>
</p>

<p>
  <strong>Group 2:</strong>
  <%= @empire_mailing.group_2 %>
</p>

<p>
  <strong>Group 3:</strong>
  <%= @empire_mailing.group_3 %>
</p>

<p>
  <strong>Data name:</strong>
  <%= @empire_mailing.data_name %>
</p>

<p>
  <strong>Art name:</strong>
  <%= @empire_mailing.art_name %>
</p>

<p>
  <strong>Msi note:</strong>
  <%= @empire_mailing.msi_note %>
</p>

<p>
  <strong>Note 1:</strong>
  <%= @empire_mailing.note_1 %>
</p>

<p>
  <strong>Note 2:</strong>
  <%= @empire_mailing.note_2 %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @empire_mailing.complete %>
</p>

<p>
  <strong>Boolean 1:</strong>
  <%= @empire_mailing.boolean_1 %>
</p>

<p>
  <strong>Integer extra:</strong>
  <%= @empire_mailing.integer_extra %>
</p>

<p>
  <strong>Cost service:</strong>
  <%= @empire_mailing.cost_service %>
</p>

<p>
  <strong>Cost print:</strong>
  <%= @empire_mailing.cost_print %>
</p>

<p>
  <strong>Cost postage:</strong>
  <%= @empire_mailing.cost_postage %>
</p>

<%= link_to 'Edit', edit_empire_mailing_path(@empire_mailing) %> |
<%= link_to 'Back', empire_mailings_path %>
