<%= simple_form_for(@call_log) do |f| %>

  <%= f.error_notification %>
</br>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :taken, label: false, input_html: { value: @name }, hint: '' %>
    </div>
    <div class="col-lg-4">
      <%= f.input :call_date, label: false, default: Date.today - 8.hours%>
    </div>
    <div class="col-lg-4">
      <%= f.input :call_time, label: false, default: Time.now - 8.hours %>
    </div>
  </div>
</br>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :call_length, label: 'Call Length', placeholder: 'In Minutes (ex: 2.06)' %>
    </div>
  </div>
</br>

  <div class="row">
    <div class="col-lg-3">
      <%= f.input :company, label: 'Company', collection: @companies, as: :radio_buttons %>
    </div>
    <div class="col-lg-3">
      <%= f.input :caller_des, label: 'Designation', placeholder: 'Des', collection: @des, as: :radio_buttons %>
    </div>
    <div class="col-lg-3">
      <%= f.input :caller_state, label: 'Caller Lic State', placeholder: 'ex: CA', hint: 'Emprie or Sequoia' %>
    </div>
  </div>
<!-- </br> -->

  <%= f.input :customer, label: 'Was the caller a customer?', as: :radio_buttons %>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :UID, label: false, placeholder: 'UID' %>
  </div>
</div>
</br>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :caller_fname, label: false, placeholder: 'First Name' %>
    </div>
    <div class="col-lg-4">
      <%= f.input :caller_lname, label: false, placeholder: 'Last Name' %>
    </div>
  </div>
</br>

<div class="well">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#q1">Question 1</a></li>
    <li><a data-toggle="tab" href="#q2">Question 2</a></li>
    <li><a data-toggle="tab" href="#q3">Addtional</a></li>
  </ul>
<!-- Tab 1 Start -->
  <div class="tab-content">
    <div id="q1" class="tab-pane fade in active">
      <h2>Question 1</h2>
      </br>
        <%= f.input :question_topic, label: 'Select Topic', collection: @q_topic, as: :select %>
        <%= f.input :question_1_topic_other, label: false, placeholder: 'If Other' %>
        <%= f.input :question_1, label: 'Select Question',  as: :select, collection: @questions %>
        <%= f.input :question_1_other, label: false, placeholder: 'If Other' %>
        <%= f.input :answered, label: 'Were you able to answer this question?', as: :radio_buttons %>
        <%= f.input :question_answer, label: false, placeholder: 'Enter Answer'  %>
    </div>
    <div id="q2" class="tab-pane fade">
      <h2>Question 2</h2>
      </br>
        <%= f.input :question_2_topic, label: 'Select Topic', collection: @q_topic, as: :select %>
        <%= f.input :question_2_topic_other, label: false, placeholder: 'If Other Topics' %>
        <%= f.input :question_2, label: 'Select Question', collection: @questions , as: :select %>
        <%= f.input :question_2_other, label: false, placeholder: 'If Other Question' %>
        <%= f.input :question_2_answered, label: 'Were you able to answer this question?', as: :radio_buttons %>
        <%= f.input :question_2_answer, label: false, placeholder: 'Enter Answer' %>
    </div>
    <div id="q3" class="tab-pane fade">
      <h2> All Addtional Questions</h2>
      </br>
        <%= f.input :question_additional, label: false, placeholder: 'Addtional Questions' %>
        <%= f.input :question_additional_answer, label: false, placeholder: 'Enter Answer'  %>
    </div>
  </div>
</div>
</br>
</br>

<div class="well well-white">
  <div class="row">
    <div class="col-lg-3">
      <%= f.input :question_difficulty, label: 'Question Difficulty', as: :radio_buttons, collection: @rating %>
    </div>
    <div class="col-lg-3">
      <%= f.input :question_satisfaction, label: 'Question Satisfaction', as: :radio_buttons, collection: @rating%>
    </div>
    <div class="col-lg-3">
      <%= f.input :call_difficulty, label: 'Call Difficulty', as: :radio_buttons, collection: @rating %>
    </div>
    <div class="col-lg-3">
      <%= f.input :caller_satisfaction, label: 'Call Satisfaction', as: :radio_buttons, collection: @rating %>
    </div>
  </div>
  </div>
<!-- </br> -->
</br>
  <%= f.input :note, label: false, placeholder: 'Additional Notes From This Call' %>
<p>
  <strong><%= link_to 'Comment on specific course?', new_course_comment_path, target: "_blank" %></strong> Add a course comment in addtion to this call log
</p>
</br>

  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>

  <% end %>
