<div class="text-center">
  <h1>Add New 'Select Topic'</h1>
  <%= link_to 'View/Edit All Topics', call_logs_path(path: 'new_topic') %>
  <br><br>
</div>
<div class="well well-white col-md-6 col-md-offset-3 ">
  <%= simple_form_for(@call_log) do |f| %>

    <div class="row">
      <div class="col-lg-6">
        <%= f.input :new_topic, label: 'New Topic', placeholder: 'ex: Print Course' %>
      </div>
    </div>
    <%= f.input :select_topic, label: 'Add Topic', :input_html => { :checked => true } %>

    <%= hidden_field_tag(:path, 'new_topic') %>

    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>

    <% end %>
</div>
