<p id="notice"><%= notice %></p>
<div class="well jumbotron text-center">
  <h1>Call Logs</h1>
</div>

<br>
  <%= link_to 'Add New Call Log', new_call_log_path, class: 'btn btn-primary' %>
<br>
<h3><%#= link_to 'Stats', sales_report_call_log_stats_path %></h3>

<table class="table table-hover table-outline">
  <thead>
    <tr>
      <th>Who</th>
      <th>Date</th>
      <!-- <th>Time</th> -->
      <th>Company</th>
      <th>Caller des</th>
      <th>State</th>
      <th>Customer</th>
      <th>Length(min)</th>
      <th>Topic</th>
      <th>Customer Happy</th>
      <th>Caller Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @call_logs.first(200).each do |call_log| %>
      <tr>
        <td><%= call_log.taken %></td>
        <td><%= call_log.call_date %></td>
        <!-- <td><%= call_log.call_time %></td> -->
        <td><%= call_log.company %></td>
        <td><%= call_log.caller_des %></td>
        <td><%= call_log.caller_state %></td>
        <td><%= call_log.customer? ? call_log.UID : 'No' %></td>
        <td><%= call_log.call_length %></td>
        <td><%= call_log.question_topic == 'Other' ? call_log.question_1_topic_other : call_log.question_topic %></td>
        <td><%= call_log.answered %></td>
        <td><%= call_log.note %></td>
        <td><%= link_to 'Details', call_log %></td>
        <td><%= link_to 'Edit', edit_call_log_path(call_log) %></td>
        <td><%= link_to 'Delete', call_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
