<p id="notice"><%= notice %></p>
<div class="well jumbotron text-center">
  <h1>Call Logs</h1>
</div>

</br>
  <%= link_to 'Add New Call Log', new_call_log_path, class: 'btn btn-primary' %>
</br>
<h3><%= link_to 'Stats', sales_report_call_log_stats_path %></h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Taken</th>
      <th>Date</th>
      <th>Time</th>
      <th>Company</th>
      <th>Caller des</th>
      <th>Caller state</th>
      <th>Customer</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Uid</th>
      <th>Call length</th>
      <th>Q1 topic</th>
      <th>Q1 topic Other</th>
      <th>Q1</th>
      <th>Q1 Other</th>
      <th>Answered</th>
      <th>Answer</th>
      <th>Q2 topic</th>
      <th>Q2 topic Other</th>
      <th>Q2</th>
      <th>Q2 Other</th>
      <th>Answered</th>
      <th>Answer</th>
      <th>Additional Q</th>
      <th>Additional Answer</th>
      <th>Caller Notes</th>
      <th>Question difficulty</th>
      <th>Question satisfaction</th>
      <th>Call difficulty</th>
      <th>Caller satisfaction</th>
            <!-- <th>Extra b</th> -->
      <!-- <th>Extra i</th> -->
      <!-- <th>Extra s</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @call_logs.each do |call_log| %>
      <tr>
        <td><%= call_log.taken %></td>
        <td><%= call_log.call_date %></td>
        <td><%= call_log.call_time %></td>
        <td><%= call_log.company %></td>
        <td><%= call_log.caller_des %></td>
        <td><%= call_log.caller_state %></td>
        <td><%= call_log.customer %></td>
        <td><%= call_log.caller_fname %></td>
        <td><%= call_log.caller_lname %></td>
        <td><%= call_log.UID %></td>
        <td><%= call_log.call_length %></td>
        <td><%= call_log.question_topic %></td>
        <td><%= call_log.question_1_topic_other %></td>
        <td><%= call_log.question_1 %></td>
        <td><%= call_log.question_1_other %></td>
        <td><%= call_log.answered %></td>
        <td><%= call_log.question_answer %></td>
        <td><%= call_log.question_2_topic %></td>
        <td><%= call_log.question_2_topic_other %></td>
        <td><%= call_log.question_2 %></td>
        <td><%= call_log.question_2_other %></td>
        <td><%= call_log.question_2_answered %></td>
        <td><%= call_log.question_2_answer %></td>
        <td><%= call_log.question_additional %></td>
        <td><%= call_log.question_additional_answer %></td>
        <td><%= call_log.note %></td>
        <td><%= call_log.question_difficulty %></td>
        <td><%= call_log.question_satisfaction %></td>
        <td><%= call_log.call_difficulty %></td>
        <td><%= call_log.caller_satisfaction %></td>
        <!-- <td><%= call_log.extra_b %></td> -->
        <!-- <td><%= call_log.extra_i %></td> -->
        <td><%= call_log.extra_s %></td>
        <td><%= link_to 'Show', call_log %></td>
        <td><%= link_to 'Edit', edit_call_log_path(call_log) %></td>
        <td><%= link_to 'Destroy', call_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
