<p id="notice"><%= notice %></p>

<p>
  <strong>Empire customer:</strong>
  <%= @email_export.empire_customer_id %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @email_export.uid %>
</p>

<p>
  <strong>List:</strong>
  <%= @email_export.list %>
</p>

<p>
  <strong>License number:</strong>
  <%= @email_export.license_number %>
</p>

<p>
  <strong>Send email:</strong>
  <%= @email_export.send_email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @email_export.company %>
</p>

<p>
  <strong>Group:</strong>
  <%= @email_export.group %>
</p>

<p>
  <strong>Send date:</strong>
  <%= @email_export.send_date %>
</p>

<p>
  <strong>Exp b:</strong>
  <%= @email_export.exp_b %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email_export.subject %>
</p>

<p>
  <strong>Merge 1:</strong>
  <%= @email_export.merge_1 %>
</p>

<p>
  <strong>Merge 2:</strong>
  <%= @email_export.merge_2 %>
</p>

<p>
  <strong>Merge 3:</strong>
  <%= @email_export.merge_3 %>
</p>

<p>
  <strong>Merge 4:</strong>
  <%= @email_export.merge_4 %>
</p>

<p>
  <strong>Merge 5:</strong>
  <%= @email_export.merge_5 %>
</p>

<p>
  <strong>Merge 6:</strong>
  <%= @email_export.merge_6 %>
</p>

<p>
  <strong>F name:</strong>
  <%= @email_export.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @email_export.l_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @email_export.email %>
</p>

<%= link_to 'Edit', edit_email_export_path(@email_export) %> |
<%= link_to 'Back', email_exports_path %>
