<p id="notice"><%= notice %></p>
<div class="text-center down20">
  <h1>Email Records</h1>
</div>

<div class="down20">

<table class="table table-outline ">
  <thead>
    <tr>
      <th>Company</th>
      <th>Group</th>
      <th>Mailing</th>
      <th>Mail date</th>
      <th>Sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_records.each do |email_record| %>
      <tr>
        <td><%= email_record.company %></td>
        <td><%= email_record.group %></td>
        <td><%= email_record.mailing_id %></td>
        <td><%= email_record.mail_date %></td>
        <td><%= email_record.sent %></td>
        <td><%= link_to 'Show', email_record %></td>
        <td><%= link_to 'Edit', edit_email_record_path(email_record) %></td>
        <td><%= link_to 'Delete', email_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Email Record', new_email_record_path %>

</div>
