<div class="container">
  <div class="text-center">
    <% if params['state'] == 'PA' %>
      <%= link_to 'PA', rc_marketing_empire_customers_path(page: 'deadline', state: 'PA'), class: 'btn btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'PA', rc_marketing_empire_customers_path(page: 'deadline', state: 'PA'), class: 'btn btn-lg btn-default' %>
    <% end %>
    <% if params['state'] == 'NC' %>
      <%= link_to 'NC', rc_marketing_empire_customers_path(page: 'deadline', state: 'NC'), class: 'btn  btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'NC', rc_marketing_empire_customers_path(page: 'deadline', state: 'NC'), class: 'btn  btn-lg btn-default' %>
    <% end %>
    <% if params['state'] == 'MO_B' %>
      <%= link_to 'MO - Brokers', rc_marketing_empire_customers_path(page: 'deadline', state: 'MO_B'), class: 'btn  btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'MO - Brokers', rc_marketing_empire_customers_path(page: 'deadline', state: 'MO_B'), class: 'btn  btn-lg btn-default' %>
    <% end %>
    <% if params['state'] == 'IN' %>
      <%= link_to 'IN', rc_marketing_empire_customers_path(page: 'deadline', state: 'IN'), class: 'btn  btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'IN', rc_marketing_empire_customers_path(page: 'deadline', state: 'IN'), class: 'btn  btn-lg btn-default' %>
    <% end %>

  </div>

<br>

<!-- ### PA ###-->

<% if params['state'] == 'PA' %>
<% pa_email_dates = ['2020-01-12', '2020-02-06', '2020-02-21', '2020-03-07', '2020-03-22', '2020-04-06', '2020-04-21', '2020-05-06', '2020-05-26'] %>
<% pa_postcard_dates = ['2020-04-01', '2020-05-01'] %>

<!-- EMAIL -->
<div class="row">
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Email Marketing</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
        <% pa_email_dates.each do |email| %>
        <tr class="">
            <td><%= email.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'PA', day: email, what: 'Email') %></td>
            <% mail_id = "E-RC-Deadline-PA-Email-#{email}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!-- Postcard -->
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Postcard Marketing</th>
        </tr>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
      </thead>
      <tbody>
        <% pa_postcard_dates.each do |postcard| %>
        <tr class="">
            <td><%= postcard.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'PA', day: postcard, what: 'postcard') %></td>
            <% mail_id = "E-RC-Deadline-PA-Postcard-#{postcard}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% end %>

<!-- ### MO Brokers ###-->

  <!-- Matching all MO customers to the MO Brokers list - If they do not match the brokers list they are not being marketed to as a broker -->

<% if params['state'] == 'MO_B' %>
<% mo_b_email_dates = ['2020-02-11', '2020-03-07', '2020-03-22', '2020-04-06', '2020-04-21', '2020-05-06', '2020-05-21', '2020-06-05', '2020-06-20', '2020-06-25'] %>
<% mo_b_postcard_dates = ['2020-05-01', '2020-05-31'] %>

<!-- EMAIL -->
<div class="row">
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Email Marketing</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
        <% mo_b_email_dates.each do |email| %>
        <tr class="">
            <td><%= email.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'MO_B', day: email, what: 'Email') %></td>
            <% mail_id = "E-RC-Deadline-MO_B-Email-#{email}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Postcard -->
    <div class="col-md-6">
      <table class="table table-outline">
        <thead>
          <tr class="grey-b-200">
            <th class="text-center" colspan="3">2020 Postcard Marketing</th>
          </tr>
          <tr class="">
            <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
          </tr>
        </thead>
        <tbody>
          <% mo_b_postcard_dates.each do |postcard| %>
          <tr class="">
              <td><%= postcard.to_date.strftime('%-m/%-d/%Y') %></td>
              <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'MO_B', day: postcard, what: 'postcard') %></td>
              <% mail_id = "E-RC-Deadline-MO_B-Postcard-#{postcard}" %>
              <% records = PostcardRecord.all.pluck(:mailing_id) %>
              <% if records.include? mail_id %>
                <td><span class="glyphicon glyphicon-ok success"></span></td>
              <% elsif %>
                <td></td>
              <% end %>          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<% end %>

<!-- ### IN ###-->

<% if params['state'] == 'IN' %>
<% in_email_dates = ['2020-02-11', '2020-03-07', '2020-03-22', '2020-04-06', '2020-04-21', '2020-05-06', '2020-05-21', '2020-06-05', '2020-06-20', '2020-06-25'] %>
<% in_postcard_dates = ['2020-05-01', '2020-05-31'] %>
<% state = params['state'] %>

<!-- EMAIL -->
<div class="row">
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Email Marketing</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
        <% in_email_dates.each do |email| %>
        <tr class="">
            <td><%= email.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: state, day: email, what: 'Email') %></td>
            <% mail_id = "E-RC-Deadline-#{state}-Email-#{email}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Postcard -->
    <div class="col-md-6">
      <table class="table table-outline">
        <thead>
          <tr class="grey-b-200">
            <th class="text-center" colspan="3">2020 Postcard Marketing</th>
          </tr>
          <tr class="">
            <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
          </tr>
        </thead>
        <tbody>
          <% in_postcard_dates.each do |postcard| %>
            <tr class="">
              <td><%= postcard.to_date.strftime('%-m/%-d/%Y') %></td>
              <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'IN', day: postcard, what: 'postcard') %></td>
              <% mail_id = "E-RC-Deadline-#{state}-Postcard-#{postcard}" %>
              <% records = PostcardRecord.all.pluck(:mailing_id) %>
              <% if records.include? mail_id %>
                <td><span class="glyphicon glyphicon-ok success"></span></td>
              <% elsif %>
                <td></td>
              <% end %>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<% end %>

<!-- ### NC ###-->

<% if params['state'] == 'NC' %>
<% nc_email_dates = ['2020-01-22', '2020-02-16', '2020-03-02', '2020-03-17', '2020-04-01', '2020-04-16', '2020-05-01', '2020-05-16', '2020-05-31', '2020-06-05'] %>
<% nc_postcard_dates = ['2020-04-11', '2020-05-11'] %>
<% state = params['state'] %>

<!-- EMAIL -->
<div class="row">
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Email Marketing</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td colspan="3" class="">Full List (all returning customers who are expiring in this cycle): <strong><%= number_with_delimiter(@full_list.count) %> <%= link_to 'Export', rc_marketing_empire_customers_path(add: 'full_list', page: 'deadline', state: 'NC', day: 'Full', what: 'Email') %></td>
        </tr>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
        <% nc_email_dates.each do |email| %>
        <tr class="">
            <td><%= email.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: state, day: email, what: 'Email') %></td>
            <% mail_id = "E-RC-Deadline-#{state}-Email-#{email}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!-- Postcard -->
  <div class="col-md-6">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <th class="text-center" colspan="3">2020 Postcard Marketing</th>
        </tr>
        <tr class="">
          <td colspan="3" class="">Current List Count: <strong><%= number_with_delimiter(@export_count.count) %></strong></td>
        </tr>
      </thead>
      <tbody>
        <% nc_postcard_dates.each do |postcard| %>
        <tr class="">
            <td><%= postcard.to_date.strftime('%-m/%-d/%Y') %></td>
            <td><%= link_to 'Export', rc_marketing_empire_customers_path(add: 'yes', page: 'deadline', state: 'PA', day: postcard, what: 'postcard') %></td>
            <% mail_id = "E-RC-Deadline-PA-Postcard-#{postcard}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% if records.include? mail_id %>
              <td><span class="glyphicon glyphicon-ok success"></span></td>
            <% elsif %>
              <td></td>
            <% end %>          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% end %>

</div>
