<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="container">

    <div class="text-center">
      <h4>States Included: CA, NY, NM</h4>
      <% if params['what'] == 'email_new' %>
        <%= link_to 'Email', rc_marketing_empire_customers_path(what: 'email_new', page: 'rolling'), class: 'btn btn-primary btn-lg', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading"} %>
      <% else %>
        <%= link_to 'Email', rc_marketing_empire_customers_path(what: 'email_new', page: 'rolling'), class: 'btn btn-default btn-lg', data: {disable_with: "<i class = 'fa fa-spinner primary'></i> loading"} %>
      <% end %>
      <% if params['what'] == 'postcard_new' %>
        <%= link_to 'Postcard', rc_marketing_empire_customers_path(what: 'postcard_new', page: 'rolling'), class: 'btn btn-primary btn-lg', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin primary'></i> loading"} %>
      <% else %>
        <%= link_to 'Postcard', rc_marketing_empire_customers_path(what: 'postcard_new', page: 'rolling'), class: 'btn btn-default btn-lg', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin primary'></i> loading"} %>
      <% end %>
    </div>

<% if params['what'] == 'email_new' %>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 down20">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <td colspan="2" class="text-center bold">Empire Rolling States Email</td>
        </tr>
        <tr>
          <th colspan="1">Total List Size: <%= number_with_delimiter(@full_list.count) %> </th>
          <th><%= link_to 'Add to Export', rc_marketing_empire_customers_path(page: 'rolling', add: 'yes', what: 'email_new'), class: 'btn btn-primary', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin white'></i> Loading Export"} %></th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td colspan="2" class="text-center">Emailing This Week (Every Wednesday)</td>
        </tr>
        <tr>
          <td>CA</td>
          <!-- <td><%#= @ca.count %></td> -->
          <td><i class="fa fa-check primary"></i></td>
        </tr>
        <tr>
          <td>NY</td>
          <!-- <td><%#= @ny.count %></td> -->
        </tr>
        <tr>
          <td>NM</td>
          <!-- <td><%#= @nm.count %></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %> <!-- END OF EMAIL -->

<% if params['what'] == 'postcard_new' %>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 down20">
    <table class="table table-outline">
      <thead>
        <tr class="grey-b-200">
          <td colspan="1" class="text-center bold">Empire Rolling States Email</td>
        </tr>
        <tr>
          <th colspan="1" class="text-center"><%= link_to 'Start Export', rc_marketing_empire_customers_path(page: 'rolling', add: 'yes', what: 'postcard_new', ca: 'yes'), class: 'btn btn-primary', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin white'></i> Loading Export"} %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if params['ca'] == 'done' %>
            <% ca_sent = PostcardRecord.where(group: 'ca').where(mailing_id: "rolling_postcard-#{Date.today}").pluck(:sent) %>
              <td class="text-center"><big>CA: <%= ca_sent[0] %></big> <i class="fa fa-check fa-2x green"></i></td>
          <% else %>
            <td class="text-center">CA:</td>
          <% end %>
        </tr>
        <tr>
          <% if params['ny'] == 'done' %>
            <% ny_sent = PostcardRecord.where(group: 'ny').where(mailing_id: "rolling_postcard-#{Date.today}").pluck(:sent) %>
              <td class="text-center"><big>NY: <%= ny_sent[0] %></big> <i class="fa fa-check fa-2x green"></i></td>
          <% else %>
            <td class="text-center">NY:</td>
          <% end %>
        </tr>
        <tr>
          <% if params['nm'] == 'done' %>
            <% nm_sent = PostcardRecord.where(group: 'nm').where(mailing_id: "rolling_postcard-#{Date.today}").pluck(:sent) %>
              <td class="text-center">NM: <big><%= nm_sent[0] %></big> <i class="fa fa-check fa-2x green"></i></td>
          <% else %>
            <td class="text-center">NM:</td>
          <% end %>
        </tr>
        <% if params['nm'] == 'done' && params['ny'] == 'done' && params['ca'] == 'done' %>
          <tr>
            <td colspan="" class="text-center"><%= link_to 'Go To Export Table', postcard_exports_path(record: 'no', what: 'postcard', co: 'empire'), class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

<% end %> <!-- END OF Postcard -->






<!-- OLD -->

  <!-- <p><strong>1. Select mailing date</strong>  - <%# if params['day'].present? %> <%#= link_to 'Select new date', rc_marketing_empire_customers_path %> <%# end %></p>
  <p><strong>2. Add records </strong> (take note of 'Mailing ID' and record count)</p>
  <p><strong>3. Export List </strong>(check that 'Mailing ID' record count match)</p> -->
<!--
<% if params['day'].present? == false %>
<br>
  <%= render(partial: 'rc_marketing_rolling_buttons') %>
<% elsif %>
  <% if params['what'] == 'postcard' %>
  <div class="text-center">
    <h3>Mail Date: <strong><%= params['day'].present? ? params['day'].to_date.strftime('%-m/%-d/%Y') : ''%></strong> </h3>
    <h3>Mail ID: <strong><%= "E-RC-Rolling-#{params['day']}" %></strong></h3>
    <h3>Records: <strong> <%= @exp_1 + @exp_2 %></strong></h3>
    <br>
    <%= link_to 'Add Records', rc_marketing_empire_customers_path(st: params['st'], day: params['day'], added: 'done', what: 'postcard'), class: 'btn btn-success btn-lg'  %>
  </div>

<br>
  <p class="">EXP 1 (33 days): <%= params['day'].present? ? @date_1a.to_date.strftime('%-m/%-d/%y') : ''%> - <%= params['day'].present? ? @date_1b.to_date.strftime('%-m/%-d/%y') : ''%> | EXP 2 (63 days): <%= params['day'].present? ? @date_2a.to_date.strftime('%-m/%-d/%y') : ''%> - <%= params['day'].present? ? @date_2b.to_date.strftime('%-m/%-d/%y') : ''%></p>
  <table class="table table-outline">
    <thead>
      <tr class="grey-b-200 ">
        <th>State</th>
        <th>Exp 1</th>
        <th>Exp 2</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="grey-b-100 ">
        <td>CA</td>
        <td><%= @ca_master_1.count %></td>
        <td><%= @ca_master_2.count %></td>
        <td><%= @ca_master_1.count + @ca_master_2.count %> </td>
      </tr>
      <tr class="grey-b-100 ">
        <td>NY</td>
        <td><%= @ny_master_1.count %></td>
        <td><%= @ny_master_2.count %></td>
        <td><%= @ny_master_1.count + @ny_master_2.count %> </td>
      </tr>
      <tr class="grey-b-100 ">
        <td>NM</td>
        <td><%= @nm_master_1.count %></td>
        <td><%= @nm_master_2.count %></td>
        <td><%= @nm_master_1.count + @nm_master_2.count %> </td>
      </tr>
      <tr class="grey-b-100 ">
        <td>WA</td>
        <td><%= @wa_master_1.count %></td>
        <td><%= @wa_master_2.count %></td>
        <td><%= @wa_master_1.count + @wa_master_2.count %> </td>
      </tr>
      <tr class="grey-b-100 ">
        <td><strong>Total</td>
        <td><strong><%= @exp_1 %></strong></td>
        <td><strong><%= @exp_2 %></strong></td>
        <td><strong><%= @exp_1 + @exp_2 %></strong></td>
      </tr>
    </tbody>
  </table>

  <% end %>

<% end %>

<% if params['what'] == 'email' %>
  <div class="text-center">
    <h3>Mail Date: <strong><%= params['day'].present? ? params['day'].to_date.strftime('%-m/%-d/%Y') : ''%></strong> </h3>
    <h3>Mail ID: <strong><%= "E-RC-Rolling-Email-#{params['day']}" %></strong></h3>
    <h3>Records: <strong> <%= @ca_count.sum + @ny_count.sum + @nm_count.sum + @wa_count.sum %></strong></h3>
    <br>
    <%= link_to 'Add Records', rc_marketing_empire_customers_path(st: params['st'], day: params['day'], added: 'done', what: params['what'], page: params['page']), class: 'btn btn-success btn-lg'  %>
  </div>
<br>
    <table class="table table-outline">
      <thead>
        <th>State</th>
        <th>g1</th>
        <th>g2</th>
        <th>g3</th>
        <th>g4</th>
        <th>g5</th>
        <th>g6</th>
        <th>g7</th>
        <th>g8</th>
        <th>g9</th>
        <th>g10</th>
        <th>g11</th>
        <th>Total</th>
      </thead>
      <tbody>

        <tr>
          <td>CA</td>
          <% ca_groups = EmpireCustomer.where(extra_s1: 'ca').group(:extra_i).count %>
          <% ca_groups.each do |k,v| %>
            <td><%= v %></td>
          <% end %>
        </tr>


        <tr>
          <td>CA</td>
          <% @ca_count.each do |i| %>
            <td><%= i %></td>
          <% end %>
          <td><strong><%= @ca_count.sum %></strong></td>
        </tr>
        <tr>
          <td>NY</td>
          <% @ny_count.each do |i| %>
            <td><%= i %></td>
          <% end %>
          <td><strong><%= @ny_count.sum %></strong></td>
        </tr>
        <tr>
          <td>NM</td>
          <% @nm_count.each do |i| %>
            <td><%= i %></td>
          <% end %>
          <td><strong><%= @nm_count.sum %></strong></td>
        </tr>
        <tr>
          <td>WA</td>
          <% @wa_count.each do |i| %>
            <td><%= i %></td>
          <% end %>
          <td><strong><%= @wa_count.sum %></strong></td>
        </tr>

      </tbody>
    </table>
<% end %>

<br>
-->

</div>
