
<table class="table table-outline">
  <tbody>
    <tr>
      <td> <%= link_to 'Feb 5th', rc_marketing_empire_customers_path(st: 'monthly', day:'2020-02-05'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Feb 12th', rc_marketing_empire_customers_path(st: 'monthly', day:'2020-02-12'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Feb 19th', rc_marketing_empire_customers_path(st: 'monthly', day:'2020-02-19'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Feb 26th', rc_marketing_empire_customers_path(st: 'monthly', day:'2020-02-26'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Mar 4th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-03-04'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Mar 11th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-03-11'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Mar 18th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-03-18'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Mar 25th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-03-25'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Apr 1st', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-04-01'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Apr 8th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-04-08'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Apr 15th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-04-15'), class: 'btn btn-primary' %></td>
    </tr>
    <tr>
      <td> <%= link_to 'Apr 22nd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-04-22'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Apr 29th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-04-29'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'May 6th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-05-06'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'May 13th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-05-13'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'May 20th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-05-20'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'May 27th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-05-27'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jun 3rd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-06-03'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jun 10th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-06-10'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jun 17th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-06-17'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jun 24th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-06-24'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jul 1st', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-07-01'), class: 'btn btn-primary' %></td>
      </tr>
    <tr>
      <td> <%= link_to 'Jul 8th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-07-08'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jul 15th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-07-15'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jul 22nd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-07-22'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jul 29th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-07-29'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Aug 5th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-08-05'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Aug 12th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-08-12'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Aug 19th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-08-19'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Aug 26th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-08-26'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Sep 2nd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-09-02'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Sep 9th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-09-09'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Sep 16th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-09-16'), class: 'btn btn-primary' %></td>
    </tr>
    <tr>
      <td> <%= link_to 'Sep 23rd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-09-23'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Sep 30th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-09-30'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Oct 7th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-10-07'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Oct 14th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-10-14'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Oct 21st', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-10-21'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Oct 28th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-10-28'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Nov 4th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-11-04'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Nov 11th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-11-11'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Nov 18th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-11-18'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Nov 25th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-11-25'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Dec 2nd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-12-02'), class: 'btn btn-primary' %></td>
    </tr>
    <tr>
      <td> <%= link_to 'Dec 9th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-12-09'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Dec 16th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-12-16'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Dec 23rd', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-12-23'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Dec 30th', rc_marketing_empire_customers_path(st: 'monthly', day: '2020-12-30'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jan 6th', rc_marketing_empire_customers_path(st: 'monthly', day: '2021-01-06'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jan 13th', rc_marketing_empire_customers_path(st: 'monthly', day: '2021-01-13'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jan 20th', rc_marketing_empire_customers_path(st: 'monthly', day: '2021-01-20'), class: 'btn btn-primary' %></td>
      <td> <%= link_to 'Jan 27th', rc_marketing_empire_customers_path(st: 'monthly', day: '2021-01-27'), class: 'btn btn-primary' %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
