<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="well text-center">
  <h1 class=""><big>Empire Return Customer Marketing Dashboard</big></h1>
  <br>
    <% if params['page'] == 'info' %>
      <%= link_to 'State info', rc_marketing_empire_customers_path(page: 'info'), class: 'btn btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'State info', rc_marketing_empire_customers_path(page: 'info'), class: 'btn btn-lg btn-default' %>
    <% end %>
    <% if params['page'] == 'rolling' %>
      <%= link_to 'Rolling States', rc_marketing_empire_customers_path(page: 'rolling'), class: 'btn btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'Rolling States', rc_marketing_empire_customers_path(page: 'rolling'), class: 'btn btn-lg btn-default' %>
    <% end %>
    <% if params['page'] == 'deadline' %>
      <%= link_to 'Deadline States', rc_marketing_empire_customers_path(page: 'deadline'), class: 'btn btn-lg btn-success' %>
    <% elsif %>
      <%= link_to 'Deadline States', rc_marketing_empire_customers_path(page: 'deadline'), class: 'btn btn-lg btn-default' %>
    <% end %>

</div>

<% if params['page'] == 'rolling' %>
  <%= render(partial: 'rc_marketing_rolling') %>
<% end %>

<% if params['page'] == 'info' %>
  <%= render(partial: 'rc_marketing_state_info') %>
<% end %>

<% if params['page'] == 'deadline' %>
  <%= render(partial: 'rc_marketing_deadline') %>
<% end %>
