<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @mailing_empire_nm.list %>
</p>

<p>
  <strong>License type:</strong>
  <%= @mailing_empire_nm.license_type %>
</p>

<p>
  <strong>Name prefix:</strong>
  <%= @mailing_empire_nm.name_prefix %>
</p>

<p>
  <strong>First:</strong>
  <%= @mailing_empire_nm.first %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @mailing_empire_nm.middle %>
</p>

<p>
  <strong>Last:</strong>
  <%= @mailing_empire_nm.last %>
</p>

<p>
  <strong>License no:</strong>
  <%= @mailing_empire_nm.license_no %>
</p>

<p>
  <strong>Add1:</strong>
  <%= @mailing_empire_nm.add1 %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @mailing_empire_nm.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @mailing_empire_nm.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @mailing_empire_nm.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @mailing_empire_nm.zipcode %>
</p>

<p>
  <strong>County:</strong>
  <%= @mailing_empire_nm.county %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mailing_empire_nm.email %>
</p>

<p>
  <strong>Licese status:</strong>
  <%= @mailing_empire_nm.licese_status %>
</p>

<p>
  <strong>Issued:</strong>
  <%= @mailing_empire_nm.issued %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @mailing_empire_nm.expires %>
</p>

<p>
  <strong>Last renewal:</strong>
  <%= @mailing_empire_nm.last_renewal %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @mailing_empire_nm.extra_s %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @mailing_empire_nm.extra_i %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @mailing_empire_nm.extra_b %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @mailing_empire_nm.extra_d %>
</p>

<%= link_to 'Edit', edit_mailing_empire_nm_path(@mailing_empire_nm) %> |
<%= link_to 'Back', mailing_empire_nms_path %>
