
<%= simple_form_for(@empire_rc_state) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :state %>
      </div>
      <div class="col-md-6">
        <%= f.input :exp_type, label: 'Exp Type', as: :select, collection: ['Deadline', 'Rolling'] %>
      </div>
    </div>
    <%= f.input :master_list_name, as: :hidden %>
    <%= f.input :master_list_quantity, as: :hidden %>
    <%= f.input :master_list_update_date, label: 'Last List Upload' %>
    <%= f.input :master_list_update_next, label: 'Date For Next List Upload' %>
    <%= f.input :list_notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
