<div class="well text-center">
  <h1><big>Empire States</big></h1>
  <p id="notice"><%= notice %></p>
</div>

<table class="table table-outline">
  <thead>
    <tr class="grey-b-200">
      <th>State</th>
      <th>Exp Type</th>
      <th>Exp Date</th>
      <th>List Name</th>
      <th>List Quantity</th>
      <th>Matched Customers</th>
      <th>Market Share</th>
      <th>List Upload Date</th>
      <th>Next List Due</th>
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @empire_rc_states.each do |empire_rc_state| %>
      <tr>
        <td class="bold"><%= link_to empire_rc_state.state, empire_rc_state_path(empire_rc_state)%></td>
        <td><%= empire_rc_state.exp_type %></td>
        <td><%= empire_rc_state.exp_type == 'Deadline' ? empire_rc_state.exp_date : 'n/a' %></td>
        <td><%= empire_rc_state.master_list_name %></td>
        <td><%= empire_rc_state.master_list_quantity.present? ? number_with_delimiter(empire_rc_state.master_list_quantity) : '' %></td>
        <td><%= empire_rc_state.matched_customers.present? ? number_with_delimiter(empire_rc_state.matched_customers) : '' %></td>
        <td><%= empire_rc_state.matched_customers.present? ? number_to_percentage((empire_rc_state.matched_customers.to_f / empire_rc_state.master_list_quantity.to_f) * 100, precision: 1) : '' %></td>
        <td><%= empire_rc_state.master_list_update_date.present? ? empire_rc_state.master_list_update_date.strftime('%-m/%-d/%Y') : '' %></td>
        <td><%= empire_rc_state.master_list_update_date.present? ? empire_rc_state.master_list_update_next.strftime('%-m/%-d/%Y') : '' %></td>
      </tr>
    <% end %>
    <tr class="bold">
      <td>Totals</td>
      <td colspan="3"></td>
      <td><%= number_with_delimiter(@empire_rc_states.sum(:master_list_quantity)) %></td>
      <td><%= number_with_delimiter(@empire_rc_states.sum(:matched_customers)) %></td>
      <td><%= number_to_percentage(@empire_rc_states.sum(:matched_customers).to_f / @empire_rc_states.sum(:master_list_quantity).to_f * 100, precision: 1)%></td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Add New State', new_empire_rc_state_path %>
