<%= form_with(model: tx_royalty, local: true) do |form| %>
  <% if tx_royalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tx_royalty.errors.count, "error") %> prohibited this tx_royalty from being saved:</h2>

      <ul>
      <% tx_royalty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quarter, 'Name (2018 Q1)' %>
    <%= form.text_field :quarter, id: :tx_royalty_quarter %>
  </div>

  <div class="field">
    <%= form.label :extra_i, 'Quarter' %>
    <%= form.select :extra_i, ['1', '2', '3', '4'], id: :tx_royalty_extra_i %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :tx_royalty_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :tx_royalty_end_date %>
  </div>

  <div class="field">
    <%= form.label :sent_date %>
    <%= form.date_select :sent_date, id: :tx_royalty_sent_date %>
  </div>

<% if @tx_royalty.sold.nil? %>
  <div class="field">
    <%= form.label :sold %>
    <%= form.number_field :sold, id: :tx_royalty_sold, value: 0 %>
  </div>
<% elsif %>
  <div class="field">
    <%= form.label :sold %>
    <%= form.number_field :sold, id: :tx_royalty_sold %>
  </div>
<% end %>


  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :tx_royalty_cost, value: 64.50 %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage, id: :tx_royalty_percentage, value: 0.25 %>
  </div>

  <div class="field">
    <%= form.label :sent %>
    <%= form.check_box :sent, id: :tx_royalty_sent %>
  </div>

  <div class="field">
    <%= form.label :sales_report, 'Upload Sales Report' %>
    <%= form.file_field :sales_report, id: :tx_royalty_sales_report %>
  </div>

  <!-- <div class="field">
    <%= form.label :extra_b %>
    <%= form.check_box :extra_b, id: :tx_royalty_extra_b %>
  </div>  -->

  <div class="field">
    <%= form.label :extra_s, 'Course Title' %>
    <%= form.text_field :extra_s, id: :tx_royalty_extra_s, value: "9245 - A CPAs Guidebook to Ethical Behavior: A CPE Ethics course for texas CPAs" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
