<% data = SCustomer.group_by_month(:purchase).sum(:price) %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-outline">
        <% year = '2018' %>
        <% total_1 = [] %>
        <thead>
          <tr>
            <th class="text-center" colspan="2"><%= year %></th>
          </tr>
          <tr>
            <th>Month</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>
          <% data.each do |k, v| %>
          <% if k.strftime('%Y') == year %>
            <tr>
              <td><%= k.strftime('%B')%></td>
              <td><%= number_to_currency(v) %></td>
            </tr>
                  <% total_1.push(v.to_f / 100) %>
          <% end %>
          <% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= number_to_currency(total_1.sum) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-outline">
        <% year = '2019' %>
        <% total_1 = [] %>
        <thead>
          <tr>
            <th class="text-center" colspan="2"><%= year %></th>
          </tr>
          <tr>
            <th>Month</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>
          <% data.each do |k, v| %>
          <% if k.strftime('%Y') == year %>
            <tr>
              <td><%= k.strftime('%B')%></td>
              <td><%= number_to_currency(v.to_f / 100) %></td>
            </tr>
                  <% total_1.push(v.to_f / 100) %>
          <% end %>
          <% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= number_to_currency(total_1.sum) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-outline">
        <% year = '2020' %>
        <% total_1 = [] %>
        <thead>
          <tr>
            <th class="text-center" colspan="2"><%= year %></th>
          </tr>
          <tr>
            <th>Month</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>
          <% data.each do |k, v| %>
          <% if k.strftime('%Y') == year %>
            <tr>
              <td><%= k.strftime('%B')%></td>
              <td><%= number_to_currency(v.to_f / 100) %></td>
            </tr>
                  <% total_1.push(v.to_f / 100) %>
          <% end %>
          <% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= number_to_currency(total_1.sum) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
