<h1 class="text-center">Search EA List</h1>
<%= link_to 'Back to search', master_eas_path, class: 'btn btn-default' %>
<br>
<% if params['no_mail'] == 'find' %>
  <p class="down20"><%= link_to "Add To Can't Find List", new_seq_no_mail_path %></p>
<% end %>
<% unless params['no_mail'] = 'find' %>
<table class="table table-outline ">
  <caption>Sequoia Customer</caption>
  <thead>
    <tr>
      <th>uid</th>
      <th>Lic</th>
      <th>Lic St.</th>
      <th>purchase_date</th>
      <th>product</th>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @sequoia_customer.each do |customer| %>
    <tr>
      <td><%= customer.uid %></td>
      <td><%= customer.lic_num %></td>
      <td><%= customer.lic_state %></td>
      <td><%= customer.purchase %></td>
      <td><%= customer.product_2.blank? == false ? "#{customer.product_1 }, #{customer.product_2}" : customer.product_1 %></td>
      <td><%= customer.fname %></td>
      <td><%= customer.lname %></td>
      <td><%= customer.street_1 %></td>
      <td><%= customer.street_2 %></td>
      <td><%= customer.city %></td>
      <td><%= customer.state %></td>
      <td><%= customer.zip %></td>
      <td><%= customer.email %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="13"><%= link_to "No Match", master_ea_no_matches_path(no_match: 'yes', uid: params['uid']) %></td>
    </tr>
  </tbody>
</table>
<% end %>

<p class="bold">Searching By</p>
<p>ZIP: <%= params['zip'] %><br>Last: <%= params['lname'] %><br>State: <%= params['state'] %></p>
<button class="btn" data-toggle="collapse" data-target="#edit">Edit Search</button>

<div id="edit" class="collapse">
  <div class="display-none-search">
    <%= text_field_tag "id", '', placeholder: 'UID', class: "uid_field form-control", value: params['uid'] %>
  </div>
  <div class="row down20">
    <div class="col-md-2">
      <%= text_field_tag "id", '', placeholder: 'Search by Last Name', class: "lname_field form-control", value: params['lname'] %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "id", '', placeholder: 'Search by State', class: "state_field form-control", value: params['state'] %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "id", '', placeholder: 'Search by Zip', class: "zip_field form-control", value: params['zip'] %>
    </div>
  </div>
  <div class="down20">
    <%= link_to 'Search', search_master_eas_path, class: 'search_link btn btn-primary' %>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-2">
    <input class="form-control" id="myInput" type="text" placeholder="filter..">
  </div>
</div>
<br>
<table class="table table-outline table-striped">
  <caption>EA Master List</caption>
  <thead>
    <tr>
      <th>LID</th>
      <th>List</th>
      <!-- <th>Lic Number</th> -->
      <th>First</th>
      <th>mi</th>
      <th>Last</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <% unless params['no_mail'] == 'find' %><th>Customer</th><% end %>
      <th>No Mail</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <% @search_results.each do |results| %>
    <tr>
      <td><%= results.lid %></td>
      <td><%= results.list %></td>
      <!-- <td><%= results.lic %></td> -->
      <td><%= results.fname %></td>
      <td><%= results.mi %></td>
      <td><%= results.lname %></td>
      <td><%= results.add %></td>
      <td><%= results.add2 %></td>
      <td><%= results.city %></td>
      <td><%= results.st %></td>
      <td><%= results.zip %></td>
      <% unless params['no_mail'] == 'find' %><td><%= link_to 'Customer', search_master_eas_path(match: 'yes', uid: params['uid'].to_i, lid: results.lid, list: results.list, lname: results.lname) %> <% end %></td>
      <td><%= link_to 'No Mail', search_master_eas_path(no_mail: 'match', lid: results.lid, lname: results.lname) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
$(".search_link").click(function() {
  $(this).attr("href", function() {
    return this.href + "?zip=" + $('.zip_field').val() + "&lname=" + $('.lname_field').val().toUpperCase() + "&state=" + $('.state_field').val().toUpperCase() + "&uid=" + $('.uid_field').val();
  });
});

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
