<h1 class="text-center down30">CPA Customer Match</h1>
<% list_name = MasterCpa.first(1).pluck(:list) %>
<ul>
  <li><strong>List Name:</strong> <%= list_name[0] %></li>
  <li><strong>List Size:</strong> <%= number_with_delimiter(MasterCpa.count) %></li>
  <li><strong><%= link_to 'Matched:', master_cpa_matches_path() %></strong> <%= number_with_delimiter(MasterCpaMatch.count) %></li>
  <li><strong><%= link_to 'No Match:', master_cpa_no_matches_path() %></strong> <%= number_with_delimiter(MasterCpaNoMatch.count) %></li>
  <li><strong><%= link_to 'Double:', master_cpa_double_accounts_path() %></strong> <%= number_with_delimiter(MasterCpaDoubleAccount.count) %></li>
</ul>

<% master_cpa_no_matches = MasterCpaNoMatch.where(list:list_name[0]).all.pluck(:uid) %>
<% master_cpa_matches = MasterCpaMatch.where(list:list_name[0]).all.pluck(:uid) %>
<% master_cpa_double_account = MasterCpaDoubleAccount.where(list:list_name[0]).all.pluck(:uid) %>
<% matches = MasterCpaMatch.pluck(:lid) %>
<% des = ['cpa', 'cpa '] %>
<p><%= link_to 'Check remaining', cpa_customers_master_cpas_path(path: 'check_remaining') %></p>
  <% if params['path'] == 'check_remaining' %>
    <p><%= SCustomer.where(designation: des).where.not(uid: master_cpa_no_matches).where.not(uid: master_cpa_matches).where.not(uid: master_cpa_double_account).count %></p>
  <% end %>

<table class="table table-outline">
  <caption></caption>
  <thead>
    <tr class="grey-b-200">
      <th>UID</th>
      <th>Lic#</th>
      <th>Lic State</th>
      <th>Date</th>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Address_2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if params['path'] == 'search' %>
      <% SCustomer.where(id: params['id']).each do |s_customer| %>
        <tr class="grey-b-100">
          <td><%= s_customer.uid %></td>
          <td><%= s_customer.lic_num %></td>
          <td><%= s_customer.lic_state %></td>
          <td><%= s_customer.purchase %></td>
          <td><%= s_customer.fname %></td>
          <td><%= s_customer.lname %></td>
          <td><%= s_customer.street_1 %></td>
          <td><%= s_customer.street_2 %></td>
          <td><%= s_customer.city %></td>
          <td><%= s_customer.state %></td>
          <td><%= s_customer.zip %></td>
          <td><%= link_to 'No Match', cpa_customers_master_cpas_path(path: 'no_match', id: s_customer.id), class: 'btn btn-danger btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
        </tr>
      <% end %>
    <% else %>
      <% SCustomer.where(designation: des).where.not(uid: master_cpa_no_matches).where.not(uid: master_cpa_matches).where.not(uid: master_cpa_double_account).order(purchase: :ASC).last(1).each do |s_customer| %>
        <tr class="grey-b-100">
          <td><%= s_customer.uid %></td>
          <td><%= s_customer.lic_num %></td>
          <td><%= s_customer.lic_state %></td>
          <td><%= s_customer.purchase %></td>
          <td><%= s_customer.fname %></td>
          <td><%= s_customer.lname %></td>
          <td><%= s_customer.street_1 %></td>
          <td><%= s_customer.street_2 %></td>
          <td><%= s_customer.city %></td>
          <td><%= s_customer.state %></td>
          <td><%= s_customer.zip %></td>
          <td><%= link_to 'Search', cpa_customers_master_cpas_path(path: 'search', id: s_customer.id, lname: s_customer.lname), class: 'btn btn-primary btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if params['path'] == 'search' %>
  <% customer = SCustomer.find(params['id'].to_i) %>

  <a class="" data-toggle="collapse" data-target="#edit">Edit Last Name</a>
  <div id="edit" class="collapse">
    <div class="row down20">
      <div class="col-lg-2">
        <%= text_field_tag "id", '', class: "last_name_field form-control", value: params['lname'] %>
        <div class="down10"><%= link_to 'Search', cpa_customers_master_cpas_path(path: 'search', edit: 'lname', id: params['id']), class: 'search_link' %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <input class="form-control" id="myInput" type="text" placeholder="filter..">
    </div>
  </div>

  <table class="table table-outline">
    <caption>Master List: <%= list_name[0] %></caption>
    <thead>
      <tr class="grey-b-200">
        <th>Lid</th>
        <th>List</th>
        <th>lic#</th>
        <th>lic State</th>
        <th>First</th>
        <th>Last</th>
        <th>Address</th>
        <th>Address_2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTable">

      <% if params['edit'] == 'lname' %>
        <% lname = params['lname'] %>
      <% else %>
        <% lname = customer.lname.upcase %>
      <% end %>

      <% if customer.lic_state.present? %>
        <% MasterCpa.where(lname: lname).where(lic_st: customer.lic_state).all.each do |master_cpa| %>
        <tr class="">
          <td><%= master_cpa.lid %></td>
          <td><%= master_cpa.list %></td>
          <td><%= master_cpa.lic %></td>
          <td><%= master_cpa.lic_st %></td>
          <td><%= master_cpa.fname %></td>
          <td><%= master_cpa.lname %></td>
          <td><%= master_cpa.add %></td>
          <td><%= master_cpa.add2 %></td>
          <td><%= master_cpa.city %></td>
          <td><%= master_cpa.st %></td>
          <td><%= master_cpa.zip %></td>
          <% if matches.include? master_cpa.lid %>
            <td><%= link_to 'Double', cpa_customers_master_cpas_path(path: 'double', lid: master_cpa.lid, id: params['id']), class: 'btn btn-primary btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
          <% else %>
            <td><%= link_to 'Match',  cpa_customers_master_cpas_path(path: 'match', lid: master_cpa.lid, id: params['id']), class: 'btn btn-primary btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <% MasterCpa.where(lname: customer.lname.upcase).all.each do |master_cpa| %>
        <tr class="">
          <td><%= master_cpa.lid %></td>
          <td><%= master_cpa.list %></td>
          <td><%= master_cpa.lic %></td>
          <td><%= master_cpa.lic_st %></td>
          <td><%= master_cpa.fname %></td>
          <td><%= master_cpa.lname %></td>
          <td><%= master_cpa.add %></td>
          <td><%= master_cpa.add2 %></td>
          <td><%= master_cpa.city %></td>
          <td><%= master_cpa.st %></td>
          <td><%= master_cpa.zip %></td>
          <% if matches.include? master_cpa.lid %>
            <td><%= link_to 'Double', cpa_customers_master_cpas_path(path: 'double', lid: master_cpa.lid, id: params['id']), class: 'btn btn-primary btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
          <% else %>
            <td><%= link_to 'Match',  cpa_customers_master_cpas_path(path: 'match', lid: master_cpa.lid, id: params['id']), class: 'btn btn-primary btn-sm', data: {disable_with: "<i class = 'fa fa-circle-o-notch fa-spin'></i> loading..."} %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>


    </tbody>
  </table>


<% end %>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script type="text/javascript">
  $(".search_link").click(function() {
    $(this).attr("href", function() {
      return this.href + "&lname=" + $('.last_name_field').val().toUpperCase();
    });
  });
</script>
