
<div class="row">
  <div class="col-md-2">
    <%= text_field_tag "id", '', placeholder: 'UID', class: "uid_field form-control" %>
  </div>
</div>
<div class="row down20">
  <div class="col-md-2">
    <%= text_field_tag "id", '', placeholder: 'Search by Last Name', class: "lname_field form-control" %>
  </div>
  <div class="col-md-2">
    <%= text_field_tag "id", '', placeholder: 'Search by State', class: "state_field form-control" %>
  </div>
  <div class="col-md-2">
    <%= text_field_tag "id", '', placeholder: 'Search by Zip (5 digit)', class: "zip_field form-control" %>
  </div>
</div>
<div class="down20">
  <%= link_to 'Search CPA List', search_master_cpas_path, class: 'search_link btn btn-primary' %></p>
</div>
<p id="notice" class="down20"><%= notice %></p>
<table class="table table-outline table-striped">
  <caption>Unmatched Sequoia Customers (CPA Membership Only) - Total size <%= number_with_delimiter(@cpa_new_count) %></caption>
  <thead>
    <tr>
      <th>uid</th>
      <th>purchase_date</th>
      <th>product</th>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @cpa_new.each do |customer| %>
    <tr>
      <td><%= customer.uid %></td>
      <td><%= customer.purchase %></td>
      <td><%= customer.product_1 %></td>
      <td><%= customer.fname %></td>
      <td><%= customer.lname %></td>
      <td><%= customer.street_1 %></td>
      <td><%= customer.street_2 %></td>
      <td><%= customer.city %></td>
      <td><%= customer.state %></td>
      <td><%= customer.zip %></td>
      <td><%= customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<script>
$(".search_link").click(function() {
  $(this).attr("href", function() {
    return this.href + "?zip=" + $('.zip_field').val() + "&lname=" + $('.lname_field').val().toUpperCase() + "&state=" + $('.state_field').val().toUpperCase() + "&uid=" + $('.uid_field').val();
  });
});
</script>
