<p id="notice"><%= notice %></p>

<div class="well jumbotron text-center">
  <h1>Postcard Mailings</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Version</th>
      <th>Sent</th>
      <th>Date sent</th>
      <th>Number sent</th>
      <th>Note</th>
      <th>Extra i</th>
      <th>Extra b</th>
      <th>Extra s</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postcard_mailings.each do |postcard_mailing| %>
      <tr>
        <td><%= postcard_mailing.company %></td>
        <td><%= postcard_mailing.version %></td>
        <td><%= postcard_mailing.sent %></td>
        <td><%= postcard_mailing.date_sent %></td>
        <td><%= postcard_mailing.number_sent %></td>
        <td><%= postcard_mailing.note %></td>
        <td><%= postcard_mailing.extra_i %></td>
        <td><%= postcard_mailing.extra_b %></td>
        <td><%= postcard_mailing.extra_s %></td>
        <td><%= link_to 'Show', postcard_mailing %></td>
        <td><%= link_to 'Edit', edit_postcard_mailing_path(postcard_mailing) %></td>
        <td><%= link_to 'Destroy', postcard_mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postcard Mailing', new_postcard_mailing_path %>
