<p id="notice"><%= notice %></p>

<div class="page-header ">
</br>
  <h1 class="text-center"><strong>Postcard Mailing</strong> </br><small><%= @postcard_mailing.date_sent.strftime("%A %b %-d, %Y")%></small></h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Add Another Entry', new_postcard_mailing_path, class: 'btn btn-default' %> <%= link_to 'Back to Index', postcard_mailings_path, class: 'btn btn-default' %> <%= link_to 'Edit mailing', edit_postcard_mailing_path(@postcard_mailing), class: 'btn btn-default' %>
  </div>
</div>
</br>
<div class="col-lg-offset-2 col-lg-8">
<div class="well well-white" >
  <h3 class=""><strong>Details</strong></h3>
</br>

  <h4>
    <strong>Company:</strong>
    <%= @postcard_mailing.company %>
  </h4>

  <h4>
    <strong>Type:</strong>
    <%= @postcard_mailing.version %>
  </h4>

  <h4>
    <strong>Date:</strong>
    <%= @postcard_mailing.date_sent.strftime("%-m/%-d/%y") %>
  </h4>

  <h4>
    <strong>Sent:</strong>
    <%= @postcard_mailing.number_sent %>
  </h4>

  <h4>
    <strong>Note:</strong>
    <%= @postcard_mailing.note %>
  </h4>

</div>
