<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @postcard_mailing.company %>
</p>

<p>
  <strong>Version:</strong>
  <%= @postcard_mailing.version %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @postcard_mailing.sent %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @postcard_mailing.date_sent %>
</p>

<p>
  <strong>Number sent:</strong>
  <%= @postcard_mailing.number_sent %>
</p>

<p>
  <strong>Note:</strong>
  <%= @postcard_mailing.note %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @postcard_mailing.extra_i %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @postcard_mailing.extra_b %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @postcard_mailing.extra_s %>
</p>

<%= link_to 'Edit', edit_postcard_mailing_path(@postcard_mailing) %> |
<%= link_to 'Back', postcard_mailings_path %>
