<p id="notice"><%= notice %></p>
</br>
<h3> Mailing added for <strong><%=@postcard_mailing.company %> <%= @postcard_mailing.version %></strong></h3>
</br>

<p>
  <strong>Sent On:</strong>
  <%= @postcard_mailing.date_sent %>
</p>

<p>
  <strong>Number Sent:</strong>
  <%= @postcard_mailing.number_sent %>
</p>

<p>
  <strong>Note:</strong>
  <%= @postcard_mailing.note %>
</p>

<!-- <p>
  <strong>Extra i:</strong>
  <%= @postcard_mailing.extra_i %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @postcard_mailing.extra_b %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @postcard_mailing.extra_s %>
</p> -->

<%= link_to 'Edit Entry', edit_postcard_mailing_path(@postcard_mailing) %> |
<%= link_to 'Add Another Entry', new_postcard_mailing_path %> |
<%= link_to 'Postcard Index', postcard_mailings_path %>
