<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @seq_customer.order_id %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @seq_customer.uid %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @seq_customer.purchase %>
</p>

<p>
  <strong>Product 1:</strong>
  <%= @seq_customer.product_1 %>
</p>

<p>
  <strong>Product 2:</strong>
  <%= @seq_customer.product_2 %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @seq_customer.designation %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @seq_customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @seq_customer.lname %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @seq_customer.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @seq_customer.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @seq_customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @seq_customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @seq_customer.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seq_customer.email %>
</p>

<p>
  <strong>Price 2:</strong>
  <%= @seq_customer.price_2 %>
</p>

<p>
  <strong>Lic num:</strong>
  <%= @seq_customer.lic_num %>
</p>

<%= link_to 'Edit', edit_seq_customer_path(@seq_customer) %> |
<%= link_to 'Back', seq_customers_path %>
