<h3 class="text-center">Empire Course Creation</h3>

</br>
  <div class="text-center">
    <div class="btn-group">
      <%= link_to 'Courses', empire_courses_path, class: 'btn btn-primary' %>
      <%= link_to 'Tasks', course_creation_tasks_path, class: 'btn btn-primary' %>
      <%= link_to 'Templates', course_creation_templetes_path, class: 'btn btn-primary' %>
    </div>
  </div>
</br>
<% all_tasks = [] %>

<table class="table table-stripped table-outline">
  <thead>
    <tr class="grey-b-200">
      <th>Title</th>
      <th>Templete</th>
      <th>Assigned</th>
      <th>Completed</th>
      <!-- <th>Status</th> -->
    </tr>
  </thead>
  <tbody>
    <% @empire_courses.each do |empire_course| %>
      <tr>
        <td><%= link_to empire_course.title, empire_course %></td>
        <td><%= empire_course.extra_s %></td>
        <td><%= CourseCreationTask.where(:empire_course_id => empire_course.id).count %> / <%= CourseCreationTemplete.where(:extra_s => empire_course.extra_s ).count %></td>
        <!-- <td><%= CourseCreationTask.order(:extra_i).where(:empire_course_id => empire_course.id).where(:extra_s => 'Complete').count %></td> -->
          <% if CourseCreationTask.order(:extra_i).where(:empire_course_id => empire_course.id).where(:extra_s => 'Complete').count == CourseCreationTemplete.where(:extra_s => empire_course.extra_s ).count %>
            <td class=""> <%= CourseCreationTask.order(:extra_i).where(:empire_course_id => empire_course.id).where(:extra_s => 'Complete').count %> / <%= CourseCreationTemplete.where(:extra_s => empire_course.extra_s ).count %> <span class="glyphicon glyphicon-ok green 2x"</span></td>
          <% else %>
            <td><%= CourseCreationTask.order(:extra_i).where(:empire_course_id => empire_course.id).where(:extra_s => 'Complete').count %> / <%= CourseCreationTemplete.where(:extra_s => empire_course.extra_s ).count %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
