<h3 class="text-center">Enter Sales</h3>

<div class="text-center">
  <a target="_blank" href="https://www.sequoiacpe.com/admin/customer-report-2">Sequoia</a> |
  <a target="_blank" href="https://www.empirelearning.com/admin/customer-report">Empire</a> |
  <a target="_blank" href="https://www.pacificcpe.com/purchases">Pacific</a>
</div>
<p class="text-center"><%= link_to 'Index', sales_path %></p>

    <% @enter_sales.each do |sale| %>
      <%= link_to sale.day.strftime('%a, %-m/%-d/%y'), edit_sale_path(sale), class: 'btn btn-info' %>
    <% end %>

  <!-- </br><%= @week_b %></br><%= @week_e %></br>  -->
  <!-- <%= @sales_seq %> -->

<table class="table table-bordered table-striped">
  <thead>
    <th></th>
    <th colspan="2" class="text-center">Sequoia</th>
    <th colspan="2" class="text-center">Empire</th>
  </thead>
  <tr>
    <td>Monday</td>
    <td><%= @sales_seq[0] == 0 ? '' : number_to_currency(@sales_seq[0]) %></td>
    <td><%= @sales_seq[7] == 0 ? '' : number_to_currency(@sales_seq[7]) %></td>
    <td><%= @sales_emp[0] == 0 ? '' : number_to_currency(@sales_emp[0]) %></td>
    <td><%= @sales_emp[7] == 0 ? '' : number_to_currency(@sales_emp[7]) %></td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td><%= @sales_seq[1] == 0 ? '' : number_to_currency(@sales_seq[1]) %></td>
    <td><%= @sales_seq[8] == 0 ? '' : number_to_currency(@sales_seq[8]) %></td>
    <td><%= @sales_emp[1] == 0 ? '' : number_to_currency(@sales_emp[1]) %></td>
    <td><%= @sales_emp[8] == 0 ? '' : number_to_currency(@sales_emp[8]) %></td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td><%= @sales_seq[2] == 0 ? '' : number_to_currency(@sales_seq[2]) %></td>
    <td><%= @sales_seq[9] == 0 ? '' : number_to_currency(@sales_seq[9]) %></td>
    <td><%= @sales_emp[2] == 0 ? '' : number_to_currency(@sales_emp[2]) %></td>
    <td><%= @sales_emp[9] == 0 ? '' : number_to_currency(@sales_emp[9]) %></td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td><%= @sales_seq[3] == 0 ? '' : number_to_currency(@sales_seq[3]) %></td>
    <td><%= @sales_seq[10] == 0 ? '' : number_to_currency(@sales_seq[10]) %></td>
    <td><%= @sales_emp[3] == 0 ? '' : number_to_currency(@sales_emp[3]) %></td>
    <td><%= @sales_emp[10] == 0 ? '' : number_to_currency(@sales_emp[10]) %></td>
  </tr>
  <tr>
    <td>Friday</td>
    <td><%= @sales_seq[4] == 0 ? '' : number_to_currency(@sales_seq[4]) %></td>
    <td><%= @sales_seq[11] == 0 ? '' : number_to_currency(@sales_seq[11]) %></td>
    <td><%= @sales_emp[4] == 0 ? '' : number_to_currency(@sales_emp[4]) %></td>
    <td><%= @sales_emp[11] == 0 ? '' : number_to_currency(@sales_emp[11]) %></td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td><%= @sales_seq[5] == 0 ? '' : number_to_currency(@sales_seq[5]) %></td>
    <td><%= @sales_seq[12] == 0 ? '' : number_to_currency(@sales_seq[12]) %></td>
    <td><%= @sales_emp[5] == 0 ? '' : number_to_currency(@sales_emp[5]) %></td>
    <td><%= @sales_emp[12] == 0 ? '' : number_to_currency(@sales_emp[12]) %></td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td><%= @sales_seq[6] == 0 ? '' : number_to_currency(@sales_seq[6]) %></td>
    <td><%= @sales_seq[13] == 0 ? '' : number_to_currency(@sales_seq[13]) %></td>
    <td><%= @sales_emp[6] == 0 ? '' : number_to_currency(@sales_emp[6]) %></td>
    <td><%= @sales_emp[13] == 0 ? '' : number_to_currency(@sales_emp[13]) %></td>
  </tr>
  <tr>
    <td><strong>Total</strong></td>
    <td><strong><%= number_to_currency(@sales_seq.select { |x| @sales_seq.index(x) < 7}.sum) %></strong></td>
    <td><strong><%= number_to_currency(@sales_seq.select { |x| @sales_seq.index(x) > 6}.sum) %></strong></td>
    <td><strong><%= number_to_currency(@sales_emp.select { |x| @sales_emp.index(x) < 7}.sum) %></strong></td>
    <td><strong><%= number_to_currency(@sales_emp.select { |x| @sales_emp.index(x) > 7}.sum) %></strong></td>
  </tr>
</table>

<%= link_to 'More', sales_path(:weekly => 'yes'), class: 'btn btn-default' %>
