<h3 class="text-center">Canned Responses</h3>
  <p class="text-center"><%= link_to 'Index', live_chat_answers_path, class: 'btn btn-default' %> <%= link_to 'Add New', new_live_chat_answer_path(@live_chat_answer), class: 'btn btn-default' %></p>

<!-- <div class="well"> -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home3">Home</a></li>
    <li><a data-toggle="tab" href="#sequoia">Sequoia</a></li>
    <li><a data-toggle="tab" href="#empire">Empire</a></li>
    <li><a data-toggle="tab" href="#taxpreparers">Tax Preparers</a></li>
    <li><a data-toggle="tab" href="#policy">Policies</a></li>
  </ul>
  <div class="tab-content">
    <div id="home3" class="tab-pane fade in active">
    </br>
      <h4 class="text-center">Select Catagory from above</h4>
    </div>
    <div id="sequoia" class="tab-pane fade">
      <h3>Sequoia</h3>

      <div class="row">
      <div class="col-md-8">
        <input class="form-control" id="myInputSequoia" type="text" placeholder="Search">
      </div>
      </div>
    </br>
        <table class="table table-bordered">
            <thead>
              <th>Question</th>
              <th>Answer</th>
            </thead>
            <tbody id="myTableSequoia">
              <% @live_chat_answers.each do |live_chat_answer| %>
                <% if live_chat_answer.company == 'Sequoia' && live_chat_answer.answer.blank? == false %>
                  <tr>
                    <td><%= link_to live_chat_answer.question, live_chat_answer %> </br></br>Des: <%= live_chat_answer.des.blank? == false ? live_chat_answer.des : 'n/a' %></td>
                    <td class="word-break"><%= live_chat_answer.answer %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
    </div>
    <div id="empire" class="tab-pane fade">
      <h3>Empire</h3>
      <div class="row">
      <div class="col-md-8">
        <input class="form-control" id="myInputEmpire" type="text" placeholder="Search">
      </div>
      </div>
    </br>

        <table class="table table-bordered">
            <thead>
              <th>Question</th>
              <th>Answer</th>
            </thead>
            <tbody id="myTableEmpire">
              <% @live_chat_answers.each do |live_chat_answer| %>
                <% if live_chat_answer.company == 'Empire' && live_chat_answer.answer.blank? == false %>
                  <tr>
                    <td><%= link_to live_chat_answer.question, live_chat_answer %></br></br>State: <%= live_chat_answer.state.blank? == false ? live_chat_answer.state : 'n/a' %></td>
                    <td><%= live_chat_answer.answer %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
    </div>

    <div id="taxpreparers" class="tab-pane fade">
      <h3>Tax Preparers</h3>
      <div class="row">
      <div class="col-md-8">
        <input class="form-control" id="myInputTax" type="text" placeholder="Search">
      </div>
      </div>
    </br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Question</th>
                <th>Answer</th>
              </tr>
            </thead>
            <tbody id="myTableTax">
              <% @live_chat_answers.each do |live_chat_answer| %>
              <% if live_chat_answer.company == 'Tax Preparers' && live_chat_answer.answer.blank? == false %>
              <tr>
                <td><%= link_to live_chat_answer.question, live_chat_answer %></td>
                <td><%= live_chat_answer.answer %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
    </div>


    <div id="policy" class="tab-pane fade">
      <h3>Policies</h3>
      <div class="row">
      <div class="col-md-8">
        <input class="form-control" id="myInputPol" type="text" placeholder="Search">
      </div>
      </div>
    </br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Company</th>
                <th>Topic</th>
                <th>Policy</th>
              </tr>
            </thead>
            <tbody id="myTablePol">
              <% @live_chat_answers.each do |live_chat_answer| %>
              <% if live_chat_answer.topic.blank? == false %>
              <tr>
                <td><%= live_chat_answer.company %></td>
                <td><%= link_to live_chat_answer.topic, live_chat_answer %></td>
                <td><%= live_chat_answer.policy %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
    </div>
  </div>
<!-- </div> -->
