<p id="notice" class="text-center"><%= notice %></p>
<h2 class="text-center">No Mail Requests</h2>

<div class="text-center">
  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">CPA - Add New</button>
  <button type="button" data-toggle="modal" data-target="#myModalEa" class="btn btn-primary">EA - Add New</button>
</div>
<div class="down20">
  <p><%= link_to 'CPA No Mail List', no_mail_cpa_master_cpas_path() %></p>
  <p><%= link_to 'EA No Mail List', no_mail_ea_master_eas_path() %></p>
  <p><%= link_to "Can't Find List", seq_no_mails_path() %></p>

</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Sequoia No Mail - CPA</h4>
      </div>
      <div class="modal-body">
        <!-- FORM -->
        <div class="row down20">
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search Last Name', class: "lname_field form-control" %>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search State', class: "state_field form-control" %>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search Zip (5 digit)', class: "zip_field form-control" %>
          </div>
        </div>
        <div class="down20">
          <%= link_to 'Search CPA List', search_master_cpas_path(), class: 'search_link btn btn-primary' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="myModalEa" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Sequoia No Mail - EA</h4>
      </div>
      <div class="modal-body">
        <!-- FORM -->
        <div class="row down20">
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search Last Name', class: "lname_field_ea form-control" %>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search State', class: "state_field_ea form-control" %>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "id", '', placeholder: 'Search Zip (5 digit)', class: "zip_field_ea form-control" %>
          </div>
        </div>
        <div class="down20">
          <%= link_to 'Search EA List', search_master_eas_path(), class: 'search_link_ea btn btn-primary' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  <script>
  $(".search_link").click(function() {
    $(this).attr("href", function() {
      return this.href + "?zip=" + $('.zip_field').val() + "&lname=" + $('.lname_field').val().toUpperCase() + "&state=" + $('.state_field').val().toUpperCase() + "&no_mail=find";
    });
  });
  $(".search_link_ea").click(function() {
    $(this).attr("href", function() {
      return this.href + "?zip=" + $('.zip_field_ea').val() + "&lname=" + $('.lname_field_ea').val().toUpperCase() + "&state=" + $('.state_field_ea').val().toUpperCase() + "&no_mail=find";
    });
  });
  </script>
