<h3 class="text-center">Postcard Mailings</h3>
<!-- Tabs Start -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home1">Schedule</a></li>
  <li><a data-toggle="tab" href="#menu1">Inventory</a></li>
</ul>
</br>
</br>
<!-- Tab 1 Start -->
<div class="tab-content">
  <div id="home1" class="tab-pane fade in active">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sequoia Postcard Groups</td>
          <% if @out_of_date_sequoia == 'True' %>
            <td><strong class="red">Out of Date </strong> - <%= link_to 'View', postcard_mailings_path %></td>
          <% elsif %>
            <td class="green"><strong><%= @due_sequoia_1 %></strong></td>
          <% end %>
          <td><strong><%= link_to 'Add', new_postcard_mailing_path %></strong></td>
        </tr>
        <tr>
          <td>Empire General Postcards</td>
          <% if @out_of_date_empire == 'True' %>
            <td><strong class="red">Out of Date </strong> - <%= link_to 'View', postcard_mailings_path %></td>
          <% elsif %>
            <td class="green"><strong><%= @due_empire_1 %></strong></td>
          <% end %>
          <td><strong><%= link_to 'Add', new_postcard_mailing_path %></strong></td>
        </tr>
      </tbody>
    </table>

  </div>
<!-- Tab 1 end -->
<!-- Tab 2 start -->
  <div id="menu1" class="tab-pane fade">
    <table class="table table-bordered">

      <thead>
        <tr>
          <th>Company</th>
          <th>Version</th>
          <th>Last Order</th>
          <th>Order Amount</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sequoia</td>
          <td>CPA NM</td>
          <td><%= @date_sequoia_cpa_nm.max.strftime('%-m/%-d/%y') %></td>
          <td><%= @number_sequoia_cpa_nm[0] %></td>
          <% if @remaining_inventory_sequoia_cpa_nm < 500 %>
            <td class="red"><%= @remaining_inventory_sequoia_cpa_nm %></td>
          <% elsif %>
            <td><%= @remaining_inventory_sequoia_cpa_nm %></td>
          <% end %>
        </tr>
        <tr>
          <td>Sequoia</td>
          <td>CPA RC</td>
          <td><%= @date_sequoia_cpa_rc.max.strftime('%-m/%-d/%y') %></td>
          <td><%= @number_sequoia_cpa_rc[0] %></td>
          <% if @remaining_inventory_sequoia_cpa_rc < 500 %>
            <td class="red"><%= @remaining_inventory_sequoia_cpa_rc %></td>
          <% elsif %>
            <td><%= @remaining_inventory_sequoia_cpa_rc %></td>
          <% end %>
        </tr>
        <tr>
          <td>Sequoia</td>
          <td>EA NM</td>
          <td><%= @date_sequoia_ea_nm.max.strftime('%-m/%-d/%y') %></td>
          <td><%= @number_sequoia_ea_nm[0] %></td>
          <% if @remaining_inventory_sequoia_ea_nm < 500 %>
            <td class="red"><%= @remaining_inventory_sequoia_ea_nm %></td>
          <% elsif %>
            <td><%= @remaining_inventory_sequoia_ea_nm %></td>
          <% end %>
        </tr>
        <tr>
          <td>Sequoia</td>
          <td>EA RC</td>
          <td><%= @date_sequoia_ea_rc.max.strftime('%-m/%-d/%y') %></td>
          <td><%= @number_sequoia_ea_rc[0] %></td>
          <% if @remaining_inventory_sequoia_ea_rc < 500 %>
            <td class="red"><%= @remaining_inventory_sequoia_ea_rc%></td>
          <% elsif %>
            <td><%= @remaining_inventory_sequoia_ea_rc %></td>
          <% end %>
        </tr>
        <tr>
          <td>Empire</td>
          <td>General RC</td>
          <td><%= @date_empire_rc.max.strftime('%-m/%-d/%y') %></td>
          <td><%= @number_empire_rc[0] %></td>
          <% if @remaining_inventory_empire_rc < 500 %>
            <td class="red"><%= @remaining_inventory_empire_rc %></td>
          <% elsif %>
            <td><%= @remaining_inventory_empire_rc %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
