<h3 class="text-center"> Sequoia MTD: <%= number_to_currency(@total_mtd, :precision => 0) %> </h3>
 <!-- <h4 class="text-center"><%= Date.today.strftime('%B %Y') %></h4> -->
  <div class="row">
  </br>
    <div class="col-lg-6">
        <table class="table table-bordered">
          <thead>
            <caption class="text-center"><%= Date.today.strftime('%B') %> MTD Breakdown</caption>
            <tr>
              <th class="text-center" style="width: 33%">CPA </th>
              <th class="text-center" style="width: 33%">EA </th>
              <th class="text-center" style="width: 33%">AFSP </th>
            </tr>
          </thead>
          <tbody>
           <tr class="text-center">
             <td> <%= number_to_currency(@cpa_mtd, :precision => 0) %> </td>
             <td> <%= number_to_currency(@ea_mtd, :precision => 0) %> </td>
             <td> <%= number_to_currency(@afsp_mtd, :precision => 0) %> </td>
            </tr>
            <tr>
              <th class="text-center">New</th>
              <th class="text-center">Return</th>
              <th class="text-center">Ethics</th>
            </tr>
           <tr class="text-center">
             <td> <%= number_to_currency(@new_mem_mtd, :precision => 0) %> </td>
             <td> <%= number_to_currency(@return_mem_mtd, :precision => 0) %> </td>
             <td> <%= number_to_currency(@cpa_ethics_mtd, :precision => 0) %> </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>
            <caption class="text-center"><%= Date.today.last_month.strftime('%B') %> Breakdown</caption>
            <tr>
              <th class="text-center" style="width: 33%">CPA </th>
              <th class="text-center" style="width: 33%">EA </th>
              <th class="text-center" style="width: 33%">AFSP </th>
            </tr>
          </thead>
          <tbody>
           <tr class="text-center">
             <td> <%= number_to_currency(@sales_last_month_cpa, :precision => 0) %> </td>
             <td> <%= number_to_currency(@sales_last_month_ea, :precision => 0) %> </td>
             <td> <%= number_to_currency(@sales_last_month_afsp, :precision => 0) %> </td>
            </tr>
            <tr>
              <th class="text-center">New</th>
              <th class="text-center">Return</th>
              <th class="text-center">Ethics</th>
            </tr>
           <tr class="text-center">
             <td> <%= number_to_currency(@sales_last_month_new_mem, :precision => 0) %> </td>
             <td> <%= number_to_currency(@sales_last_month_return_mem, :precision => 0) %> </td>
             <td> <%= number_to_currency(@sales_last_month_cpa_ethics, :precision => 0) %> </td>
            </tr>
          </tbody>
        </table>
    </div>
  </br>
  </br>
  <div class="well col-lg-6">
    <%= bar_chart @column_chart_mtd, prefix: "$", thousands: ",", xtitle: "Past 12 Months", ytitle: "", download: true, title: "",  defer: true %>
  </div>
</div>
