<h2 class="text-center">Sequoia Exams</h2>
<!-- <h4 class="text-center">Past 12 Months</h4> -->
<!-- Taken: <%= @sequoia_exams_grouped_taken_cpa %></br>
Score Sum: <%= @sequoia_exams_grouped_score_sum_cpa %></br>
Rating Sum: <%= @sequoia_exams_grouped_rating_sum_cpa %></br>
Rating Total: <%= @sequoia_exams_grouped_rating_total_cpa %></br> -->
<!-- AFSP: <%= @total_taken_afsp %></br>
AFSP: <%= @total_sum_score_afsp %></br> -->

</br>
<div class="row">
  <div class="col-lg-6">

    <div>
      <input class="form-control" id="myInputCPA" type="text" placeholder="Search CPA Courses">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Taken</th>
          <th>Score</th>
          <th>Rating</th>
       </tr>
      </thead>
      <tbody id="myListCPA">
        <% @sequoia_exams_hash_cpa.each do |course, data| %>
        <tr>
          <td><%= course %></td>
          <% if data[1].kind_of?(Array) %>
          <td><%= data[0][0] %></td>
          <td><%= data[0][1] / data[0][0] %></td>
          <td><%= number_with_precision( data[1][1].to_f / data[1][0].to_f, precision: 2) %></td>
          <% elsif %>
          <td><%= data[0] %></td>
          <td><%= data[1] / data[0] %></td>
          <td>-</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <div>
      <input class="form-control" id="myInputEA" type="text" placeholder="Search EA Courses">
    </div>
    <table class="table table-striped">
      <!-- <caption class="text-center">EA Courses</caption> -->
      <thead>
        <tr>
          <th>Course</th>
          <th>Taken</th>
          <th>Score</th>
          <th>Rating</th>
       </tr>
      </thead>
      <tbody id="myListEA">
        <% @sequoia_exams_hash_ea.each do |course, data| %>
        <tr>
          <td><%= course %></td>
          <% if data[1].kind_of?(Array) %>
          <td><%= data[0][0] %></td>
          <td><%= data[0][1] / data[0][0] %></td>
          <td><%= number_with_precision(data[1][1].to_f / data[1][0].to_f, precision: 2) %></td>
          <% elsif %>
          <td><%= data[0] %></td>
          <td><%= data[1] / data[0] %></td>
          <td>-</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
