<% s_date = '2020-01-01'.to_date %>
<% e_date = '2021-04-30'.to_date %>
<% days_s = [] %>
<% days_e = [] %>
<% mail_dates = (s_date..e_date).to_a %>

<% mail_dates.each do |date| %>
  <% if date.strftime('%a') == 'Tue' || date.strftime('%a') == 'Fri' %>
  <% if date > Date.today - 1.week && date < Date.today + 1.week %>
    <% days_s.push(date)%>
  <% end %>
  <% end %>
  <% if date.strftime('%a') == 'Wed' %>
  <% if date > Date.today - 2.week && date < Date.today + 2.week %>
    <% days_e.push(date)%>
  <% end %>
  <% end %>
<% end %>



<h2 class="text-center">Customer Marketing</h2>

<!-- ## Rolling Marketing -->
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center"><%= link_to 'Sequoia Page', rc_marketing_s_customers_path %></h4>
  </div>
  <div class="col-md-6">
    <h4 class="text-center"><%= link_to 'Empire Page', rc_marketing_empire_customers_path %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <caption class="">Rolling States</caption>
      <thead>
        <tr class="grey-b-200">
          <th class="text-center">Date</th>
          <th class="text-center">Type</th>
          <th class="text-center">Done</th>
        </tr>
      </thead>
      <tbody>
        <% days_s.each do |day| %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% complete = [] %>
            <% if records.include? "S-CPA-NM-Postcard-#{day}" %>
              <% complete.push(1) %>
            <% end %>
            <% if records.include? "S-CPA-RC-Postcard-#{day}" %>
              <% complete.push(1) %>
            <% end %>
            <% if records.include? "S-EA-NM-Postcard-#{day}" %>
              <% complete.push(1) %>
            <% end %>
            <% if records.include? "S-EA-RC-Postcard-#{day}" %>
              <% complete.push(1) %>
            <% end %>
          <% if day == Date.today %>
              <tr class="warning">
          <% elsif day < Date.today %>
            <% if complete.sum != 4 %>
              <tr class="danger">
            <% else %>
              <tr>
            <% end %>
          <% else %>
            <tr>
          <% end %>
          <td class="text-black"><%= day.strftime('%a, %-m/%-d') %></td>
          <td><%= link_to 'Postcards', rc_marketing_s_customers_path(co: 'sequoia', day: day, what: 'postcard', add: 'yes'), class: '' %></td>
          <% if complete.sum != 4 %>
            <td class="text-center"><%= complete.sum == 1 ? '1' : complete.sum == 2 ? '2' : complete.sum == 3 ? '3' : complete.sum == 4 ? 'Done' : '' %></td>
          <% else %>
            <td class="text-center"><span class="glyphicon glyphicon-ok success"></span></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
      <caption class="">Rolling States</caption>
      <thead>
        <tr class="grey-b-200">
          <th class="text-center">Date</th>
          <th class="text-center" colspan="2">Type</th>
        </tr>
      </thead>
      <tbody>
        <% days_e.each do |day| %>
            <% mail_id_postcard = "E-RC-Rolling-Postcard-#{day}" %>
            <% mail_id_email = "E-RC-Rolling-Email-#{day}" %>
            <% records = PostcardRecord.all.pluck(:mailing_id) %>
            <% complete = [] %>
        <% if day == Date.today %>
            <tr class="warning">
        <% elsif day < Date.today %>
          <% if records.exclude? mail_id_postcard %>
            <tr class="danger">
          <% elsif records.exclude? mail_id_email %>
            <tr class="danger">
          <% else %>
            <tr>
          <% end %>
        <% else %>
          <tr>
        <% end %>
          <td class="text-black"><%= day.strftime('%a, %-m/%-d') %></td>

          <% if records.include? mail_id_postcard %>
            <td><%= link_to 'Card', rc_marketing_empire_customers_path(page: 'rolling', st: 'rolling', day: day, what: 'postcard'), class: '' %> <span class="glyphicon glyphicon-ok success"></span></td>
          <% elsif %>
            <td><%= link_to 'Card', rc_marketing_empire_customers_path(page: 'rolling', st: 'rolling', day: day, what: 'postcard'), class: '' %></td>
          <% end %>
          <% if records.include? mail_id_email %>
            <td><%= link_to 'Email', rc_marketing_empire_customers_path(page: 'rolling', st: 'rolling', day: day, what: 'email'), class: '' %> <span class="glyphicon glyphicon-ok success"></span></td>
          <% elsif %>
            <td><%= link_to 'Email', rc_marketing_empire_customers_path(page: 'rolling', st: 'rolling', day: day, what: 'email'), class: '' %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>



  <!-- #### Deadline Mailings -->
  <!-- Show the next 2-3 deadling campaigns for Sequoia and Empire -->
<br>
</div>
