<h3 class="text-center">Empire Renewal Calendar</h3>

</br>
  <div class="text-center">
    <div class="btn-group">
      <%= link_to 'Add New', new_task_deadline_path, class: 'btn btn-primary' %>
      <%= link_to 'Index', task_deadlines_path, class: 'btn btn-primary' %>
    </div>
  </div>
</br>

<table class="table table-outline">
  <thead>
    <tr class="grey-b-200">
      <th>Title</th>
      <th>State</th>
      <th>Note</th>
      <th>Time</th>
      <th class="text-center">Submit</th>
      <th class="text-center">Due</th>
      <!-- <th colspan="2"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @task_deadlines.where('date_s < ?', (Date.today + 31)).each do |task_deadline| %>
      <tr>
        <td><%= link_to task_deadline.title, task_deadline %></td>
        <td><%= task_deadline.state %></td>
        <td><%= task_deadline.note.truncate_words(15) %></td>
        <td><%= task_deadline.time.blank? ? '' : "#{task_deadline.time} hrs" %></td>
          <% if Time.now > (task_deadline.date_f - 7.days) %>
            <td class="red"><%= task_deadline.date_f.strftime('%-m/%-d/%y') %></td>
          <% else %>
            <td><%= task_deadline.date_f.strftime('%-m/%-d/%y') %></td>
          <% end %>
          <% if Time.now > (task_deadline.extra_d - 7.day) %>
            <td class="red"><strong><%= task_deadline.extra_d.strftime('%-m/%-d/%y') %></strong></td>
          <% else %>
            <td><%= task_deadline.extra_d.strftime('%-m/%-d/%y') %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
