<h2 class="text-center">Tasks</h2>
<h4 class="text-center"><%= link_to 'Add New Task', new_task_path, class: "btn btn-primary" %></h4>
</br>
<!-- Start Tab Headers -->
<ul class="nav nav-tabs">
     <li class="active"><a data-toggle="tab" href="#in-progress">In Progress</a></li>
     <li><a data-toggle="tab" href="#future">Future Task</a></li>
     <li><a data-toggle="tab" href="#done">Completed</a></li>
</ul>
</br>
<!-- End Tab Headers -->
<!-- Start Tabs - Tasks -->
<div class="tab-content">
<!-- Start Tab One -->
  <div id="in-progress" class="tab-pane fade in active">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Note</th>
          <th>Due Date</th>
          <!-- <th> </th> -->
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
          <% if task.extra_string == 'Current'  %>
            <tr>
              <td><strong><%= link_to task.title, task %></strong></td>
              <td><%= task.note.truncate_words(20) %>
              <td><%= task.no_due_date == true ? 'No Due Date' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <!-- </tbody>
  </table> -->
  </div>
<!-- End Tab one -->
<!-- Start Tab Two -->
<div id="future" class="tab-pane fade in">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Note</th>
          <th>Due Date</th>
          <!-- <th> </th> -->
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
          <% if task.extra_string == 'Future'  %>
            <tr>
              <td><strong><%= link_to task.title, task %></strong></td>
              <td><%= task.note.truncate_words(20) %>
              <td><%= task.no_due_date == true ? 'No Due Date' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
              <!-- <td><%= link_to 'Edit', edit_task_path(task) %></td> -->
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
<!-- End Tab Two -->
<!-- Start Tab three -->
<div id="done" class="tab-pane fade in">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Note</th>
        <th>Due Date</th>
        <!-- <th> </th> -->
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
        <% if task.extra_string == 'Complete'  %>
        <tr>
          <td><strong><%= link_to task.title, task %></strong></td>
          <td><%= task.note.truncate_words(20) %>
          <td><%= task.no_due_date == true ? 'No Due Date' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
          <!-- <td><%= link_to 'Edit', edit_task_path(task) %></td> -->
        </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- End Tab Three -->
</div>
