<!-- Daily -->

  <h2> Yesterday <%#= 1.day.ago.strftime('%A') %> (<%= 1.day.ago.strftime('%-m/%-d') %>):  Sales <%= number_to_currency(@yesterday_all.sum, :precision => 0) %></h2>

  <% @t1.each do |key, value| %>
    <% if key[0] == 1.day.ago.strftime('%a') %>
    <h4><%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
  <% end %>
  <% end %>
  </br>
  <!-- <%= @t2 %> -->
  <% @t2.each do |key, value| %>
    <% if key[0] == 1.day.ago.strftime('%a') && key[1] != 'AFSP' %>
    <h4> <%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
  <% end %>
  <% end %>

  <%#= column_chart SequoiaCustomer.where(:purchase_date => 1.week.ago..Time.now.yesterday).group_by_day(:purchase_date, format: '%a, %-d').sum(:price),
      prefix: "$", thousands: ",", xtitle: "Day", ytitle: "Sales", id: "Total Chart", width: "700px", download: true, title: "All Sales" %>

<!-- End Daily -->

</br>

<!-- Last Monthly -->

  <% @t4.each do |key, value| %>
    <% if key == 1.month.ago.strftime('%B') %>
      <h2> <%= key %> Sales: <%= number_to_currency(value, :precision => 0) %></h2>
    <% end %>
  <% end %>

  <% @t3.each do |key, value| %>
    <% if key[0] == 1.month.ago.strftime('%B') %>
      <h4> <%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
    <% end %>
  <% end %>

</br>
  <% @t5.each do |key, value| %>
    <% if key[0] == 1.month.ago.strftime('%B') && key[1] != 'AFSP' %>
      <h4> <%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
    <% end %>
  <% end %>

<!-- End Last Monthly -->

<!-- Month to date -->

<% @t4.each do |key, value| %>
  <% if key == 0.month.ago.strftime('%B') %>
    <h2> <%= key %> To Date (<%= 1.day.ago.strftime('%-m/%-d') %>): <%= number_to_currency(value, :precision => 0) %></h2>
  <% end %>
<% end %>

<% @t3.each do |key, value| %>
  <% if key[0] == 0.month.ago.strftime('%B') %>
    <h4> <%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
  <% end %>
<% end %>

</br>
  <% @t5.each do |key, value| %>
    <% if key[0] == 0.month.ago.strftime('%B') && key[1] != 'AFSP' %>
      <h4> <%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
    <% end %>
  <% end %>

<%#= column_chart SequoiaCustomer.where(:purchase_date => 12.month.ago..Time.now.yesterday).group_by_month(:purchase_date, week_start: :mon, current: false, format: '%b %y').sum(:price),
    prefix: "$", thousands: ",", xtitle: '', ytitle: "", id: "week chart", width: "1000px", download: true, title: "Monthly Comparison" %>

</br>

<!-- Yearly -->

  <h4>All Time Sales: <%= number_to_currency(@t7, :precision => 0) %> </h4>

  <% @t.each do |key, value| %>
    <h4><%= key %>: <%= number_to_currency(value, :precision => 0) %></h4>
  <% end %>

  <% @t6.each do |key, value| %>
    <% if key[0] == 1.year.ago.strftime('%Y') %>
      <h4><%= key[1] %>: <%= number_to_currency(value, :precision => 0) %></h4>
    <% end %>
  <% end %>

<%#= column_chart SequoiaCustomer.group_by_year(:purchase_date, format: '%Y').sum(:price),
    prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "Year chart", width: "1000px", download: true, title: "Yearly Comparison" %>
<!-- <%#= SequoiaCustomer.group_by_year(:purchase_date, current: false, format: '%Y').sum(:price) %> -->

<% @t6.each do |key, value| %>
  <%# if key[0] == 1.year.ago.strftime('%Y') %>
    <h4><%= key %>: <%= number_to_currency(value, :precision => 0) %></h4>
  <%# end %>
<% end %>

<%#= column_chart SequoiaCustomer.group(:what).sum(:price),
    prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "All Time pie Chart - what", width: "700px", dowload: true, title: "All Time Breakdown" %>

</br>

<%#= pie_chart SequoiaCustomer.group(:who).sum(:price),
    prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "All Time pie Chart - who", width: "700px", dowload: true, title: "All Time Breakdown" %>

<!-- <%= @t1 %> -->

<%#= SequoiaCustomer.group_by_day(:purchase_date, last: 2 - 1, format: ('%a')).group(:who).sum(:price) %>
</br>
<%#= SequoiaCustomer.group_by_day(:purchase_date, last: 2, format: ('%a')).group(:who).sum(:price) %>



<!-- <%= column_chart SequoiaCustomer.where(:purchase_date => 1.week.ago..Time.now.yesterday).group(:who).sum(:price),
    prefix: "$", thousands: ",", xtitle: "Day", ytitle: "Sales", id: "CPA Chart", width: "700px", download: true, title: "CPA Sales" %> -->
<%#= column_chart SequoiaCustomer.where(:purchase_date => 1.week.ago..Time.now.yesterday, who: "EA").group(:who).sum(:price),
    prefix: "$", thousands: ",", xtitle: "Day", ytitle: "Sales", id: "EA Chart", width: "700px", dowload: true, title: "EA Sales" %>


<%#= column_chart SeqCustomer.where(:purchase => 1.week.ago..Time.now, designation: 'EA').group(:purchase).count %>
<%#= area_chart SeqCustomer.where(:purchase => 1.week.ago..Time.now).group(:purchase).count %>
<%#= column_chart @barG, prefix: "$", thousands: "," %>

<!-- <h3>All Time Sales</h3>
Total: <%= @total_all_time.sum %></br>
CPA: <%= @CPA_all_time.sum %></br>
EA: <%= @EA_all_time.sum %></br>
AFSP: <%= @AFSP_all_time.sum %></br> -->
<%#= pie_chart SequoiaCustomer.group(:who).sum(:price), prefix: "$", thousands: ",", library: { pieSliceText: "value" } %>

<!-- <h2>Yesterday</h2>
<h3>Sales</h3>
Total: <%= number_to_currency(@yesterday_all.sum, :precision => 0) %></br>
CPA: <%= number_to_currency(@yesterday_cpa.sum, :precision => 0) %></br>
EA: <%= number_to_currency(@yesterday_ea.sum, :precision => 0) %></br>
AFSP: <%= number_to_currency(@yesterday_afsp.sum, :presence => 0) %></br>
<h3>Types</h3>
New CPAs: <%= @what_new_cpa.count %></br>
Renewal CPAs: <%= @what_renew_cpa.count %></br>
New EAs: <%= @what_new_ea.count %></br>
Renewal EAs: <%= @what_renew_ea.count %></br>
Ethics: <%= @what_ethics.count %></br>
AFSP: <%= @what_afsp.count %></br> -->

<div class="col-lg-4">
  <div class="well">
  <ul class="nav nav-tabs">
    <%# if user_signed_in? && current_user.superadmin_role? %>
       <li class=""><a data-toggle="tab" href="#daily-sales">Daily</a></li>
       <li><a data-toggle="tab" href="#month-sales">Monthly</a></li>
    <%# end %>
       <li><a data-toggle="tab" href="#yearly-sales">Yearly</a></li>
  </ul>
<!-- Tab Content -->

  <!-- First Tab -->

  <div class="tab-content">
    <div id="daily-sales" class="tab-pane fade in active">
      <h3 class="text-center"> Sequoia Sales: <%= number_to_currency(@yesterday_all.sum, :precision => 0) %> </h3>
     <h4 class="text-center"><%= 1.day.ago.strftime('%A, %-m/%-d') %></h4>
     <div class="col-lg-6">
       <!-- <%= @cpa1 %>
       <%= @t2 %> -->
     </br>
       <table class="table ">
         <thead>
           <tr>
             <th class="text-center" style="width: 33%">CPA </th>
             <th class="text-center" style="width: 33%">EA </th>
             <th class="text-center" style="width: 33%">AFSP </th>
           </tr>
         </thead>
         <tbody>
          <tr>
            <td class="text-center"> <%= number_to_currency(@cpa1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@ea1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@afsp1.first, :precision => 0) %> </td>
           </tr>
         </tbody>
         <thead>
           <tr>
             <th class="text-center" style="width: 33%">New</th>
             <th class="text-center" style="width: 33%">Return</th>
             <th class="text-center" style="width: 33%">Ethics</th>
           </tr>
         </thead>
         <tbody>
          <tr>
            <td class="text-center"> <%= number_to_currency(@mem_first1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@mem_renewal1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@ethics1.first, :precision => 0) %> </td>
           </tr>
         </tbody>
       </table>


      </div>
      <br>
      <div class="col-lg-6">
       <%= column_chart SequoiaCustomer.where(:purchase_date => 1.week.ago..Time.now.yesterday).group_by_day(:purchase_date, format: '%a, %-d').sum(:price),
           prefix: "$", thousands: ",", xtitle: "", ytitle: "", height: '175px', id: "Day", download: true, title: "" %>
      </div>
    </div>

  <!-- End First Tab -->
  <!-- Second Tab -->

<div id="month-sales" class="tab-pane fade">
  <!-- Start Top Left Column -->
  <div class="row">
    <!-- <div class="col-lg-1">
    </div> -->
    <div class="col-lg-5">
    </br>
    <!-- <h4 class="text-center"> <%= 0.month.ago.strftime('%B') %>: <%= number_to_currency(@mtd_total.sum, :precision => 0) %> </h4> -->
      <table class="table ">
        <thead>
          <tr>
            <th class="text-center"> <%= 0.month.ago.strftime('%B') %>:</th>
            <th class="text-center"> <%= number_to_currency(@mtd_total.sum, :precision => 0) %> <th>
          </tr>
          <tr>
            <th class="text-center" style="width: 33%">CPA </th>
            <th class="text-center" style="width: 33%">EA </th>
            <th class="text-center" style="width: 33%">AFSP </th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td class="text-center"> <%= number_to_currency(@cpa2.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@ea2.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@afsp2.first, :precision => 0) %> </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="text-center" style="width: 33%">New</th>
            <th class="text-center" style="width: 33%">Return</th>
            <th class="text-center" style="width: 33%">Ethics</th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td class="text-center"> <%= number_to_currency(@mem_first2.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@mem_renewal2.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@ethics2.first, :precision => 0) %> </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5">
  </br>
    <!-- <h4 class="text-center"> <%= 1.month.ago.strftime('%B') %>: <%= number_to_currency(@last_month_total.sum, :precision => 0) %> </h4> -->
      <table class="table ">
        <thead>
          <tr>
            <th class="text-center"> <%= 1.month.ago.strftime('%B') %>:</th>
            <th class="text-center"> <%= number_to_currency(@last_month_total.sum, :precision => 0) %> <th>
          </tr>
          <tr>
            <th class="text-center" style="width: 33%">CPA </th>
            <th class="text-center" style="width: 33%">EA </th>
            <th class="text-center" style="width: 33%">AFSP </th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td class="text-center"> <%= number_to_currency(@cpa3.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@ea3.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@afsp3.first, :precision => 0) %> </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="text-center" style="width: 33%">New</th>
            <th class="text-center" style="width: 33%">Return</th>
            <th class="text-center" style="width: 33%">Ethics</th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td class="text-center"> <%= number_to_currency(@mem_first3.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@mem_renewal3.first, :precision => 0) %> </td>
           <td class="text-center"> <%= number_to_currency(@ethics3.first, :precision => 0) %> </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- <div class="col-lg-1">
</div> -->
<div class="col-lg-10">
  <%= column_chart SequoiaCustomer.where(:purchase_date => 12.month.ago..Time.now).group_by_month(:purchase_date, week_start: :mon, format: '%b %y').sum(:price),
      prefix: "$", thousands: ",", xtitle: '', ytitle: "", id: "Month", download: true, title: "" %>
</div>
</div>


  <!-- Third Tab -->
    <div id="yearly-sales" class="tab-pane fade">
      <h2 class="text-center">All Time Sales: <%= number_to_currency(@t7, :precision => 0) %> </h2>
      <!-- <h2 class="text-center">Year To Date: <%= number_to_currency(@t7, :precision => 0) %> </h2> -->
      <% @t6.each do |key, value| %>
        <% if key[0] == 0.year.ago.strftime('%Y') %>
          <h2 class="text-center">Year To Date: <%= number_to_currency(value, :precision => 0) %></h2>
        <% end %>
      <% end %>

      <%= column_chart SequoiaCustomer.group_by_year(:purchase_date, format: '%Y').sum(:price),
          prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "Year", height: "250px", download: true, title: "" %>
    <div class="col-lg-5">
        <div class="">
          <%= pie_chart SequoiaCustomer.group(:what).sum(:price),
              prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "All Time - what", width: "250px", dowload: true, title: "" %>
        </div>
      </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
        <div class="">
          <%= pie_chart SequoiaCustomer.group(:who).sum(:price),
              prefix: "$", thousands: ",", xtitle: "", ytitle: "", id: "All Time - who", width: "250px", dowload: true, title: "" %>
        </div>
    </div>
    </div>

</div>





</div>
<div class="well">
</div>
</div>
