<body class= 'body-home'>

    <% if current_user.email == 'michael@sequoiacpe.com' || current_user.email == 'austin@sequoiacpe.com'%>
      <h1 class="text-center off-white">Michael Dashboard</h1>
      <h3 class="off-white text-center"><%= Time.now.strftime('%A %-b %-d, %Y') %></h3>

</br>
<!-- *** Start Left Pannel *** -->
<div class="row">
  <div class="col-lg-4">

  <!-- ** L1 ** -->
    <div class="well">
      <h3 class="text-center">Sequoia Courses</h3>

      <!-- <h4 class="text-center"><%= Date.today.strftime('%B %Y') %></h4> -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <caption class="text-center">Courses taken this month</caption>
                <th></th>
                <th class="text-center">Courses</th>
                <th class="text-center">Exams</th>
                <th class="text-center">Score</th>
                <th class="text-center">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td><strong>CPA</strong></td>
                <td><%= @month_courses_cpa %></td>
                <td><%= @month_exams_cpa %></td>
                <% if @month_exams_cpa != 0 %>
                  <td><%= number_to_percentage((@month_score_cpa.sum  /  @month_exams_cpa), precision: 1) %></td>
                <% elsif %>
                  <td>-</td>
                <% end %>
                <% if @month_courses_rated_cpa.sum != 0 %>
                  <td><%= number_with_precision((@month_rating_cpa.sum  /  ( @month_courses_rated_cpa.sum )), precision: 2) %></td>
                <% elsif %>
                  <td>-</td>
                <% end %>



              </tr>
              <tr class="text-center">
                <td><strong>EA</strong></td>
                <td><%= @month_courses_ea %></td>
                <td><%= @month_exams_ea %></td>
                <td><%= number_to_percentage((@month_score_ea.sum / @month_exams_ea), precision: 1) %></td>
                <td><%= number_with_precision((@month_rating_ea.sum  /  ( @month_courses_rated_ea.sum )), precision: 2) %></td>
              </tr>
              <tr class="text-center">
                <td><strong>Total</strong></td>
                <td><strong><%= @month_courses_cpa + @month_courses_ea %></strong></td>
                <td><strong><%= @month_exams_cpa + @month_exams_ea %></strong></td>
                <td><strong><%= number_to_percentage(@month_score_all.sum / (@month_exams_cpa + @month_exams_ea), precision: 1) %></strong></td>
                <td><strong><%= number_with_precision((@month_rating_all.sum  /  ( @month_courses_rated_all.sum )), precision: 2) %></strong></td>
              </tr>
            </tbody>
          </table>

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#cpa_exam">CPA</a></li>
            <li><a data-toggle="tab" href="#ea_exam">EA</a></li>
          </ul>
        <!-- </br> -->
        </br>
        <!-- * Tab 1 Start * -->
          <div class="tab-content">
            <div id="cpa_exam" class="tab-pane fade in active">

          <%= bar_chart @bar_chart_cpa_month, height: '1750px' %>

        </div>
  <!-- Tab 1 end -->
  <!-- * Tab 2 start * -->


        <div id="ea_exam" class="tab-pane fade">
          <%= bar_chart @bar_chart_ea_month, height: '1000px' %>

          <!-- <table class="table table-bordered">

            <thead>
              <tr>
                <th>One</th>
                <th>One</th>
                <th>One</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table> -->

        </div>
    <!-- Tab 2 end -->
      </div>
    <!-- Tabs End -->
    </div>
  <!-- ** L1 End ** -->

  </div>
<!-- *** END Left Pannel *** -->

<!-- *** START Center Pannel *** -->
  <div class="col-lg-4">
  <!-- ** START C1 ** -->
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home2">Home</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 1</a></li>
      </ul>
      <!-- * Tab 1 Start * -->
      <div class="tab-content">
        <div id="home2" class="tab-pane fade in active">
          <h3>HOME</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Course Updating</td>
                <% if @course_update_status.sum == 0 %>
                  <td class="green"><strong>Up-to-date</strong></td>
                  <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Datasheet', datasheets_path %></td>
                <% elsif %>
                  <td class="red"><strong><%= link_to "In-progress (#{@course_update_status.sum})", updatesheets_path, class: 'button-none' %></strong></td>
                  <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Datasheet', datasheets_path %></td>
                <% end %>
              </tr>
              <tr>
                <td>Course Proofing</td>
                <% if @course_update_status_proofing.sum == 0 %>
                  <td class="green"><strong>Up-to-date</strong></td>
                  <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Datasheet', datasheets_path %></td>
                <% elsif %>
                  <td class="red"><strong><%= link_to "In-progress (#{@course_update_status_proofing.sum})", updatesheets_path, class: 'button-none' %></strong></td>
                  <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Datasheet', datasheets_path %></td>
                <% end %>
              </tr>
              <tr>
                <td>Sequoia Postcards</td>
                <% if @out_of_date_sequoia == 'True' %>
                  <td><strong class="red">Behind</strong></td>
                <% elsif %>
                  <td class="green"><strong>Up-to-date</strong></td>
                <% end %>
                <td><%= link_to 'Postcard Index', postcard_mailings_path %></td>
              </tr>

              <tr>
                <td>Empire Emails Stats</td>
                  <% if (Date.today - 7) > @last_updated_stats.min %>
                    <td class="red"><strong>Behind</strong></td>
                  <% elsif %>
                    <td class="green"><strong>Up-to-date</strong></td>
                  <% end %>
                <td><%= link_to 'Campaign Index', email_campaigns_path %></td>
              </tr>
              <tr>
                <td>Direct Mail CPA</td>
                <td>
                  <% @mailings.each do |mailing| %>
                    <% if @last_msi_mailing_date_cpa == mailing.drop && mailing.who == 'CPA' %>
                    Last: <%= link_to "#{(mailing.drop + 10).strftime('%-m/%-d/%y')} (#{number_with_delimiter(mailing.quantity_sent, delimiter: ',')})", mailing  %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% @mailings.each do |mailing| %>
                    <% if @next_msi_mailing_date_cpa == mailing.drop && mailing.who == 'CPA' %>
                    Next: <%= link_to "#{(mailing.drop + 10).strftime('%-m/%-d/%y')} (#{number_with_delimiter(mailing.estimate_quanity, delimiter: ',')})", mailing  %>
                    <% end %>
                  <% end %>
                  </td>
              </tr>
              <tr>
                <td>Direct Mail EA</td>
                <td>
                  <% @mailings.each do |mailing| %>
                    <% if @last_msi_mailing_date_ea == mailing.drop && mailing.who == 'EA' %>
                    Last: <%= link_to "#{(mailing.drop + 10).strftime('%-m/%-d/%y')} (#{number_with_delimiter(mailing.quantity_sent, delimiter: ',')})", mailing  %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% @mailings.each do |mailing| %>
                    <% if @next_msi_mailing_date_ea == mailing.drop && mailing.who == 'EA' %>
                    Next: <%= link_to "#{(mailing.drop + 10).strftime('%-m/%-d/%y')} (#{number_with_delimiter(mailing.estimate_quanity, delimiter: ',')})", mailing  %>
                    <% end %>
                  <% end %>
                  </td>
              </tr>
            </tbody>
          </table>
          Array:<%= @next_msi_mailing_quanity %>
        </div>
  <!-- Tab 1 end -->
  <!-- * Tab 2 start * -->
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
  <!-- Tab 2 end -->
      </div>
  <!-- Tabs End -->
    </div>
<!-- ** END C1 ** -->

<!-- ** START C2 ** -->
    <div class="well">
      <h3>Home</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>One</th>
            <th>Two</th>
            <th>Three</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- ** END C2 -->
  </div>
<!-- *** End Center Pannel *** -->

<!-- *** START Right Pannel *** -->
  <div class="col-lg-4">
  <!-- ** START R1 (Task) ** -->
    <div class="well">
      <h2 class="text-center">Tasks</h2>
      <h4 class="text-center"><%= link_to 'Add New Task', new_task_path, class: "btn btn-primary" %></h4>
      <% if @name == 'Austin' %>
        <!-- <p class="text-center green">
          Only displaying task for singed in user</br>
          Not per dashboard user
        </p> -->
      <% end %>
    </br>
  <!-- Start Tab Headers -->
      <ul class="nav nav-tabs">
           <li class="active"><a data-toggle="tab" href="#in-progress">In Progress</a></li>
           <li><a data-toggle="tab" href="#future">Future Task</a></li>
           <li><a data-toggle="tab" href="#done">Completed</a></li>
      </ul>
      </br>
  <!-- End Tab Headers -->
  <!-- Start Tabs - Tasks -->
      <div class="tab-content">
  <!-- * Start Tab One * -->
        <div id="in-progress" class="tab-pane fade in active">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Due Date</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
              <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                <% if task.type_one == true && task.done == false %>
                <%# if user_signed_in? && task.user_id == current_user.id && task.type_one == true && task.done == false %>
                  <tr>
                    <td><strong><%= link_to task.title, task %></strong></td>
                    <td><%= task.note.truncate_words(20) %>
                    <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
  <!-- * End Tab one * -->
  <!-- * Start Tab Two * -->
      <div id="future" class="tab-pane fade in">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Due Date</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                  <% if task.type_two == true && task.done == false && task.type_one == false %>
                  <tr>
                    <td><strong><%= link_to task.title, task %></strong></td>
                    <td><%= task.note.truncate_words(20) %>
                    <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
  <!-- * End Tab Two * -->

  <!-- * Start Tab Three * -->
      <div id="done" class="tab-pane fade in">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Note</th>
              <th>Due Date</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                <% if task.done == true %>
              <tr>
                <td><strong><%= link_to task.title, task %></strong></td>
                <td><%= task.note.truncate_words(20) %>
                <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                <td><%= link_to 'Edit', edit_task_path(task) %></td>
              </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <!-- * End Tab Three * -->
    </div>
    <!-- End Tab Section - Tasks -->
  </div>
  <!-- ** END C1 (Task) ** -->

  <!-- ** START C2 ** -->
    <div class="well">
    <!-- Tabs Start -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home3">Home</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 1</a></li>
      </ul>
    <!-- Tab 1 Start -->
      <div class="tab-content">
        <div id="home3" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>
    <!-- Tab 1 end -->
    <!-- Tab 2 start -->
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
  <!-- Tab 2 end -->
      </div>
  <!-- Tabs End -->
    </div>
  <!-- ** END C2 ** -->
  </div>
<!-- *** End Right Pannel *** -->

  </div>
  <% end %>
</body>
