<body class= 'body-home'>

<% if user_signed_in? && current_user.superadmin_role?%>

    <h1 class="off-white text-center">Austin Dashboard</h1>
    <h3 class="off-white text-center"><%= Date.today.strftime('%A %-b %-d, %Y') %></h3>

</br>


<!-- <a target="_blank" href="https://www.sequoiacpe.com/user/192/orders"> Link </a> -->
<!-- ** START LEFT COLUMN ** -->
<div class="col-lg-4">

    <div class="well">
        <%= render(:partial => 'msi_mailing') %>
    </div>
    <div class="well">
        <%= render(:partial => 'task') %>
    </div>

    <!-- <div class="well"> -->
        <%#= render(:partial => 'calendar') %>
    <!-- </div> -->
</div>
<!-- END LEFT COLUMN -->

<!-- ** START CENTER COLUMN ** -->
<div class="col-lg-4">
  <!-- * start C1 * -->
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home_austin">Home</a></li>
        <li><a data-toggle="tab" href="#postcard_inventory">Postcard Inventory</a></li>
      </ul>

      <div class="tab-content">
        <div id="home_austin" class="tab-pane fade in active">
            <%= render(:partial => 'home_austin') %>
        </div>

        <div id="postcard_inventory" class="tab-pane fade">
            <%= render(:partial => 'postcard_inventory') %>
        </div>
      </div>
    </div>
  <!-- end C1 -->

  <!-- * start C2 * -->
  <div class="well">
    <h2 class="text-center">Sequoia Courses</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home2">Exam Totals</a></li>
      <li><a data-toggle="tab" href="#exam_indivuals">Exam Individuals</a></li>
      <li><a data-toggle="tab" href="#course_status">Course Status</a></li>
    </ul>
    <div class="tab-content">
      <div id="home2" class="tab-pane fade in active">
        <%= render(:partial => 'sequoia_exams_30') %>
      </div>

      <div id="exam_indivuals" class="tab-pane fade">
        <%= render(:partial => 'sequoia_exams_individual') %>
      </div>

      <div id="course_status" class="tab-pane fade">
      </br>
        <h4 class="text-center"><%= link_to 'View Course Status Page', sales_report_course_status_path %></h4>
      </div>
    </div>
  </div>
  <!-- end C2 -->
</div>
<!--  END CENTER COLUMN *** -->

<!-- ** START RIGHT COLUMN ** -->
  <div class="col-lg-4">
    <!-- * start R1 * -->
      <div class="well">
          <%= render(:partial => 'enter_sales') %>
      </div>
    <!-- * start R2 -->
      <div class="well">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sales_day">Yesterday</a></li>
          <li><a data-toggle="tab" href="#sales_month">Month</a></li>
          <li><a data-toggle="tab" href="#sales_year">Year</a></li>
        </ul>

        <div class="tab-content">
          <div id="sales_day" class="tab-pane fade in active">
            <%= render(:partial => 'sales_day') %>
          </div>

          <div id="sales_month" class="tab-pane fade">
            <%= render(:partial => 'sales_month') %>
          </div>

          <div id="sales_year" class="tab-pane fade">
            <%= render(:partial => 'sales_year') %>
          </div>
        </div>

      </div>
    <!-- end R2 -->


  </div>
<!-- *** END RIGHT COLUMN *** -->

<% end %>

</body>
