<body class= 'body-home'>

<% if user_signed_in? && current_user.superadmin_role?%>

  <% if user_signed_in? && current_user.email == 'austin@sequoiacpe.com' %>
    <h1 class="off-white text-center">Austin Dashboard</h1>
    <h3 class="off-white text-center"><%= Date.today.strftime('%A %-b %-d, %Y') %></h3>
  <% end %>

</br>

<!-- ** START LEFT COLUMN ** -->
<div class="col-lg-4">
    <div class="well">
        <%= render(:partial => 'msi_mailing') %>
    </div>
    <div class="well">
        <%= render(:partial => 'task') %>
    </div>
</div>
<!-- END LEFT COLUMN -->

<!-- ** START CENTER COLUMN ** -->
<div class="col-lg-4">
  <!-- * start C1 * -->
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home_austin">Home</a></li>
        <li><a data-toggle="tab" href="#postcard_inventory">Postcard Inventory</a></li>
      </ul>

      <div class="tab-content">
        <div id="home_austin" class="tab-pane fade in active">
            <%= render(:partial => 'home_austin') %>
        </div>

        <div id="postcard_inventory" class="tab-pane fade">
            <%= render(:partial => 'postcard_inventory') %>
        </div>
      </div>
    </div>
  <!-- end C1 -->

  <!-- * start C2 * -->
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home2">Home</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 1</a></li>
      </ul>
      <div class="tab-content">
        <div id="home2" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>

        <div id="menu2" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
      </div>
    </div>
  <!-- end C2 -->
</div>
<!--  END CENTER COLUMN *** -->

<!-- ** START RIGHT COLUMN ** -->
  <div class="col-lg-4">
    <!-- * start R1 * -->
      <div class="well">
          <%= render(:partial => 'sales_day') %>
      </div>
    <!-- * start R2 -->
      <div class="well">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sales_month">Month</a></li>
          <li><a data-toggle="tab" href="#sales_year">Year</a></li>
        </ul>

        <div class="tab-content">
          <div id="sales_month" class="tab-pane fade in active">
            <%= render(:partial => 'sales_month') %>
          </div>

          <div id="sales_year" class="tab-pane fade">
            <%= render(:partial => 'sales_year') %>
          </div>
        </div>

      </div>
    <!-- end R2 -->
  </div>
<!-- *** END RIGHT COLUMN *** -->

<% end %>

</body>
