<body class= 'body-home'>

    <% if current_user.email == 'sabrina@sequoiacpe.com' || current_user.superadmin_role? || current_user.supervisor_role? %>
      <h1 class="text-center off-white">Sabrina Dashboard</h1>
      <h3 class="off-white text-center"><%= Date.today.strftime('%A %-b %-d, %Y') %></h3>

<br>
<div class="row">
<!-- *** START Left Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
      <%= render(:partial => 'live_chat_answers') %>
    </div>

    <div class="well">
      <%= render(:partial => 'course_creation') %>
    </div>
  </div>
<!-- End Left Pannel -->

<!-- *** START Center Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
      <%= render(:partial => 'home_sabrina') %>
    </div>


  </div>
<!-- End Center Pannel -->

<!-- *** START Right Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
        <%= render(:partial => 'no_mail') %>
    </div>
    <div class="well">
      <%= render(:partial => 'task') %>
    </div>


  </div>
<!-- End Right Pannel -->

  </div>
  <% end %>
</body>
