<body class= 'body-home'>

    <% if current_user.email == 'michael@sequoiacpe.com' || current_user.superadmin_role? %>
      <h1 class="text-center off-white">Michael Dashboard</h1>
      <h3 class="off-white text-center"><%= Date.today.strftime('%A %-b %-d, %Y') %></h3>

</br>
<div class="row">

<!-- *** START Left Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
      <%= render(:partial => 'course_creation') %>
    </div>
    <div class="well">
      <%= render(:partial => 'live_chat_answers') %>
    </div>
    <div class="well">
      <h2 class="text-center">Sequoia Courses</h2>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home2">Exam Totals</a></li>
        <li><a data-toggle="tab" href="#exam_indivuals">Exam Individuals</a></li>
        <li><a data-toggle="tab" href="#course_status">Course Status</a></li>
      </ul>
      <div class="tab-content">
        <div id="home2" class="tab-pane fade in active">
          <%= render(:partial => 'sequoia_exams_30') %>
        </div>

        <div id="exam_indivuals" class="tab-pane fade">
          <%= render(:partial => 'sequoia_exams_individual') %>
        </div>

        <div id="course_status" class="tab-pane fade">
        </br>
          <h4 class="text-center"><%= link_to 'View Course Status Page', sales_report_course_status_path %></h4>
        </div>
      </div>
    </div>
  </div>
<!-- end Left Pannel -->

<!-- *** START Center Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home_austin">Home</a></li>
        <li><a data-toggle="tab" href="#postcard_inventory">Postcard Inventory</a></li>
      </ul>

      <div class="tab-content">
        <div id="home_austin" class="tab-pane fade in active">
            <%= render(:partial => 'home_michael') %>
        </div>

        <div id="postcard_inventory" class="tab-pane fade">
            <%= render(:partial => 'postcard_inventory') %>
        </div>
      </div>
    </div>
    <div class="well">
      <%= render(:partial => 'sequoia_customer_marketing') %>
    </div>
    </div>
<!-- *** end Center Pannel *** -->

<!-- *** START Right Pannel *** -->
  <div class="col-lg-4">
    <div class="well">
      <%= render(:partial => 'task') %>
    </div>
    <div class="well">
      <%= render(:partial => 'empire_email_stats') %>
    </div>

    <!-- <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home3">Home</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 1</a></li>
      </ul>
      <div class="tab-content">
        <div id="home3" class="tab-pane fade in active">
          <h3>Home</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
      </div>
    </div> -->
  </div>
<!-- *** End Right Pannel *** -->

  </div>
  <% end %>
</body>
