<body class= 'body-home'>

  <div class="dropdown header-size pull-right">
      <button class="button-none" type="button" data-toggle="dropdown"><span class="off-white glyphicon glyphicon-option-vertical gi-2x"></span></button>
      <ul class="dropdown-menu">
        <% if current_user.email == 'austin@sequoiacpe.com' %>
          <li><%= link_to 'Austin Dashboard', sequoia_dash_path %></li>
          <li><%= link_to 'Ashley Dashboard', sequoia_dash_ashley_path %></li>
        <% elsif current_user.email == 'ashley@sequoiacpe.com' %>
          <li><%= link_to 'Dashboard', sequoia_dash_ashley_path %></li>
        <% end %>
        <li class="dropdown-header">Courses</li>
          <li><%= link_to 'Course Datasheet', datasheets_path %></li>
          <li><%= link_to 'Course Updatesheet', updatesheets_path %></li>
          <li><%= link_to 'Copyrights', copyrights_path %></li>
          <li><%= link_to 'PES Courses', pes_courses_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Marketing</li>
            <li><%= link_to 'Postcards Returns', postcard_returns_path %></li>
            <li><%= link_to 'Postcard Mailings', postcard_mailings_path %></li>
            <li><%= link_to 'Postcard inventory', inventories_path %></li>
            <!-- <li><a tabindex="-1"href="/mail_items">Mail contents</a></li> -->
        <li class="divider"></li>
        <li class="dropdown-header">Empire</li>
            <li><%= link_to 'Empire Mailing', empire_mailings_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Other</li>
          <li><%= link_to 'Texas Royalties', tx_royalties_path %></li>
          <li><%= link_to 'Email Stats', email_campaigns_path %></li>

        <% if user_signed_in? && current_user.superadmin_role?%>
        <li class="divider"></li>
            <li><a href="/admin">Admin</a></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% elsif user_signed_in? %>
        <li class="divider"></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% elsif %>
        <li class="divider"></li>
            <li><a href="/users/sign_in">Log in</a></li>
        <% end %>
          </ul>
    </div>

    <% if current_user.email == 'ashley@sequoiacpe.com' || current_user.email == 'austin@sequoiacpe.com'%>
      <h1 class="text-center off-white">Ashley Dashboard</h1>
      <h3 class="off-white text-center"><%= Time.now.strftime('%A %-b %-d, %Y') %></h3>

</br>
<!-- Start Left Pannel -->
<div class="row">
  <div class="col-lg-4">
    <div class="well">
      <h3 class="text-center">Postcard Mailings</h3>
  <!-- Tabs Start -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home1">Schedule</a></li>
        <li><a data-toggle="tab" href="#menu1">Inventory</a></li>
      </ul>
    </br>
    </br>
  <!-- Tab 1 Start -->
      <div class="tab-content">
        <div id="home1" class="tab-pane fade in active">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sequoia Postcard Groups</td>
                <% if @out_of_date_sequoia == 'True' %>
                  <td><strong class="red">Out of Date </strong> - <%= link_to 'View', postcard_mailings_path %></td>
                <% elsif %>
                  <td class="green"><strong><%= @due_sequoia_1 %></strong></td>
                <% end %>
                <td><strong><%= link_to 'Add', new_postcard_mailing_path %></strong></td>
              </tr>
              <tr>
                <td>Empire General Postcards</td>
                <% if @out_of_date_empire == 'True' %>
                  <td><strong class="red">Out of Date </strong> - <%= link_to 'View', postcard_mailings_path %></td>
                <% elsif %>
                  <td class="green"><strong><%= @due_empire_1 %></strong></td>
                <% end %>
                <td><strong><%= link_to 'Add', new_postcard_mailing_path %></strong></td>
              </tr>
            </tbody>
          </table>

        </div>
  <!-- Tab 1 end -->
  <!-- Tab 2 start -->
        <div id="menu1" class="tab-pane fade">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Company</th>
                <th>Version</th>
                <th>Order Date</th>
                <th>Order Amount</th>
                <th>Remaining</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sequoia</td>
                <td>CPA NM</td>
                <td><%= @date_sequoia_cpa_nm.max.strftime('%-m/%-d/%y') %></td>
                <td><%= @number_sequoia_cpa_nm[0] %></td>
                <% if @remaining_inventory_sequoia_cpa_nm < 500 %>
                  <td class="red"><%= @remaining_inventory_sequoia_cpa_nm %></td>
                <% elsif %>
                  <td><%= @remaining_inventory_sequoia_cpa_nm %></td>
                <% end %>
              </tr>
              <tr>
                <td>Sequoia</td>
                <td>CPA RC</td>
                <td><%= @date_sequoia_cpa_rc.max.strftime('%-m/%-d/%y') %></td>
                <td><%= @number_sequoia_cpa_rc[0] %></td>
                <% if @remaining_inventory_sequoia_cpa_rc < 500 %>
                  <td class="red"><%= @remaining_inventory_sequoia_cpa_rc %></td>
                <% elsif %>
                  <td><%= @remaining_inventory_sequoia_cpa_rc %></td>
                <% end %>
              </tr>
              <tr>
                <td>Sequoia</td>
                <td>EA NM</td>
                <td><%= @date_sequoia_ea_nm.max.strftime('%-m/%-d/%y') %></td>
                <td><%= @number_sequoia_ea_nm[0] %></td>
                <% if @remaining_inventory_sequoia_ea_nm < 500 %>
                  <td class="red"><%= @remaining_inventory_sequoia_ea_nm %></td>
                <% elsif %>
                  <td><%= @remaining_inventory_sequoia_ea_nm %></td>
                <% end %>
              </tr>
              <tr>
                <td>Sequoia</td>
                <td>EA RC</td>
                <td><%= @date_sequoia_ea_rc.max.strftime('%-m/%-d/%y') %></td>
                <td><%= @number_sequoia_ea_rc[0] %></td>
                <% if @remaining_inventory_sequoia_ea_rc < 500 %>
                  <td class="red"><%= @remaining_inventory_sequoia_ea_rc%></td>
                <% elsif %>
                  <td><%= @remaining_inventory_sequoia_ea_rc %></td>
                <% end %>
              </tr>
              <tr>
                <td>Empire</td>
                <td>General RC</td>
                <td><%= @date_empire_rc.max.strftime('%-m/%-d/%y') %></td>
                <td><%= @number_empire_rc[0] %></td>
                <% if @remaining_inventory_empire_rc < 500 %>
                  <td class="red"><%= @remaining_inventory_empire_rc %></td>
                <% elsif %>
                  <td><%= @remaining_inventory_empire_rc %></td>
                <% end %>
              </tr>
            </tbody>
          </table>

        </div>
  <!-- Tab 2 end -->
      </div>
  <!-- Tabs End -->
    </div>

    <div class="well">
      <h3 class="text-center">Email Campaigns</h3>

      <div class="well text-center">
        <a target="_blank" href="https://app.mailjet.com/contacts/lists/edit/7yAC"><strong>Empire RC List Append</strong></a>
        | <a target="_blank" href="https://app.mailjet.com/workflow"><strong>Mailjet Campaign Data</strong></a>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Company</th>
            <th>Active Campaigns</th>
            <th>Send / Update</th>
            <th>Last Stats Update</th>
          </tr>
        </thead>
        <tbody>
          <% @email_campaigns.each do |email_campaign| %>
          <tr>
            <% if email_campaign.active == true %>
            <td> <%= email_campaign.company %></td>
            <td> <%= email_campaign.campaign_name %> </td>
            <td class="green"><strong> Every Wed </strong></td>
              <% if (Date.today - 7) > email_campaign.update_stats %>
                <td><strong><%= link_to email_campaign.update_stats.strftime('%-m/%-d/%y'), email_campaign, class: 'red' %> <%= link_to '- Update', email_campaign, class: 'red' %></strong></td>
              <% elsif %>
                <td><strong><%= link_to email_campaign.update_stats.strftime('%-m/%-d/%y'), email_campaign %> <%= link_to '- Update', email_campaign %></strong></td>
              <% end %>

            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
<!-- End Left Pannel -->

<!-- Start Center Pannel -->
  <div class="col-lg-4">
    <div class="well">
  <!-- Tabs Start -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home2">Home</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 1</a></li>
      </ul>
  <!-- Tab 1 Start -->
      <div class="tab-content">
        <div id="home2" class="tab-pane fade in active">
          <h3>HOME</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Course Updating</td>
                <% if @course_update_status.sum == 0 %>
                  <td class="glyphicon glyphicon-ok-circle green gi-2x"></td>
                  <td> <%= link_to 'Course Updates', updatesheets_path %></td>
                <% elsif %>
                  <td class="red">Not Complete</td>
                  <td><%= link_to "#{@course_update_status.sum} Course", updatesheets_path %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
  <!-- Tab 1 end -->
  <!-- Tab 2 start -->
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
  <!-- Tab 2 end -->
      </div>
  <!-- Tabs End -->
    </div>

    <div class="well">
      <h3>Links</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Task</th>
            <th>Note</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Returned Postcards</td>
            <td>Add as received</td>
            <td><%= link_to 'Add New', new_postcard_return_path %></td>
          </tr>
          <tr>
            <td>Course Copyrights</td>
            <td>For Every New Course Add Publisher and Copyright</td>
            <td><%= link_to 'Add Copyright', new_copyright_path %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
<!-- End Center Pannel -->

<!-- Start Right Pannel -->
  <div class="col-lg-4">

    <div class="well">
      <h2 class="text-center">Tasks</h2>
      <h4 class="text-center"><%= link_to 'Add New Task', new_task_path, class: "btn btn-primary" %></h4>
      <% if @name == 'Austin' %>
        <p class="text-center green">
          Only displaying task for singed in user</br>
          Not per dashboard user
        </p>
      <% end %>
    </br>
  <!-- Start Tab Headers -->
      <ul class="nav nav-tabs">
           <li class="active"><a data-toggle="tab" href="#in-progress">In Progress</a></li>
           <li><a data-toggle="tab" href="#future">Future Task</a></li>
           <li><a data-toggle="tab" href="#done">Completed</a></li>
      </ul>
      </br>
  <!-- End Tab Headers -->
  <!-- Start Tabs - Tasks -->
      <div class="tab-content">
  <!-- Start Tab One -->
        <div id="in-progress" class="tab-pane fade in active">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Due Date</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
              <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                <% if task.type_one == true && task.done == false %>
                <%# if user_signed_in? && task.user_id == current_user.id && task.type_one == true && task.done == false %>
                  <tr>
                    <td><strong><%= link_to task.title, task %></strong></td>
                    <td><%= task.note.truncate_words(20) %>
                    <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <!-- </tbody>
        </table> -->
        </div>
  <!-- End Tab one -->
  <!-- Start Tab Two -->
      <div id="future" class="tab-pane fade in">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Due Date</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                  <% if task.type_two == true && task.done == false && task.type_one == false %>
                  <tr>
                    <td><strong><%= link_to task.title, task %></strong></td>
                    <td><%= task.note.truncate_words(20) %>
                    <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
  <!-- End Tab Two -->
  <!-- Start Tab three -->
      <div id="done" class="tab-pane fade in">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Note</th>
              <th>Due Date</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                <% if task.done == true %>
              <tr>
                <td><strong><%= link_to task.title, task %></strong></td>
                <td><%= task.note.truncate_words(20) %>
                <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                <td><%= link_to 'Edit', edit_task_path(task) %></td>
              </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
  <!-- End Tab Three -->
    </div>
  <!-- End Tab Section - Tasks -->
  </div>
  <!-- End Task Section -->

    <div class="well">
  <!-- Tabs Start -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home3">Home</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 1</a></li>
      </ul>
  <!-- Tab 1 Start -->
      <div class="tab-content">
        <div id="home3" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>
  <!-- Tab 1 end -->
  <!-- Tab 2 start -->
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
  <!-- Tab 2 end -->
      </div>
  <!-- Tabs End -->
    </div>

  </div>
<!-- End Right Pannel -->

  </div>
  <% end %>
</body>
