<body class= 'body-home'>

<% if user_signed_in? && current_user.superadmin_role?%>

  <% if user_signed_in? && current_user.email == 'austin@sequoiacpe.com' %>
    <h1 class="off-white text-center">Austin Dashboard</h1>
    <h3 class="off-white text-center"><%= Time.now.strftime('%A %-b %-d, %Y') %></h3>
  <% end %>

</br>

<div class="col-lg-4">
<div class="well">
  <h2 class="text-center">MSI Mailings</h2>
  <!-- Start Tab Headers -->
      <ul class="nav nav-tabs">
           <li class="active"><a data-toggle="tab" href="#upcomming">Upcomming</a></li>
           <li><a data-toggle="tab" href="#past">Past</a></li>
           <li><a data-toggle="tab" href="#data">Data</a></li>
      </ul>
      </br>
  <!-- End Tab Headers -->

  <!-- Start Tabs - mailings -->
      <div class="tab-content">
  <!-- Start Tab One -->
        <div id="upcomming" class="tab-pane fade in active">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Mailing</th>
                <th>Who</th>
                <th>MSI Due</th>
                <th>Drop</th>
                <th>~Q</th>
                <th>~$</th>
                <th>Art</th>
                <!-- <th>Data</th> -->
                <!-- <th colspan="3"></th> -->
              </tr>
            </thead>
          <tbody>
          <% @mailings.reverse_each do |mailing| %>
            <% if mailing.complete == false %>
            <tr>
              <td><strong><%= link_to mailing.name, mailing %></strong> </td>
              <td><%= mailing.who %> </td>
              <td><%= (mailing.drop - 8).strftime('%a %-m/%-d') %> </td>
              <td><%= (mailing.drop).strftime('%-m/%-d') %> </td>
              <td><%= number_with_delimiter(mailing.estimate_quanity, delimiter: ',') %></td>
              <td><%= number_to_currency((mailing.estimate_cost * mailing.estimate_quanity), precision: 0) %></td>
              <% if mailing.msi_art.url =~/missing/ %>
                <td><%= link_to '', mailing, class: 'glyphicon glyphicon-remove-circle red gi-2x' %></td>
              <% elsif %>
                <td><%= link_to '', mailing, class: 'glyphicon glyphicon-ok-circle green gi-2x' %></td>
              <% end %>
              <!-- <td><%= mailing.data_name %> </td> -->
              <!-- <td><%= link_to 'View', mailing %></td> -->
               <!-- <td><%= link_to 'Edit', edit_mailing_path(mailing) %></td> -->
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        </div>
<!-- End Tab one -->
<!-- Start Tab Two -->
        <div id="past" class="tab-pane fade in">
          <%= link_to 'View All Mailings', mailings_path %>
        </br>
        </br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Mailing</th>
                <th>Who</th>
                <th>Land</th>
                <th>Droped</th>
                <th>Sent</th>
                <th>Cost</th>
              </tr>
            </thead>

            <tbody>
              <% @mailings.each do |mailing| %>
                <% if user_signed_in? && mailing.complete == true && mailing.drop > 12.month.ago..Time.now %>
                <tr>
                  <td><strong><%= link_to mailing.name, mailing %></strong></td>
                  <td><%= mailing.who %></td>
                  <td><%= (mailing.drop + 10).strftime('%-m/%-d') %></td>
                  <td><%= (mailing.drop).strftime('%-m/%-d') %> </td>
                  <td><%= number_with_delimiter(mailing.quantity_sent, :precision => 0, :delimiter => ',') %></td>
                  <td><%= number_to_currency((mailing.cost_service) + (mailing.cost_postage) + (mailing.cost_print), :precision => 0) %></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
<!-- End Tab Two -->
<!-- Start Tab Three -->
    <div id="data" class="tab-pane fade in">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Drops</th>
            <th>Quanity</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><strong>YTD</strong></td>
              <td><%= @ytd_drops.count %></td>
              <td><%= number_with_delimiter(@ytd_quanity.sum, :delimiter => ',') %></td>
              <td><%= number_to_currency(@ytd_cost.sum, :precision => 0) %></td>
            </tr>
            <tr>
              <td><strong><%= Date.today.year - 1 %></strong></td>
              <td><%= @last_year_drops.count %></td>
              <td><%= number_with_delimiter(@last_year_quanity.sum, :delimiter => ',') %></td>
              <td><%= number_to_currency(@last_year_cost.sum, :precision => 0) %></td>
            </tr>
            <tr>
              <td><strong>All</strong></td>
              <td><%= @all_time_drops.count %></td>
              <td><%= number_with_delimiter(@all_time_quanity.sum, :delimiter => ',') %></td>
              <td><%= number_to_currency(@all_time_cost.sum, :precision => 0) %></td>
            </tr>
        </tbody>
      </table>
    </div>
<!-- End Tab Three -->
    </div>
<!-- End Tab Section - Mailings -->
  </div>
<!-- End Mailings Section -->




<!-- Start Tab Section -->
  <div class="well">
    <h2 class="text-center">Tasks</h2>
    <h4 class="text-center"><%= link_to 'Add New Task', new_task_path, class: "btn btn-primary" %></h4>
  </br>
<!-- Start Tab Headers -->
    <ul class="nav nav-tabs">
         <li class="active"><a data-toggle="tab" href="#in-progress">In Progress</a></li>
         <li><a data-toggle="tab" href="#future">Future Task</a></li>
         <li><a data-toggle="tab" href="#done">Completed</a></li>
    </ul>
    </br>
<!-- End Tab Headers -->
<!-- Start Tabs - Tasks -->
    <div class="tab-content">
<!-- Start Tab One -->
      <div id="in-progress" class="tab-pane fade in active">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Note</th>
              <th>Due Date</th>
              <!-- <th> </th> -->
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
            <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
              <% if task.type_one == true && task.done == false %>
              <%# if user_signed_in? && task.user_id == current_user.id && task.type_one == true && task.done == false %>
                <tr>
                  <td><strong><%= link_to task.title, task %></strong></td>
                  <td><%= task.note.truncate_words(20) %>
                  <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                  <!-- <td><%= link_to 'Edit', edit_task_path(task) %></td> -->
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <!-- </tbody>
      </table> -->
      </div>
<!-- End Tab one -->
<!-- Start Tab Two -->
    <div id="future" class="tab-pane fade in">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Note</th>
              <th>Due Date</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
                <% if task.type_two == true && task.done == false && task.type_one == false %>
                <tr>
                  <td><strong><%= link_to task.title, task %></strong></td>
                  <td><%= task.note.truncate_words(20) %>
                  <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
                  <td><%= link_to 'Edit', edit_task_path(task) %></td>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
<!-- End Tab Two -->
<!-- Start Tab three -->
    <div id="done" class="tab-pane fade in">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Note</th>
            <th>Due Date</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
              <% if task.done == true %>
            <tr>
              <td><strong><%= link_to task.title, task %></strong></td>
              <td><%= task.note.truncate_words(20) %>
              <td><%= task.due_date.nil? ? '' : task.due_date.strftime('%a, %-m/%d/%y') %> </td>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
            </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
<!-- End Tab Three -->
  </div>
<!-- End Tab Section - Tasks -->
</div>
<!-- End Task Section -->
</div>


<div class="col-lg-4">
  <div class="well">
<!-- Tabs Start -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home1">Home</a></li>
      <li><a data-toggle="tab" href="#menu1">Postcard Inventory</a></li>
    </ul>
<!-- Tab 1 Start -->
    <div class="tab-content">
      <div id="home1" class="tab-pane fade in active">
        <h3>HOME</h3>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Task </th>
              <th>Status </th>
              <th>Note </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
            <% if task.user_1 == @name || task.user_2 == @name || task.user_3 == @name || task.user_4 == @name || task.user_5 == @name %>
              <% if task.done == false && task.due == true && task.type_one == true && Date.today >= (task.due_date - 5) %>
            <tr>
              <td><%= task.title.truncate_words(4) %></td>
              <% if Date.today > task.due_date %>
                <td><strong> Past Due: <%= task.due_date.strftime('%-m/%-d') %></strong></td>
              <% elsif %>
                <td><strong> Due: <%= task.due_date.strftime('%a (%-m/%-d)') %></strong></td>
              <% end %>
              <Td> <%= link_to 'View Task', task %></td>
            </tr>
              <% end %>
            <% end %>
            <% end %>
            <tr>
              <td>Course Updating</td>
              <% if @course_update_status.sum == 0 && @course_update_status_proofing.sum == 0 %>
                <td class="green">Nothing in-progress</td>
                <td> <%= link_to 'Add Update', datasheets_path %></td>
              <% elsif @course_update_status.sum == 0 && @course_update_status_proofing.sum != 0 %>
                <td>Proofing Needed</td>
                <td><%= link_to @course_update_status_proofing.sum, updatesheets_path %> <%= link_to 'Not Proofed', updatesheets_path %> | <%= link_to 'Add Update', datasheets_path %></td>
              <% elsif @course_update_status.sum != 0 && @course_update_status_proofing.sum == 0%>
                <td class="red"><%= @course_update_status.sum %> In-progress</td>
                <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Add Update', datasheets_path %></td>
              <% elsif @course_update_status.sum != 0 && @course_update_status_proofing.sum != 0%>
                <td class="red"><%= @course_update_status.sum %> In-progress | <%= @course_update_status_proofing.sum %> Proofing</td>
                <td><%= link_to 'Updatesheet', updatesheets_path %> | <%= link_to 'Add Update', datasheets_path %></td>
              <% end %>
            </tr>
            <tr>
              <td>MSI Mailing</td>
              <% if (Date.today) > (@next_msi_mailing.min - 8) %>
                <td class="red">Mailing Due Now</td>
              <% elsif %>
                <td> Mailing due in <%= ((@next_msi_mailing.min - 8) - Date.today).to_i %> Days</td>
              <% end %>
              <% if (Date.today) > (@art_missing.min - 18) %>
                <td class="red">Behind on art</td>
              <% elsif %>
                <td class="">No art due yet (<%= ((@art_missing.min - 18) - Date.today).to_i %> Days) </td>
              <% end%>
            </tr>
            <tr>
              <td>Postcard Inventory</td>
              <% if @remaining_inventory.min >= 500%>
                <td class="green">Good</td>
                <td><a data-toggle="tab" href="#menu1">Inventory</a></td>
              <% elsif %>
                <td class="red">Low</td>
                <td> <strong><a data-toggle="tab" href="#menu1">Check Inventory</a></strong> </td>
              <% end %>
            </tr>

            <tr>
              <td>Texas Royalties Check </td>
              <% if Date.today > (@next_due.min.to_date + 5) %>
                <td class="red">Over Due (<%= (@next_due.min.to_date + 5).strftime('%-m/%-d/%y') %>)</td>
              <% elsif %>
                <td>Due: <%= (@next_due.min.to_date + 5).strftime('%-m/%-d/%y') %></td>
              <% end %>
              <td><%= link_to 'Materials', tx_royalties_path %></td>
            </tr>
          </tbody>
        </table>
      </div>
<!-- Tab 1 end -->
<!-- Tab 2 start -->
      <div id="menu1" class="tab-pane fade">
        <h3>Postcard Inventory</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Company</th>
              <th>Version</th>
              <th>Order Date</th>
              <th>Order Amount</th>
              <th>Remaining</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sequoia</td>
              <td>CPA NM</td>
              <td><%= @date_sequoia_cpa_nm.max.strftime('%-m/%-d/%y') %></td>
              <td><%= @number_sequoia_cpa_nm[0] %></td>
              <% if (@inventory_sequoia_cpa_nm.sum - @used_sequoia_cpa_nm.sum) < 500 %>
                <td class="red"><%= @inventory_sequoia_cpa_nm.sum - @used_sequoia_cpa_nm.sum %></td>
              <% elsif %>
                <td><%= @inventory_sequoia_cpa_nm.sum - @used_sequoia_cpa_nm.sum %></td>
              <% end %>
            </tr>
            <tr>
              <td>Sequoia</td>
              <td>CPA RC</td>
              <td><%= @date_sequoia_cpa_rc.max.strftime('%-m/%-d/%y') %></td>
              <td><%= @number_sequoia_cpa_rc[0] %></td>
              <% if (@inventory_sequoia_cpa_rc.sum - @used_sequoia_cpa_rc.sum) < 500 %>
                <td class="red"><%= @inventory_sequoia_cpa_rc.sum - @used_sequoia_cpa_rc.sum %></td>
              <% elsif %>
                <td><%= @inventory_sequoia_cpa_rc.sum - @used_sequoia_cpa_rc.sum %></td>
              <% end %>
            </tr>
            <tr>
              <td>Sequoia</td>
              <td>EA NM</td>
              <td><%= @date_sequoia_ea_nm.max.strftime('%-m/%-d/%y') %></td>
              <td><%= @number_sequoia_ea_nm[0] %></td>
              <% if (@inventory_sequoia_ea_nm.sum - @used_sequoia_ea_nm.sum) < 500 %>
                <td class="red"><%= @inventory_sequoia_ea_nm.sum - @used_sequoia_ea_nm.sum %></td>
              <% elsif %>
                <td><%= @inventory_sequoia_ea_nm.sum - @used_sequoia_ea_nm.sum %></td>
              <% end %>
            </tr>
            <tr>
              <td>Sequoia</td>
              <td>EA RC</td>
              <td><%= @date_sequoia_ea_rc.max.strftime('%-m/%-d/%y') %></td>
              <td><%= @number_sequoia_ea_rc[0] %></td>
              <% if (@inventory_sequoia_ea_rc.sum - @used_sequoia_ea_rc.sum) < 500 %>
                <td class="red"><%= @inventory_sequoia_ea_rc.sum - @used_sequoia_ea_rc.sum %></td>
              <% elsif %>
                <td><%= @inventory_sequoia_ea_rc.sum - @used_sequoia_ea_rc.sum %></td>
              <% end %>
            </tr>
            <tr>
              <td>Empire</td>
              <td>General RC</td>
              <td><%= @date_empire_rc.max.strftime('%-m/%-d/%y') %></td>
              <td><%= @number_empire_rc[0] %></td>
              <% if (@inventory_empire_rc.sum - @used_empire_rc.sum) < 500 %>
                <td class="red"><%= @inventory_empire_rc.sum - @used_empire_rc.sum %></td>
              <% elsif %>
                <td><%= @inventory_empire_rc.sum - @used_empire_rc.sum %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
<!-- Tab 2 end -->
    </div>
<!-- Tabs End -->
  </div>
  <div class="well">
<!-- Tabs Start -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home2">Home</a></li>
      <li><a data-toggle="tab" href="#menu2">Menu 1</a></li>
    </ul>
<!-- Tab 1 Start -->
    <div class="tab-content">
      <div id="home2" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
<!-- Tab 1 end -->
<!-- Tab 2 start -->
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
<!-- Tab 2 end -->
    </div>
<!-- Tabs End -->
  </div>
</div>

<div class="col-lg-4">
  <div class="well">

    <h3 class="text-center"> Sequoia Sales: <%= number_to_currency(@yesterday_all.sum, :precision => 0) %> </h3>
     <h4 class="text-center"><%= 1.day.ago.strftime('%A, %-m/%-d') %></h4>
     <div class="row">
     <div class="col-lg-6">
     </br>
       <table class="table ">
         <thead>
           <tr>
             <th class="text-center" style="width: 33%">CPA </th>
             <th class="text-center" style="width: 33%">EA </th>
             <th class="text-center" style="width: 33%">AFSP </th>
           </tr>
         </thead>
         <tbody>
          <tr>
            <td class="text-center"> <%= number_to_currency(@cpa1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@ea1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@afsp1.first, :precision => 0) %> </td>
           </tr>
         </tbody>
         <thead>
           <tr>
             <th class="text-center" style="width: 33%">New</th>
             <th class="text-center" style="width: 33%">Return</th>
             <th class="text-center" style="width: 33%">Ethics</th>
           </tr>
         </thead>
         <tbody>
          <tr>
            <td class="text-center"> <%= number_to_currency(@mem_first1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@mem_renewal1.first, :precision => 0) %> </td>
            <td class="text-center"> <%= number_to_currency(@ethics1.first, :precision => 0) %> </td>
           </tr>
         </tbody>
       </table>


      </div>
      <br>
      <!-- <div class="col-lg-6">
       <%#= column_chart SequoiaCustomer.where(:purchase_date => 1.week.ago..Time.now.yesterday).group_by_day(:purchase_date, format: '%a, %-d').sum(:price),
           prefix: "$", thousands: ",", xtitle: "", ytitle: "", height: '175px', id: "Day", download: true, title: "" %>
      </div> -->
    </div>
    </div>

    <div class="well">
      <!-- <h1>Home</h1>
      CPA: <%= @cpa %></br>
      Test: <%= @test %></br>
      Date.today: <%= @date_today %></br>
      Time.now: <%= @time_now %></br> -->

      <h3 class="text-center"> Sequoia Sales: <%= number_to_currency(@total_yesterday, :precision => 0) %> </h3>
       <h4 class="text-center"><%= 1.day.ago.strftime('%A, %-m/%-d') %></h4>
<div class="row">
</br>
  <div class=" col-lg-5">
  </br>
  <!-- <h5 class="text-center">Yesterday Breakdown</h5> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" style="width: 33%">CPA </th>
            <th class="text-center" style="width: 33%">EA </th>
            <th class="text-center" style="width: 33%">AFSP </th>
          </tr>
        </thead>
        <tbody>
         <tr class="text-center">
           <td> <%= number_to_currency(@cpa_yesterday, :precision => 0) %> </td>
           <td> <%= number_to_currency(@ea_yesterday, :precision => 0) %> </td>
           <td> <%= number_to_currency(@afsp_yesterday, :precision => 0) %> </td>
          </tr>
        <!-- </tbody>
        <thead> -->
          <tr>
            <th class="text-center">New</th>
            <th class="text-center">Return</th>
            <th class="text-center">Ethics</th>
          </tr>
        <!-- </thead>
        <tbody> -->
         <tr class="text-center">
           <td> <%= number_to_currency(@new_mem, :precision => 0) %> </td>
           <td> <%= number_to_currency(@return_mem, :precision => 0) %> </td>
           <td> <%= number_to_currency(@cpa_yesterday_ethics, :precision => 0) %> </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="well col-lg-7">
    <%= column_chart @column_chart_yesterday, prefix: "$", thousands: ",", xtitle: "", ytitle: "", height: '', id: "Day", download: true, title: "" %>
  </div>
</div>
    </div>
  </div>





<% end %>
</body>
