<p id="notice"><%= notice %></p>

<p>
  <strong>Mid:</strong>
  <%= @sequoia_customer_match.mid %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @sequoia_customer_match.uid %>
</p>

<p>
  <strong>Match date:</strong>
  <%= @sequoia_customer_match.match_date %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @sequoia_customer_match.extra_s %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @sequoia_customer_match.extra_i %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @sequoia_customer_match.extra_b %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @sequoia_customer_match.extra_d %>
</p>

<%= link_to 'Edit', edit_sequoia_customer_match_path(@sequoia_customer_match) %> |
<%= link_to 'Back', sequoia_customer_matches_path %>
