<%= simple_form_for(@copyright) do |f| %>

  <%= f.error_notification %>
</br>
<div class="well well-white col-lg-offset-3 col-lg-6">
</br>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :seq_number, label: false, placeholder: 'Sequoia Number' %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :author, label: false, placeholder: 'Author' %>
  </div>
  <div class="col-lg-3">
    <%= f.input :publisher, label: false, placeholder: 'Publisher' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= f.input :book, label: false, placeholder: 'Book Title' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <%= f.input :cpdate, label: false, placeholder: 'Copyright Date' %>
  </div>
</div>
</br>
<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>

<% end %>
