
<%= simple_form_for(@task_deadline) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-8">
        <%= f.input :title %>
      </div>
      <div class="col-lg-4">
        <%= f.input :state %>
      </div>
    </div>
    <%= f.input :note %>
    <%= f.input :date_s, label: 'Attention' %>
    <%= f.input :date_f, label: 'Submit' %>
    <%= f.input :extra_d, label: 'Due' %>
    <div class="row">
      <div class="col-lg-4">
        <%= f.input :cost, label: 'Cost' %>
        <%= f.input :time, label: 'Time' %>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="well col-lg-4">
        <%= f.input :status, lable: 'Task Status', as: :radio_buttons, collection: ['Upcoming','Complete','Hold'] %>
      </div>
    </div>
  </br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
