<p id="notice"><%= notice %></p>

<div class="page-header ">
</br>
  <h1 class="text-center"><%= @task_deadline.title %></h1>
  <div class="text-center">
    <%= link_to 'Edit Task', edit_task_deadline_path(@task_deadline), class: 'btn btn-primary' %>
    <%= link_to 'Task Index', task_deadlines_path, class: 'btn btn-primary' %>
    <%= link_to 'Remove', task_deadline_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>

  </br></br>
  </div>
</div>

<div class="col-lg-offset-1">
  <p>
    <strong>Title:</strong>
    <%= @task_deadline.title %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @task_deadline.state %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @task_deadline.note %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @task_deadline.status %>
  </p>

  <p>
    <strong>Attention:</strong>
    <%= @task_deadline.date_s.strftime('%-m/%-d/%y') %>
  </p>

  <p>
    <strong>Submit:</strong>
    <%= @task_deadline.date_f.strftime('%-m/%-d/%y') %>
  </p>
  <p>
    <strong>Due:</strong>
    <%= @task_deadline.extra_d.blank? ? '' : @task_deadline.extra_d.strftime('%-m/%-d/%y') %>
  </p>
  <p>
    <strong>Cost:</strong>
    <%= @task_deadline.cost.blank? ? '' : number_to_currency(@task_deadline.cost) %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= @task_deadline.time.blank? ? '' : @task_deadline.time %>
  </p>
</div>


<!-- <%= link_to 'Edit', edit_task_deadline_path(@task_deadline) %> | -->
<!-- <%= link_to 'Back', task_deadlines_path %> -->
