<p id="notice"><%= notice %></p>

<h3>Upload CSV File</h3>
  <%= form_tag import_sales_path, multipart: true do %>
  <%= file_field_tag :file %>
</br>
    <%= submit_tag 'Upload', class: 'btn btn-primary' %>
  <% end %>
</br>




<%= link_to 'Export', sales_path('csv'), class: 'btn btn-default' %>

<% if params['weekly'] == 'yes' %>
  <% @weekly = 'active' %>
<% elsif %>
  <% @weekly = '' %>
<% end %>
<% if params['weekly'] == 'yes' %>
  <% @home = '' %>
<% elsif %>
  <% @home = 'active' %>
<% end %>


<h1 class="text-center">Sales</h1>

<ul class="nav nav-tabs">
  <li class="<%= @home %>"><a data-toggle="tab" href="#home">Home</a></li>
  <li class= "<%= @weekly %>" ><a data-toggle="tab" href="#weekly">Weekly</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in <%= @home %>">

  <div class="row">
    <div class="col-lg-6">


    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Day</th>
          <th>Sequoia</th>
          <th>Empire</th>
          <th>Pacific</th>
        </tr>
      </thead>

      <tbody>
        <% @sales_display.each do |sale| %>
        <% unless sale.sequoia == 0 && sale.empire == 0 %>
          <tr>
            <td><%= link_to sale.day.strftime('%a, %-m/%-d/%y'), edit_sale_path(sale) %></td>
            <td><%= sale.sequoia.blank? ? 0 : number_to_currency(sale.sequoia) %></td>
            <td><%= sale.empire.blank? ? 0 : number_to_currency(sale.empire) %></td>
            <td><%= sale.pacific.blank? ? 0 : number_to_currency(sale.pacific) %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">



    <table class="table table-bordered well">
      <thead>
        <tr>
          <th>Day</th>
          <th>Sequoia</th>
          <th>Empire</th>
          <th>Pacific</th>
        </tr>
      </thead>

      <tbody>
        <% @sales_enter.each do |sale| %>
        <% if sale.sequoia == 0 && sale.empire == 0 %>
          <tr>
            <td><%= link_to sale.day.strftime('%a, %-m/%-d/%y'), edit_sale_path(sale) %></td>
            <td><%= sale.sequoia.blank? ? 0 : number_to_currency(sale.sequoia) %></td>
            <td><%= sale.empire.blank? ? 0 : number_to_currency(sale.empire) %></td>
            <td><%= sale.pacific.blank? ? 0 : number_to_currency(sale.pacific) %></td>
            <!-- <td><%= link_to 'Show', sale %></td>
            <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
            <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</div>

  <div id="weekly" class="tab-pane fade in <%= @weekly %>">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th colspan="10" class="text-center">Sequoia</th>
        </tr>
        <tr>
          <th></th>
          <% @dates.each do |i| %>
            <% if i.strftime('%a') == 'Mon' %>
              <th><%= i.strftime('%-m/%-d/%y') %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tr>
        <td>Monday</td>
        <% @mon.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Tuesday</td>
        <% @tue.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Wednesday</td>
        <% @wed.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Thursday</td>
        <% @thu.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Friday</td>
        <% @fri.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Saturday</td>
        <% @sat.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Sunday</td>
        <% @sun.each do |i| %>
          <td><%= number_to_currency(i) %></td>
        <% end %>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= number_to_currency(@mon[0] + @tue[0] + @wed[0] + @thu[0] + @fri[0] + @sat[0] + @sun[0]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[1] + @tue[1] + @wed[1] + @thu[1] + @fri[1] + @sat[1] + @sun[1]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[2] + @tue[2] + @wed[2] + @thu[2] + @fri[2] + @sat[2] + @sun[2]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[3] + @tue[3] + @wed[3] + @thu[3] + @fri[3] + @sat[3] + @sun[3]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[4] + @tue[4] + @wed[4] + @thu[4] + @fri[4] + @sat[4] + @sun[4]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[5] + @tue[5] + @wed[5] + @thu[5] + @fri[5] + @sat[5] + @sun[5]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[6] + @tue[6] + @wed[6] + @thu[6] + @fri[6] + @sat[6] + @sun[6]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[7] + @tue[7] + @wed[7] + @thu[7] + @fri[7] + @sat[7] + @sun[7]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[8] + @tue[8] + @wed[8] + @thu[8] + @fri[8] + @sat[8] + @sun[8]) %></strong></td>
        <td><strong><%= number_to_currency(@mon[9] + @tue[9] + @wed[9] + @thu[9] + @fri[9] + @sat[9] + @sun[9]) %></strong></td>
      </tr>
    </table>



  </div>
</div>




<br></br>
<%= render( :partial => 'week_table_2') %>
<%= render( :partial => 'week_table_test') %>
B: <%= @week_b_2.strftime('%a %-m/%-d/%y') %>
E: <%= @week_e_2.strftime('%a %-m/%-d/%y') %>
<p><%= @weeks %></p>
</br>
<%= link_to 'New Sale', new_sale_path %>
