
<%= simple_form_for(@live_chat_answer) do |f| %>
  <%= f.error_notification %>

<div class="well well-white col-lg-offset-2 col-lg-8">
  <div class="form-inputs">
    <div class="row">
    <div class="col-lg-2">
      <%= f.input :company, label: 'Company', collection: @companies, as: :radio_buttons %>
    </div>
    <div class="col-lg-2">
      <%= f.input :des, label: 'Des (sequoia)', collection: @des, as: :radio_buttons %>
    </div>
    <div class="col-lg-2">
      <%= f.input :state, label: 'State (empire)', collection: @states, as: :select%>
      <!-- <%= f.input :topic, label: false, placeholder: 'Other: "TN Ethics"'%> -->

    </div>
    </div>
  </br>
    <%= f.input :question %>
    <!-- <%= f.input :topic %> -->
    <%= f.input :answer %>
    <%= f.input :notes, label: 'Addtional Notes' %>
    <%= f.input :date_org, label: 'Date Added' %>
    <!-- <%= f.input :extra_i %>
    <%= f.input :extra_s %>
    <%= f.input :extra_d %> -->
  </div>
</br>

  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
  </div>
</div>
<% end %>
