<p id="notice"><%= notice %></p>
<div class="page-header ">
</br>
<h1 class="text-center">Live Chat Answers</h1>
    <%= link_to 'Add New', new_live_chat_answer_path, class: 'btn btn-default ' %>
</div>

<div class="row">
<div class="col-md-3">
  <input class="form-control" id="myInput" type="text" placeholder="Search">
</div>
</div>
</br>

<table class="table table-hover">  <thead>
    <tr>
      <th>Company</th>
      <th>State</th>
      <th>Des</th>
      <th>Question</th>
      <th>Topic</th>
      <th>Answer</th>
      <th>Notes</th>
      <th>Date org</th>
      <!-- <th>Extra i</th>
      <th>Extra s</th>
      <th>Extra d</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @live_chat_answers.each do |live_chat_answer| %>
      <tr>
        <td><%= live_chat_answer.company %></td>
        <td><%= live_chat_answer.state %></td>
        <td><%= live_chat_answer.des %></td>
        <td><%= live_chat_answer.question %></td>
        <td><%= live_chat_answer.topic %></td>
        <td><%= live_chat_answer.answer %></td>
        <td><%= live_chat_answer.notes %></td>
        <td><%= live_chat_answer.date_org %></td>
        <!-- <td><%= live_chat_answer.extra_i %></td>
        <td><%= live_chat_answer.extra_s %></td>
        <td><%= live_chat_answer.extra_d %></td> -->
        <td><%= link_to 'Show', live_chat_answer %></td>
        <td><%= link_to 'Edit', edit_live_chat_answer_path(live_chat_answer) %></td>
        <td><%= link_to 'Destroy', live_chat_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Live Chat Answer', new_live_chat_answer_path %> -->
