
<%= simple_form_for(@empire_course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-2">
        <%= f.input :number %>
      </div>
      <div class="col-lg-2">
        <%= f.input :version %>
      </div>
    </div>
    <%= f.input :extra_s, label: false, as: :radio_buttons, collection: ['ARELLO', 'CA', 'Dearborn'] %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :title %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :category %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :hours %>
      </div>
    </div>

    <!-- <%= f.input :extra_i %> -->
    <%#= f.input :extra_d, label: 'Date Added' %>
    <%#= f.input :extra_b, label: 'Complete' %>
  </div>
</br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</br>
<% end %>
