
<%= simple_form_for(@empire_course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :version %>
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :hours %>
    <%= f.input :extra_s, label: 'Templete', as: :radio_buttons, collection: @templete_type %>
    <!-- <%= f.input :extra_i %> -->
    <!-- <%= f.input :extra_d %> -->
    <%= f.input :extra_b, label: 'Complete' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
