<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="5%" class="text-center">ID</th>
      <th>Task</th>
      <th><%= @empire_course.extra_s %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_creation_templetes.each do |course_creation_templete| %>
    <% unless @created.include? course_creation_templete.id %>
      <tr>
        <td class="text-center"><%= course_creation_templete.id - 4 %></td>
        <td><%= link_to course_creation_templete.templete_type, course_creation_templete %></td>
        <td><%= @empire_course.extra_s == 'ARELLO' ? course_creation_templete.instruction_1.truncate(125) : @empire_course.extra_s == 'California Course' ? course_creation_templete.instruction_2.truncate(125) : '' %></td>
        <td><%= link_to 'Assign', new_course_creation_task_path(:empire_course_id => @empire_course, :task_id => course_creation_templete.id, :task => course_creation_templete.templete_type, :title => @empire_course.title, :temp => @empire_course.extra_s) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
