<%= simple_form_for(@course_comment) do |f| %>
</br>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :taken, label: false, input_html: { value: @name }, hint: '', class: 'col-lg-2' %>
    </div>
    <div class="col-lg-4">
      <%= f.input :comment_date, label: false %>
    </div>
  </div>
</br>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :extra_i, label: false, placeholder: 'UID' %>
    </div>
  </div>
</br>
  <div class="row">
    <div class="col-lg-3">
      <%= f.input :course_number, label: false, placeholder: 'Course Number' %>
    </div>
    <div class="col-lg-1">
      <%= f.input :course_version, label: false, placeholder: 'V.' %>
    </div>
  </div>
</br>
  <%= f.input :comment_type, label: 'Comment Type', collection: @comment_types , as: :radio_buttons %>
<!-- </br> -->
  <%= f.input :comment_type_other, label: false, placeholder: 'Other Content Type' %>
</br>
  <%= f.input :comment_details, label: 'Comment Details' %>
</br>
  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</br>
  <% end %>
