<p id="notice"><%= notice %></p>

<div class="well jumbotron text-center">
  <h1>Course Comment</h1>
  <p><%= @course_comment.course_number %><%= @course_comment.course_version %> -</p>
</div>
</br>
<div class="col-lg-offset-2 col-lg-8">
<%= link_to 'Back to Index', course_comments_path, class: 'btn btn-primary' %> <%= link_to 'Edit Comment', edit_course_comment_path(@course_comment), class: 'btn btn-primary' %>
</br>
</br>
<div class="well well-white" >
  <h3 class=""><strong>Details</strong></h3>
</br>
<p>
  <strong>Taken By:</strong>
  <%= @course_comment.taken %>
</p>

<p>
  <strong>Date:</strong>
  <%= @course_comment.comment_date.strftime('%-m/%-d/%y') %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_comment.course_number %><%= @course_comment.course_version %> - <%= @course_comment.datasheet.seq_title %>
</p>

<p>
  <strong>UID:</strong>
  <%= @course_comment.extra_i %>
</p>
</br>
<p>
  <strong>Type of Comment:</strong>
  <%= @course_comment.comment_type != 'Other' ? @course_comment.comment_type : @course_comment.comment_type_other %>
</p>
</br>
<p>
  <!-- <strong>Comment details:</strong> -->
  <%= @course_comment.comment_details %>
</p>
</div>
</div> <!-- Main well -->
