<p id="notice"><%= notice %></p>

<div class="page-header">
</br>
<h1 class="text-center"><strong>Course Comment</strong></h1>
<h4 class="text-center"><%= @course_comment.course_number %><%= @course_comment.course_version %> - <%= @course_comment.Datasheet.seq_title %></h4>
  <div class="col-lg-offset-2">
    <%= link_to 'Back to Index', course_comments_path, class: 'btn btn-default' %> <%= link_to 'Edit Entry', edit_course_comment_path(@course_comment), class: 'btn btn-default' %>
  </div>
</div>
</br>


<div class="col-lg-offset-2 col-lg-8">

<div class="well well-white" >
  <h3 class=""><strong>Details</strong></h3>
</br>
<p>
  <strong>Taken By:</strong>
  <%= @course_comment.taken %>
</p>

<p>
  <strong>Date:</strong>
  <%= @course_comment.comment_date.strftime('%-m/%-d/%y') %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_comment.course_number %><%= @course_comment.course_version %> - <%= @course_comment.Datasheet.seq_title %>
</p>

<p>
  <strong>UID:</strong>
  <%= @course_comment.extra_i %>
</p>
</br>
<p>
  <strong>Type of Comment:</strong>
  <%= @course_comment.comment_type != 'Other' ? @course_comment.comment_type : @course_comment.comment_type_other %>
</p>
</br>
<p>
  <!-- <strong>Comment details:</strong> -->
  <%= @course_comment.comment_details %>
</p>
</div>
</div> <!-- Main well -->
