<!DOCTYPE html>
<html>
  <head>
    <title>SequoiaCourses</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Varela+Round|Alfa+Slab+One" rel="stylesheet">
  </head>

  <body>


    <% user_signed_in? && current_user.email == 'austin@sequoiacpe.com' ? @name = 'Austin' : '' %>
    <% user_signed_in? && current_user.email == 'michael@sequoiacpe.com' ? @name = 'Michael' : '' %>
    <% user_signed_in? && current_user.email == 'kyle@sequoiacpe.com' ? @name = 'Kyle' : '' %>
    <% user_signed_in? && current_user.email == 'ashley@sequoiacpe.com' ? @name = 'Ashley' : '' %>

<% unless controller_name == "sequoia" %>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

        <% if user_signed_in? && current_user.superadmin_role? %>
          <%= link_to 'Sequoia CPE', sequoia_dash_path, class: "navbar-brand" %>
        <% elsif user_signed_in? && current_user.email == 'ashley@sequoiacpe.com' %>
          <%= link_to 'Sequoia CPE', sequoia_dash_ashley_path %>
        <% end %>

      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Course Datasheet', datasheets_path %></li>
        <li><%= link_to 'Course Updatesheet', updatesheets_path %></li>
        <li><%= link_to 'Copyrights', copyrights_path %></li>
        <li><%= link_to 'Seq Customers', sequoia_customers_path %></li>
        <li><%= link_to 'Postcards', postcard_returns_path %></li>
        <li><%= link_to 'PES Courses', pes_courses_path %></li>
        <li><%= link_to 'Postcard Mailings', postcard_mailings_path %></li>
        <li><%= link_to 'Postcard inventory', inventories_path %></li>
        <!-- <li><%= link_to 'Seq Dash', sequoia_dash_path %></li>
        <li><%= link_to 'Empire Dash', empire_dash_path %></li> -->
        <li><%= link_to 'Task', tasks_path %></li>
      <% if user_signed_in? && current_user.superadmin_role? %>
        <li><%= link_to 'Mailing', mailings_path %></li>
        <li><%= link_to 'Empire Mailing', empire_mailings_path %></li>
        <li><%= link_to 'Texas Royalties', tx_royalties_path %></li>
        <li><%= link_to 'Eamil Campaign', email_campaigns_path %></li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- <li><%= @name %></li> -->
          <li><%= link_to @name, edit_user_registration_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'sign up', new_user_registration_path %></li>
          <li><%= link_to 'log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% end %>

    <%= yield %>
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {

        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {

          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    }); //Doc Ready end
  </script>
  </body>
</html>
