<!DOCTYPE html>
<html>
  <head>
    <title>SequoiaCourses</title>
    <%= csrf_meta_tags %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Varela+Round|Alfa+Slab+One" rel="stylesheet">
  </head>

  <body>

    <% user_signed_in? && current_user.email == 'austin@sequoiacpe.com' ? @name = 'Austin' : '' %>
    <% user_signed_in? && current_user.email == 'michael@sequoiacpe.com' ? @name = 'Michael' : '' %>
    <% user_signed_in? && current_user.email == 'kyle@sequoiacpe.com' ? @name = 'Kyle' : '' %>
    <% user_signed_in? && current_user.email == 'ashley@sequoiacpe.com' ? @name = 'Ashley' : '' %>
    <% user_signed_in? && current_user.email == 'sabrina@sequoiacpe.com' ? @name = 'Sabrina' : '' %>
    <% user_signed_in? && current_user.email == 'john@empirelearning.com' ? @name = 'John' : '' %>

<% unless controller_name == "test_pages" %> <!-- No Menus at all for test page -->

<% unless controller_name == "sequoia" || controller_name == "test_pages" %>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="clearfix">
    <div class="col-lg-4">
      <% if user_signed_in? && current_user.superadmin_role? && @name == 'Austin'%>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_path, class: 'button-none'%></strong>
      <% elsif user_signed_in? && current_user.superadmin_role? && @name == 'Kyle'%>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_kyle_path, class: 'button-none'%></strong>
      <% elsif user_signed_in? && @name == 'Ashley' %>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_ashley_path, class: 'button-none'%></strong>
      <% elsif user_signed_in? && @name == 'Michael'%>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_michael_path, class: 'button-none'%></strong>
      <% elsif user_signed_in? && @name == 'Sabrina'%>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_sabrina_path, class: 'button-none'%></strong>
      <% elsif user_signed_in? && @name == 'John'%>
        <h1 class="off-white"><strong><%= link_to "Dashboard", sequoia_dash_john_path, class: 'button-none'%></strong>
      <% elsif %>
      <h1> Dashboard </h1>
      <% end %>
    </div>
    <div class="box image-center text-center">
        <%= image_tag("logos/seq_empire_logo_white.png", width: '400px') %>
    </div>
<% end %>

  <div class="dropdown header-size pull-right menu-center">
    <% if controller_name == "sequoia" %>
      <button class="button-none" type="button" data-toggle="dropdown"><span class="off-white glyphicon glyphicon-option-vertical gi-2x"></span></button>
    <% elsif %>
      <button class="button-none" type="button" data-toggle="dropdown"><span class="off-white glyphicon glyphicon-menu-hamburger gi-2x"></span></button>
    <% end %>
      <ul class="dropdown-menu">
<!-- Dashboards -->
        <% if user_signed_in? && current_user.superadmin_role == true %>
          <li class="dropdown-header">Dashboards</li>
            <li><%= link_to 'Austin Dashboard', sequoia_dash_path %></li>
            <li><%= link_to 'Kyle Dashboard', sequoia_dash_kyle_path %></li>
            <li><%= link_to 'Michael Dashboard', sequoia_dash_michael_path %></li>
            <li><%= link_to 'Sabrina Dashboard', sequoia_dash_sabrina_path %></li>
            <li><%= link_to 'Ashley Dashboard', sequoia_dash_ashley_path %></li>
            <li><%= link_to 'John Dashboard', sequoia_dash_john_path %></li>
          <li class="divider"></li>
        <% elsif user_signed_in? && current_user.supervisor_role == true %>
          <li class="dropdown-header">Dashboards</li>
            <li><%= link_to 'Michael Dashboard', sequoia_dash_michael_path %></li>
            <li><%= link_to 'Sabrina Dashboard', sequoia_dash_path %></li>
            <li><%= link_to 'Ashley Dashboard', sequoia_dash_ashley_path %></li>
          <li class="divider"></li>
        <% elsif user_signed_in? && current_user.email == 'ashley@sequoiacpe.com' %>
          <li><%= link_to 'My Dashboard', sequoia_dash_ashley_path %></li>
        <% elsif user_signed_in? && current_user.email == 'sabrina@sequoiacpe.com' %>
          <li><strong><%= link_to 'My Dashboard', sequoia_dash_sabrina_path %></strong></li>
        <% end %>
<!-- End Dashboards -->
        <li class="dropdown-header">Courses</li>
          <li><%= link_to 'Course Datasheet', datasheets_path %></li>
          <li><%= link_to 'Course Updatesheet', updatesheets_path %></li>
          <li><%= link_to 'Course Comments', course_comments_path %></li>
          <li><%= link_to 'Copyrights', copyrights_path %></li>
          <li><%= link_to 'PES Courses', pes_courses_path %></li>
          <li><%= link_to 'Course Status', sales_report_course_status_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Customer Info</li>
          <li><%= link_to 'Seq Customers', sequoia_customers_path %></li>
          <li><%= link_to 'Seq Exams', sequoia_exams_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Marketing</li>
            <li><%= link_to 'No Mail', master_lists_path %></li>
            <li><%= link_to 'Postcards Returns', postcard_returns_path %></li>
            <li><%= link_to 'Postcard Mailings', postcard_mailings_path %></li>
            <li><%= link_to 'Postcard Inventory', inventories_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Exams</li>
          <li><%= link_to 'Exam Index', exam_results_path %></li>
          <li><%= link_to 'Exam Stats', sales_report_sequoia_exams_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">Other</li>
          <li><%= link_to 'Texas Royalties', tx_royalties_path %></li>
          <li><%= link_to 'Email Stats', email_campaigns_path %></li>
          <li><%= link_to 'Call Logs', call_logs_path %></li>
        <% if user_signed_in? && current_user.superadmin_role? %>
        <li class="divider"></li>
        <li class="dropdown-header">Admin</li>
          <li><%= link_to 'MSI Mailing Index', mailings_path %></li>
            <li><%= link_to 'Empire MSI', empire_mailings_path %></li>
            <li><%= link_to 'State CPE Info', cpe_due_dates_path %></li>
          <li><a href="/admin">Admin Panel</a></li>
        <% end %>

        <li class="divider"></li>
          <% if user_signed_in? %>
            <li> <%= link_to "Log Out - #{ @name }", destroy_user_session_path, method: :delete %></li>
          <% elsif %>
        <li class="divider"></li>
            <li><a href="/users/sign_in">Log in</a></li>
        <% end %>
          </ul>
    </div>
    <!-- Clearfix end -->
  </div>
</div>
</nav>
<% end %>

    <%= yield %>

  </body>
</html>
